<div style="position: fixed; top: 10px; left: 10px; z-index: 1000;">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz2BIzG0DZvVxoEhkTyuBxmGrgcBzwFcPGDQ&s" 
     width="65" 
     alt="ITQ"/>
</div>

<h1>INTRODUCCION A PYTHON</h1><br>

**Nombre:** *Gabriel Q. Pazmiño* <br>

**Fecha:** 07/01/2026 <br>

<h1>1. Introducción a Python</h1> <br>

<h3>1.1 Principales caracteristicas</h3>

• <strong>Lenguaje de Propósito general</strong><br>
• <strong>Interpretado, no compilado.</strong> Más flexible y portable<br>
• <strong>Tipado dinámico</strong><br>
• <strong>Fuertemente tipado</strong><br>
• <strong>Énfasis en la legibilidad</strong><br>
• <strong>Lenguaje de alto nivel</strong><br>
• <strong>Gestión automática de memoria.</strong> Cuando el rendimiento es crítico, hay lenguajes más apropiados<br>
• <strong>Multiparadigma:</strong> orientado a objetos, procedural y funcional<br>
• <strong>Indentación para delimitar bloques de código</strong><br>
• <strong>Gran librería con módulos para múltiples tareas.</strong><br>
• <strong>Multiplataforma</strong>

<h2>1.2 Por que Python?</h2>

<blockquote>
    “Python is used in pursuits as diverse as data science, film-making, computer science education, IT management, and much more. There really is no computing field that Python has not touched (except maybe kernel development). Python is loved for its flexibility, beautiful and succinct syntax, object-oriented purity, and bustling community. The strong community is important because it means Python is welcoming to newcomers and has a large ecosystem of available libraries for developers to build upon.”
    <footer>Kopec, D. (2019). <cite>Classic computer science problems in Python</cite>. Simon and Schuster.</footer>
</blockquote>

<ul>
    <li>Uno de los lenguajes más usados en todo el mundo.</li>
    <li>Perfecto para introducción a la programación.</li>
    <li>Ecosistema amplio con librerías estables para múltiples áreas.</li>
    <li>Comunidad muy participativa y mucha documentación.</li>
    <li>Incrementa la productividad del desarrollador:
        <ul>
            <li>Menos programación. Código más compacto.</li>
            <li>No largas compilaciones.</li>
            <li>Código legible, fácilmente mantenible.</li>
        </ul>
    </li>
    <li>Fácil integración con herramientas y otros lenguajes.</li>
    <li>Versátil en la tipología de programación.</li>
    <li>Es multiplataforma, portable.</li>
    <li>Compilable para mejorar ejecución.</li>
    <li>Trabajo de memoria con gran cantidad de datos.</li>
</ul>

<h2>1.3 Que puedo hacer con Python?</h2>

<ul>
  <li>Herramientas Shell (Administración de Sistemas)</li>
  <li>Manipulación de Archivos</li>
  <li>Ejecución de Comandos</li>
  <li>Desarrollo de Interfaces Gráficas de Usuario (GUIs)</li>
  <li>Comunicación por Internet y Redes
    <ul>
      <li>Generación y Análisis (Parsing) de XML y JSON</li>
      <li>Recuperación de Contenido Web por URL</li>
      <li>Comunicación mediante Sockets</li>
      <li>Transferencia de Archivos por FTP</li>
    </ul>
  </li>
  <li>Programación de Bases de Datos</li>
  <li>Computación Numérica (NumPy)</li>
  <li>Análisis de Lenguaje Natural</li>
  <li>Aprendizaje Automático e Inteligencia Artificial</li>
  <li>Programación Multimedia</li>
  <li>Tratamiento de Datos
    <ul>
      <li>Álgebra Lineal (Linear Algebra)</li>
      <li>Modelado Estadístico (Statistical Modeling)</li>
      <li>Visualización (Visualization)</li>
      <li>Lingüística Computacional (Computational Linguistics)</li>
      <li>Análisis de Grafos (Graph Analysis)</li>
      <li>Aprendizaje Automático (Machine Learning)</li>
      <li>Inteligencia de Negocios (Business Intelligence)</li>
      <li>Almacenamiento y Recuperación de Datos (Data Storage and Retrieval)</li>
    </ul>
  </li>
</ul>

<h2>1.4 Filosofia Python</h2>

In [29]:
import this

<h2>1.5 Documentacion</h2>

<ul>
  <li>Python Enhancement Proposals (PEP)
    <ul>
      <li>Índice (Index)</li>
      <li>Propósito y Directrices (Purpose and Guidelines)</li>
    </ul>
  </li>
  <li>Guía de Estilo de Python (Python Style Guide)</li>
</ul>

<h1>2. Interprete de Python y ejecucion de scripts</h1>

<h2>2.1 Antes de empezar</h2>

<p>Se puede utilizar diferentes formas para ejecutar código:</p>
<ul>
  <li>Línea de comandos o terminal, Shell de Python (interactivo), python/ipython</li>
  <li>IDE (Entorno de Desarrollo Integrado):
    <ul>
      <li>Eclipse</li>
      <li>PyCharm</li>
      <li>Sublime Text</li>
      <li>Nano</li>
      <li>Visual Studio Code (VSCode)</li>
      <li>Atom</li>
      <li>Spyder</li>
      <li>… (otros)</li>
    </ul>
  </li>
  <li>Entornos en la nube/notebooks:
    <ul>
      <li>Google Colab</li>
      <li>Azure Notebooks</li>
      <li>Jupyter (JupyterLab/Jupyter Notebook)</li>
    </ul>
  </li>
</ul>

<h2>2.2 Que es un interprete?</h2>

<ul>
  <li>Un programa que ejecuta otros programas.</li>
  <li>Una capa de software entre tu código y el hardware que lo ejecuta.</li>
  <li>Debe estar instalado en tu ordenador para poder ejecutar código Python.</li>
  <li>Para la especificación de Python, existen varias implementaciones:
    <ul>
      <li>CPython (implementación en C) - Es el más común.</li>
      <li>Jython (implementación en Java).</li>
      <li>IronPython (implementación en .NET).</li>
    </ul>
  </li>
</ul>

<h2>2.3 Como se lleva a cabo la ejecucion de scripts?</h2>

In [30]:
# Imprimir en pantalla hello"
print('HEllo World')

HEllo World

<h2>2.4 Perspectiva del desarrollador</h2>

<ul>
  <li>Un script en Python es un fichero de texto que:
    <ul>
      <li>Contiene instrucciones Python.</li>
      <li>Tiene extensión <code>.py</code>.</li>
    </ul>
  </li>
  <li>Puedes ejecutar scripts mediante:
    <ul>
      <li>Línea de comandos (terminal)</li>
      <li>IDE (Entorno de Desarrollo Integrado)</li>
    </ul>
  </li>
</ul>

<h2>2.5 Perspectiva de Python</h2>

<ol>
  <li><strong>Compilación de código fuente a byte code</strong>
    <ul>
      <li>El código byte code se ejecuta más rápido.</li>
      <li>Se generan ficheros <code>.pyc</code> que se almacenan en caché.</li>
      <li>Permite saltarse el paso de compilación en ejecuciones posteriores.</li>
    </ul>
  </li>
  <li><strong>Python Virtual Machine (PVM)</strong>
    <ul>
      <li>Ejecuta las instrucciones en byte code.</li>
    </ul>
  </li>
</ol>

<h2>2.6 ¿Cómo puedes ejecutar tus scripts?</h2>

<h4>2.7 Línea de comandos</h4>
<ul>
  <li>Ejecutar "py" o "python" para abrir una sesión interactiva del intérprete.</li>
  <li>También ejecutando la aplicación "Python" desde el menú inicio (Windows).</li>
  <li>Los caracteres ">>>" indican que estás en una sesión interactiva.</li>
  <li>Útil para experimentación y testing.</li>
</ul>
>>> print('Hello world') <br>
Hello world <br>
<p><strong>Inconveniente:</strong> los programas que ejecutas en la línea de comandos desaparecen tras ser ejecutados.</p>

<h2>2.8 REPL (Read-Eval-Print Loop)</h2>

<p>
  Sistema interactivo para comunicarse con el ordenador en un lenguaje, en este caso Python. 
  Se debe cumplir el ciclo:
</p>
<ul>
  <li><strong>Read (Leer):</strong> El ordenador pueda leer comandos/instrucciones como entrada.</li>
  <li><strong>Evaluate (Evaluar):</strong> El código pueda ser procesado e interpretado.</li>
  <li><strong>Print (Imprimir):</strong> Los resultados puedan verse en la salida.</li>
  <li><strong>Loop (Bucle):</strong> Continuar con la conversación en un ciclo continuo.</li>
</ul>

<h2>2.9 Ficheros</h2>

<ul>
  <li>Permiten almacenar programas permanentemente.</li>
  <li>Son ficheros de texto plano con instrucciones Python.</li>
  <li>En Linux/Mac, incluir shebang en la primera línea: 
    <code>#!/usr/bin/env python3</code>
  </li>
</ul>

<h4>Terminología (varía según fuentes):</h4>
<ul>
  <li><strong>Scripts o programas:</strong> archivo principal que se ejecuta directamente.</li>
  <li><strong>Módulos:</strong> ficheros importados desde otros ficheros.</li>
</ul>

<h4>Formas de ejecutar scripts:</h4>

<ol>
  <li><strong>Usando el comando python:</strong>
    <pre><code>> python script1.py
Hello world</code></pre>
  </li>
  
  <li><strong>Alternativa (Python 3.3+):</strong>
    <pre><code>> py script1.py
Hello world</code></pre>
  </li>
  
  <li><strong>Directamente (con permisos en Unix/Linux):</strong>
    <pre><code>> ./script1.py
Hello world</code></pre>
  </li>
  
  <li><strong>Desde interfaz gráfica:</strong>
    <ul>
      <li>Doble-click sobre el fichero .py (depende de la configuración del sistema).</li>
    </ul>
  </li>
</ol>

<h2>2.10  Instalacion de librerias</h2>

<ul>
  <li><strong>pip</strong> (incluido por defecto desde Python 3.4)
    <ul>
      <li>Gestor de paquetes oficial de Python</li>
      <li>Instala paquetes desde PyPI (Python Package Index)</li>
    </ul>
  </li>
  <li><strong>pipenv</strong> (gestiona paquetes y entornos virtuales)
    <ul>
      <li>Combina pip + virtualenv en una sola herramienta</li>
      <li>Usa Pipfile en lugar de requirements.txt</li>
    </ul>
  </li>
  <li><strong>virtualenv</strong>
    <ul>
      <li>Crea entornos virtuales aislados</li>
      <li>Solución tradicional para aislamiento de dependencias</li>
    </ul>
  </li>
</ul>

<h2>2.11  Jupyter</h2>

In [31]:
# Preguntar de forma interactiva
# print?
# Usar shift + tab para hint con ayuda
# Comentar una linea
# """
# Se puede comentar un texto
# más grande para hacer descripciones detalladas con más de una línea
# """
import pandas as pd
print("Siempre podremos 'poner' los comentarios en forma de salida, para ver ↪resultados")
print('Siempre podremos "poner" los comentarios en forma de salida, para ver ↪resultados')
# universidad = 'ITQ'
# print(universidad)

Siempre podremos 'poner' los comentarios en forma de salida, para ver ↪resultados
Siempre podremos "poner" los comentarios en forma de salida, para ver ↪resultados

<h4>Celdas Python</h4>
<ul>
  <li>Muestra el número de ejecución (ej: [1], [2], [3])</li>
  <li>Marca si está en ejecución con asterisco: [*]</li>
</ul>

<h4>Kernel</h4>
<ul>
  <li>Se puede resetear cuando haya problemas</li>
  <li>Opciones: "Restart", "Restart & Clear Output", "Restart & Run All"</li>
</ul>

<h4>Comandos especiales (IPython/mágicos)</h4>

<ul>
  <li><code>%run</code>: ejecuta un script Python
    <pre><code>%run ./miprograma.py</code></pre>
  </li>
  
  <li><code>%time</code>: mide tiempo de ejecución de una línea
    <pre><code>%time sum(range(1000000))</code></pre>
  </li>
  
  <li><code>%%time</code>: mide tiempo de ejecución de una celda completa
    <pre><code>%%time
import numpy as np
arr = np.random.rand(1000, 1000)
result = arr.mean()</code></pre>
  </li>
  
  <li><code>!</code>: ejecuta comando de consola/shell
    <pre><code>!ls -la
!pip list</code></pre>
  </li>
  
  <li><code>%%bash</code>: ejecuta múltiples comandos bash
    <pre><code>%%bash
ls -la
pwd
echo "Directorio actual mostrado"</code></pre>
  </li>
  
  <li><code>%%js</code>: ejecuta código JavaScript
    <pre><code>%%js
var master = "Máster en Inteligencia Artificial";
var codigo = 1;
alert("Esta asignatura tiene el código: " + codigo);</code></pre>
  </li>
</ul>

<h4>Atajos de teclado (Shortcuts)</h4>
<ul>
  <li>Ver documentación oficial de Jupyter</li>
  <li>Presionar <code>H</code> en modo comando para mostrar ayuda</li>
</ul>

In [32]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: F22C-C106

 Directorio de C:\Users\NW\OneDrive\Escritorio\cuadernomachine2026

16/01/2026  22:33    <DIR>          .
15/01/2026  23:03    <DIR>          ..
07/01/2026  19:08    <DIR>          .ipynb_checkpoints
16/01/2026  22:33           242.290 cuadernomachine2026.ipynb
08/01/2026  23:49    <DIR>          img
               1 archivos        242.290 bytes
               4 dirs   9.113.505.792 bytes libres

In [55]:
%%js
var asignatura = "Materia de Machine E-learning 1";
var codigo = 1;
alert("Esta asinatura tiene el código: " + codigo)

<h2>2.12 Performance Sample, NumPy vs Plain Python</h2>

In [34]:
import numpy as np
my_arr = np.arange(10000000) # Utilizando NumPy Arrays
my_list = list(range(10000000)) # Utilizando Listas

print("Primeros 10 elementos:", my_list[:10])
print("Últimos 10 elementos:", my_list[-10:])
print("Longitud de la lista:", len(my_list))

Primeros 10 elementos: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Últimos 10 elementos: [9999990, 9999991, 9999992, 9999993, 9999994, 9999995, 9999996, 9999997, 9999998, 9999999]
Longitud de la lista: 10000000

In [35]:
%time for _ in range(10): my_arr2 = my_arr * 2
%time for _ in range(10): my_list2 = [x * 2 for x in my_list]

CPU times: total: 203 ms
Wall time: 211 ms
CPU times: total: 5.67 s
Wall time: 6.03 s

<h1>3. Referencias</h1>

<ol>
  <li><strong>González Duque, R.</strong> <em>Python para todos.</em> Licencia Creative Commons.</li>
  <li><strong>Boschetti, A. y Massaron, L.</strong> (2016). <em>Python Data Science Essentials, Second edition.</em> Birmingham-Mumbai: Packt.</li>
  <li><strong>Python Software Foundation.</strong> 2. Built-in Functions — Python 3.6.7 documentation. Recuperado el 16 noviembre 2018 de: <a href="https://docs.python.org/3.6/library/functions.html">https://docs.python.org/3.6/library/functions.html</a></li>
  <li><strong>Tutorialspoint.</strong> Python Tutorial. Recuperado el 16 noviembre 2018 de: <a href="https://www.tutorialspoint.com/python/">https://www.tutorialspoint.com/python/</a></li>
  <li><strong>Reitz, Kenneth</strong> (2018). Code Style — The Hitchhiker's Guide to Python. Recuperado el 16 noviembre 2018 de: <a href="https://docs.python-guide.org/writing/style/">https://docs.python-guide.org/writing/style/</a></li>
  <li><strong>Hofmann, Frank</strong> (2018). Introduction to the Python Coding Style. Recuperado el 16 noviembre 2018 de: <a href="https://stackabuse.com/introduction-to-the-python-coding-style/">https://stackabuse.com/introduction-to-the-python-coding-style/</a></li>
  <li><strong>Perez, Fernando</strong> (2017). Design At Large: The Architecture of Jupyter. YouTube. <a href="https://www.youtube.com/watch?v=dENc0gwzySc&t=131s">https://www.youtube.com/watch?v=dENc0gwzySc&t=131s</a></li>
</ol>

<h1>github</h1>
** https://github.com/Vanship77/cuaderno-machine-learning.git **

<h1>1. Tercer Modulo- Python , Data Types</h1>
**Fecha:** 08/01/2026 <br>

<h1>1 Comentarios</h1>

<h2>1.1 Que son?</h2>

<p>Texto contenido en ficheros Python que es ignorado por el intérprete; es decir, no es ejecutado.</p>

<h2>Cual es su utilidad?</h2>

<ul>
  <li><p>Se puede utilizar para documentar código y hacerlo más legible</p></li>
  <li><p>Preferiblemente, trataremos de hacer código fácil de entender y que necesite pocos comentarios, en lugar de vernos forzados a recurrir a los comentarios para explicar el código.</p></li>
</ul>

<h2>1.3  Tipos de comentarios</h2>

<h3><strong>Comentarios de una línea</h3>

<ul>
  <li><p>Texto precedido por <code>#</code></p></li>
  <li><p>Se suele usar para documentar expresiones sencillas.</p></li>
</ul>

In [36]:
# Esto es una instrucción print
print('Hello world') # Esto es una instrucción print

Hello world

<h3><strong>Comentarios de varias líneas</h3>

<ul>
  <li><p>Texto encapsulado en triples comillas (que pueden ser tanto comillas simples como dobles).</p></li>
  <li><p>Se suele usar para documentar bloques de código más significativos.</p></li>
</ul>

In [37]:
def producto(x, y):
    '''
Esta función recibe dos números como parámetros y devuelve
como resultado el producto de los mismos.
    '''
    return x * y

<h1>2. Literales, variables y tipos de datos básicos</h1>

<p>De forma muy genérica, al ejecutarse un programa Python, simplemente se realizan operaciones sobre objetos. Estos dos términos son fundamentales.</p>

<ul>
  <li><strong>Objetos:</strong> cualquier tipo de datos (números, caracteres o datos más complejos).</li>
  <li><strong>Operaciones:</strong> cómo manipulamos estos datos.</li>
</ul>

<p><strong>Ejemplo:</strong></p>

In [38]:
4 + 3

7

<h2>2.1 Literales</h2>

<ul>
  <li>Python tiene una serie de tipos de datos integrados en el propio lenguaje.</li>
  <li>Los literales son expresiones que generan objetos de estos tipos.</li>
  <li>Estos objetos, según su tipo, pueden ser:
    <ul>
      <li>Simples o compuestos.</li>
      <li>Mutables o immutables.</li>
    </ul>
  </li>
</ul>

<h3>Literales simples</h3>

<ul>
  <li>Enteros</li>
  <li>Decimales o punto flotante</li>
  <li>Booleano</li>
</ul>

In [39]:
print(4) # número entero
print(4.2) # número en coma flotante
print('Hello world!') # string
print(False)

4
4.2
Hello world!
False

<h3>Literales compuestos</h3>

<ul>
  <li>Tuplas</li>
  <li>Listas</li>
  <li>Diccionarios</li>
  <li>Conjuntos</li>
</ul>

In [40]:
print([1, 2, 3, 3]) # lista - mutable
print({'Nombre' : 'John Doe', "edad": 30}) # Diccionario - mutable
print({1, 2, 3, 3}) # Conjunto - mutable
print((4, 5)) # tupla - inmutable
2, 4 # tupla

[1, 2, 3, 3]
{'Nombre': 'John Doe', 'edad': 30}
{1, 2, 3}
(4, 5)

(2, 4)

<h2>2.2 Variables</h2>

*   **Referencias a objetos:**
    *   Las variables y los objetos se almacenan en diferentes zonas de memoria.
    *   Las variables siempre referencian a objetos y nunca a otras variables.
    *   Objetos sí que pueden referenciar a otros objetos. Ejemplo: listas.

*   **Sentencia de asignación:**
    <!-- FORMATO A SEGUIR: <nombre_variable> '=' <objeto> -->
    `〈nombre_variable〉 = 〈objeto〉`

In [41]:
 # # Asignación de variables
a = 5
print(a)

5

In [42]:
a = 1 # entero
b = 4.0 # coma flotante
c = "ITQ" # string
d = 10 + 1j # numero complejo
e = True #False # boolean
f = None # None
# visualizar valor de las variables y su tipo
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))
print(e)
print(type(e))
print(f)
print(type(f))

1
<class 'int'>
4.0
<class 'float'>
ITQ
<class 'str'>
(10+1j)
<class 'complex'>
True
<class 'bool'>
None
<class 'NoneType'>

<ul>
  <li>Las variables no tienen tipo.</li>
  <li>Las variables apuntan a objetos que sí lo tienen.</li>
  <li>Dado que Python es un lenguaje de tipado dinámico, la misma variable puede apuntar, en momentos diferentes de la ejecución del programa, a objetos de diferente tipo.</li>
</ul>

In [43]:
a = 3
print(a)
print(type(a))
a = 'Pablo García'
print(a)
print(type(a))
a = 4.5
print(a)
print(type(a))

3
<class 'int'>
Pablo García
<class 'str'>
4.5
<class 'float'>

* Garbage collection: Cuando un objeto deja de estar referenciado, se elimina automáticamente.

<h2>Identificadores</h2>

* Podemos obtener un identificador único para los objetos referenciados por variables.
* Este identificador se obtiene a partir de la dirección de memoria.

In [44]:
a = 3
print(id(a))
a = 'Pablo García'
print(id(a))
a = 4.5
print(id(a))

140710810334184
1372716252288
1372715702896

* Referencias compartidas: un mismo objeto puede ser referenciado por más de una variable.
* Variables que referencian al mismo objeto tienen mismo identificador.

In [45]:
a = 4567
print(id(a))

1374381000144

In [46]:
b = a
print(id(b))

1374381000144

In [47]:
c = 4567
print(id(c))

1374381000528

In [48]:
a = 25
b = 25
print(id(a))
print(id(b))
print(id(25))

140710810334888
140710810334888
140710810334888

In [49]:
# # Ojo con los enteros "grandes" [-5, 256]
a = 258
b = 258
print(id(a))
print(id(b))
print(id(258))

1374381000976
1374381000272
1374381000624

* Referencia al mismo objeto a través de asignar una variable a otra.

In [50]:
a = 400
b = a
print(id(a))
print(id(b))

1374381000592
1374381000592

* Las variables pueden aparecer en expresiones.

In [51]:
a = 3
b = 5
print(id(a))
print (a + b)

140710810334184
8

In [52]:
c = a + b
print(c)
print(id(c))

8
140710810334344

<h2>Respecto a los nombres de las variables …</h2>

<ul>
  <li>No se puede poner números delante del nombre de las variables.</li>
  <li>Por convención, evitar CamelCase. Mejor usar snake_case: uso de “_” para separar palabras.</li>
  <li>El lenguaje diferencia entre mayúsculas y minúsculas.</li>
  <li>Deben ser descriptivos.</li>
  <li>Hay palabras o métodos reservados -> Built-ins y KeyWords
    <ul>
      <li>Ojo con reasignar un nombre reservado!</li>
    </ul>
  </li>
</ul>

In [53]:
print(pow(3,2))

5

In [54]:
print(pow(3,2))

pow = 1 # built-in reasignado
print(pow)

print(pow(3,2))

5
1

TypeError: 'int' object is not callable

In [56]:
def pow(a, b):
    return a + b
print(pow(3,2))

5

<h2>Asignacion multiple de variables</h2>

In [57]:
x, y, z = 1, 2, 3
print(x, y, z)
t = x, y, z, 7, "Python"
print(t)
print(type(t))

1 2 3
(1, 2, 3, 7, 'Python')
<class 'tuple'>

* Esta técnica tiene un uso interesante: el intercambio de valores entre dos variables.

In [58]:
a = 1
b = 2
a, b = b, a
print(a, b)

2 1

In [59]:
a = 1
b = 2
c = a
a = b
b = c
print(a, b, c)

2 1 1

<h2>2.3 Tipos de datos basicos</h2>

**Bool**
*   2 posibles valores: `True` o `False`.

In [60]:
a = False
b = True
print(a)
print(type(a))
print(b)
print(type(b))

False
<class 'bool'>
True
<class 'bool'>

*   `True` y `False` también son objetos que se guardan en caché, al igual que los enteros pequeños.

In [61]:
a = True
b = False
print(id(a))
print(id(b))
print(a is b)
print(a == b)

140710809422304
140710809422336
False
False

<h3>Numeros</h3>

In [62]:
print(2) # Enteros, sin parte fraccional.
print(3.4) # Números en coma flotante, con parte fraccional.
print(2+4j) # Números complejos.
print(1/2) # Numeros racionales.

2
3.4
(2+4j)
0.5

<ul>
  <li>Diferentes representaciones: base 10, 2, 8, 16.</li>
</ul>

In [63]:
x = 58 # decimal
z = 0b00111010 # binario
w = 0o72 # octal
y = 0x3A # hexadecimal
print(x == y == z == w)

True

<h3>Strings</h3>

<ul>
  <li>Cadenas de caracteres.</li>
  <li>Son secuencias: la posición de los caracteres es importante.</li>
  <li>Son immutables: las operaciones sobre strings no cambian el string original.</li>
</ul>

In [64]:
s = 'John "ee" Doe'
print(s[0]) # Primer carácter del string.
print(s[-1]) # Último carácter del string.
print(s[1:8:2]) # Substring desde el segundo carácter (inclusive) hasta el octavo (exclusive). Esta técnica se la conoce como 'slicing'.
print(s[:]) # Todo el string.
print(s + "e") # Concatenación.

J
e
on"e
John "ee" Doe
John "ee" Doee

<h2>2.4 Conversion entre tipos</h2>

<ul>
  <li>A veces queremos que un objeto sea de un tipo específico.</li>
  <li>Podemos obtener objetos de un tipo a partir de objetos de un tipo diferente (casting).</li>
</ul>

In [65]:
a = int(2.8) # a será 2
b = int("3") # b será 3
c = float(1) # c será 1.0
d = float("3") # d será 3.0
e = str(2) # e será '2'
f = str(3.0) # f será '3.0'
g = bool("a") # g será True
h = bool("") # h será False
i = bool(3) # i será True
j = bool(0) # j será False
k = bool(None)
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))
print(e)
print(type(e))
print(f)
print(type(f))
print(g)
print(type(g))
print(h)
print(type(h))
print(i)
print(type(i))
print(j)
print(type(j))
print(k)

2
<class 'int'>
3
<class 'int'>
1.0
<class 'float'>
3.0
<class 'float'>
2
<class 'str'>
3.0
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
False

In [66]:
print(7/4) # División convencional. Resultado de tipo 'float'
print(7//4) # División entera. Resultado de tipo 'int'
print(int(7/4)) # Divisón convencional. Conversión del resultado de 'float' a'int'

1.75
1
1

<h2>2.5 Operadores</h2>

<h3>Python3 Precedencia en Operaciones</h3>
<ul>
  <li>Combinación de valores, variables y operadores</li>
  <li>Operadores y operandos</li>
</ul>

<h2>Operatores aritmeticos</h2>

<table border="1">
  <tr>
    <th>Operador</th>
    <th>Descripción</th>
  </tr>
  <tr>
    <td>a + b</td>
    <td>Suma</td>
  </tr>
  <tr>
    <td>a - b</td>
    <td>Resta</td>
  </tr>
  <tr>
    <td>a / b</td>
    <td>División</td>
  </tr>
  <tr>
    <td>a // b</td>
    <td>División Entera</td>
  </tr>
  <tr>
    <td>a % b</td>
    <td>Módulo / Resto</td>
  </tr>
  <tr>
    <td>a * b</td>
    <td>Multiplicación</td>
  </tr>
  <tr>
    <td>a ** b</td>
    <td>Exponenciación</td>
  </tr>
</table>

In [67]:
x = 3
y = 2
print('x + y = ', x + y)
print('x - y = ', x - y)
print('x * y = ', x * y)
print('x / y = ', x / y)
print('x // y = ', x // y)
print('x % y = ', x % y)
print('x ** y = ', x ** y)

x + y =  5
x - y =  1
x * y =  6
x / y =  1.5
x // y =  1
x % y =  1
x ** y =  9

<h2>Operadores de comparacion</h2>

<table border="1">
  <tr>
    <th>Operador</th>
    <th>Descripción</th>
  </tr>
  <tr>
    <td>a > b</td>
    <td>Mayor</td>
  </tr>
  <tr>
    <td>a < b</td>
    <td>Menor</td>
  </tr>
  <tr>
    <td>a == b</td>
    <td>Igualdad</td>
  </tr>
  <tr>
    <td>a != b</td>
    <td>Desigualdad</td>
  </tr>
  <tr>
    <td>a >= b</td>
    <td>Mayor o Igual</td>
  </tr>
  <tr>
    <td>a <= b</td>
    <td>Menor o Igual</td>
  </tr>
</table>

In [68]:
x = 10
y = 12
print('x > y es ', x > y)
print('x < y es ', x < y)
print('x == y es ', x == y)
print('x != y es ', x != y)
print('x >= y es ', x >= y)
print('x <= y es ', x <= y)

x > y es  False
x < y es  True
x == y es  False
x != y es  True
x >= y es  False
x <= y es  True

<h2>Operadores Logicos</h2>

<table border="1">
  <tr>
    <th>Operador</th>
    <th>Descripción</th>
  </tr>
  <tr>
    <td>a and b</td>
    <td>True, si ambos son True</td>
  </tr>
  <tr>
    <td>a or b</td>
    <td>True, si alguno de los dos es True</td>
  </tr>
  <tr>
    <td>a ^ b</td>
    <td>XOR - True, si solo uno de los dos es True</td>
  </tr>
  <tr>
    <td>not a</td>
    <td>Negación</td>
  </tr>
</table>

<p>Enlace a <a href="#">Tablas de Verdad</a>.</p>

In [69]:
x = True
y = False
print('x and y es :', x and y)
print('x or y es :', x or y)
print('x xor y es :', x ^ y)
print('not x es :', not x)

x and y es : False
x or y es : True
x xor y es : True
not x es : False

<h2>Operadores Bitwise / Binarios</h2>

<table border="1">
  <tr>
    <th>Operador</th>
    <th>Descripción</th>
  </tr>
  <tr>
    <td>a & b</td>
    <td>And binario</td>
  </tr>
  <tr>
    <td>a | b</td>
    <td>Or binario</td>
  </tr>
  <tr>
    <td>a ^ b</td>
    <td>Xor binario</td>
  </tr>
  <tr>
    <td>~ a</td>
    <td>Not binario</td>
  </tr>
  <tr>
    <td>a >> b</td>
    <td>Desplazamiento binario a derecha</td>
  </tr>
  <tr>
    <td>a << b</td>
    <td>Desplazamiento binario a izquierda</td>
  </tr>
</table>

In [70]:
# x = 0b01100110
# y = 0b00110011
# print("Not x = " + bin(~x))
# print("x and y = " + bin(x & y))
# print("x or y = " + bin(x | y))
# print("x xor y = " + bin(x ^ y))
# print("x << 2 = " + bin(x << 2))
# print("x >> 2 = " + bin(x >> 2))

<h2>Operadores de Asignacion</h2>

<table border="1">
  <tr>
    <th>Operador</th>
    <th>Descripción</th>
  </tr>
  <tr>
    <td>=</td>
    <td>Asignación</td>
  </tr>
  <tr>
    <td>+=</td>
    <td>Suma y asignación</td>
  </tr>
  <tr>
    <td>-=</td>
    <td>Resta y asignación</td>
  </tr>
  <tr>
    <td>*=</td>
    <td>Multiplicación y asignación</td>
  </tr>
  <tr>
    <td>/=</td>
    <td>División y asignación</td>
  </tr>
  <tr>
    <td>%=</td>
    <td>Módulo y asignación</td>
  </tr>
  <tr>
    <td>//=</td>
    <td>División entera y asignación</td>
  </tr>
  <tr>
    <td>**=</td>
    <td>Exponencial y asignación</td>
  </tr>
  <tr>
    <td>&=</td>
    <td>And y asignación</td>
  </tr>
  <tr>
    <td>|=</td>
    <td>Or y asignación</td>
  </tr>
  <tr>
    <td>^=</td>
    <td>Xor y asignación</td>
  </tr>
  <tr>
    <td>>>=</td>
    <td>Despl. Derecha y asignación</td>
  </tr>
  <tr>
    <td><<=</td>
    <td>Despl. Izquierda y asignación</td>
  </tr>
</table>

In [71]:
a = 5
a *= 3 # a = a * 3
a += 1 # No existe a++, ni ++a,a--,--a
print(a)
b = 6
b -= 2 # b = b - 2
print(b)

16
4

<h2>Operadores de Identidad</h2>

<table border="1">
  <tr>
    <th>Operador</th>
    <th>Descripción</th>
  </tr>
  <tr>
    <td>a is b</td>
    <td>True, si ambos operadores son una referencia al mismo objeto</td>
  </tr>
  <tr>
    <td>a is not b</td>
    <td>True, si ambos operadores no son una referencia al mismo objeto</td>
  </tr>
</table>

In [72]:
a = 4444
b = a
print(a is b)
print(a is not b)

True
False

<h2>Operadores de Pertenencia</h2>

<table border="1">
  <tr>
    <th>Operador</th>
    <th>Descripción</th>
  </tr>
  <tr>
    <td>a in b</td>
    <td>True, si a se encuentra en la secuencia b</td>
  </tr>
  <tr>
    <td>a not in b</td>
    <td>True, si a no se encuentra en la secuencia b</td>
  </tr>
</table>

In [73]:
x = 'Hola Mundo'
y = {1:'a',2:'b'}
print('H' in x) # True
print('hola' not in x) # True
print(1 in y) # True
print('a' in y) # False

True
True
True
False

<h2>2.6 Entrada de valores</h2>

In [2]:
valor = input("Inserte valor:")
print(valor)
print(type(valor))

Inserte valor: 12

12
<class 'str'>

In [3]:
grados_c = int(input("Conversión de grados a fahrenheit, inserte un valor: "))
print(f"Grados F: {1.8 * (grados_c) + 32}")

Conversión de grados a fahrenheit, inserte un valor:  14

Grados F: 57.2

<h1>3 Tipos de datos compuestos (colecciones)</h1>

<h2>3.1 Listas</h2>

<h3>Listas en Python</h3>
<ul>
  <li>Una colección de objetos.</li>
  <li>Mutables.</li>
  <li>Tipos arbitrarios heterogéneos.</li>
  <li>Puede contener duplicados.</li>
  <li>No tienen tamaño fijo. Pueden contener tantos elementos como quepan en memoria.</li>
  <li>Los elementos van ordenados por posición.</li>
  <li>Se acceden usando la sintaxis: <code>[index]</code>.</li>
  <li>Los índices van de 0 a n-1, donde n es el número de elementos de la lista.</li>
  <li>Son un tipo de Secuencia, al igual que los strings; por lo tanto, el orden (es decir, la posición de los objetos de la lista) es importante.</li>
  <li>Soportan anidamiento.</li>
  <li>Son una implementación del tipo abstracto de datos: Array Dinámico.</li>
</ul>

<h2>Operaciones con listas</h2>

* Creación de listas

In [4]:
letras = ['a', 'b', 'c', 'd']
palabras = 'Hola mundo como estas'.split()
numeros = list(range(7))
print(letras)
print(palabras)
print(numeros)
print(type(numeros))

['a', 'b', 'c', 'd']
['Hola', 'mundo', 'como', 'estas']
[0, 1, 2, 3, 4, 5, 6]
<class 'list'>

In [5]:
# # Pueden contener elementos arbitrarios / heterogeneos
mezcla = [1, 3.4, 'a', None, False]
print(mezcla)
print(len(mezcla)) # len me da el tamaño de la lista número de elementos

[1, 3.4, 'a', None, False]
5

In [6]:
# # Pueden incluso contener objetos más "complejos"
lista_con_funcion = [1, 2, len, pow]
print(lista_con_funcion)

[1, 2, <built-in function len>, <built-in function pow>]

In [7]:
# # Pueden contener duplicados
lista_con_duplicados = [1, 2, 3, 3, 3, 4]
print(lista_con_duplicados)

[1, 2, 3, 3, 3, 4]

* Obtención de la longitud de una lista.

In [8]:
letras = ['a', 'b', 'c', 'd', 1]
print(len(letras))

5

* Acceso a un elemento de una lista

In [9]:
print(letras[2])
print(letras[-5])
print(letras[0])

c
a
a

<h3>Slicing en Listas</h3>
<ul>
  <li><strong>Slicing:</strong> obtención de un fragmento de una lista, devuelve una copia de una parte de la lista.</li>
  <li><strong>Sintaxis:</strong> <code>lista[inicio:fin:paso]</code></li>
</ul>

In [10]:
letras = ['a', 'b', 'c', 'd', 'e']
print(letras[1:3])
print(letras[:3])
print(letras[:-1])
print(letras[2:])
print(letras[:])
print(letras[::2])

['b', 'c']
['a', 'b', 'c']
['a', 'b', 'c', 'd']
['c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'c', 'e']

In [11]:
letras = ['a', 'b', 'c', 'd']
print(letras)
print(id(letras))
a = letras[:]
print(a)
print(id(a))
print(letras.copy())
print(id(letras.copy()))

['a', 'b', 'c', 'd']
2458435937280
['a', 'b', 'c', 'd']
2458435937536
['a', 'b', 'c', 'd']
2458435937088

* Añadir un elemento al final de la lista

In [12]:
letras.append('e')
print(letras)
print(id(letras))

['a', 'b', 'c', 'd', 'e']
2458435937280

In [13]:
letras += 'e'
print(letras)
print(id(letras))

['a', 'b', 'c', 'd', 'e', 'e']
2458435937280

* Insertar en posicion

In [14]:
print(len(letras))
letras.insert(1,'g')
print(len(letras))
print(letras)
print(id(letras))

6
7
['a', 'g', 'b', 'c', 'd', 'e', 'e']
2458435937280

* Modificación de la lista (individual).

In [15]:
letras[5] = 'f'
print(letras)
print(id(letras))

['a', 'g', 'b', 'c', 'd', 'f', 'e']
2458435937280

In [16]:
# # index tiene que estar en rango
letras[20] = 'r'

IndexError: list assignment index out of range

In [19]:
letras = ['a', 'b', 'c', 'f', 'g', 'h', 'i', 'j', 'k']
print(id(letras))

2458441764480

In [20]:
letras[0:7:2] = ['z', 'x', 'y','p']
print(letras)
# print(id(letras))

['z', 'b', 'x', 'f', 'y', 'h', 'p', 'j', 'k']

In [21]:
# # Ojo con la diferencia entre modificación individual y múltiple. Asignación individual de lista crea anidamiento.
numeros = [1, 2, 3]
numeros[1] = [10, 20, 30]
print(numeros)
print(numeros[1][0])
numeros[1][2] = [100, 200]
print(numeros)
print(numeros[1][2][1])

[1, [10, 20, 30], 3]
10
[1, [10, 20, [100, 200]], 3]
200

* Eliminar un elemento

In [22]:
#letras.remove('f')
if 'p' in letras:
    letras.remove('p')
#      #letras.remove('z')
print(letras)

['z', 'b', 'x', 'f', 'y', 'h', 'j', 'k']

In [23]:
# elimina el elemento en posición -1 y lo devuelve
elemento = letras.pop()
print(elemento)
print(letras)

k
['z', 'b', 'x', 'f', 'y', 'h', 'j']

In [24]:
numeros = [1, 2, 3]
print(numeros)
numeros[2] = [10, 20, 30]
print(numeros)
n = numeros[2].pop()
print(numeros)
print(n)

[1, 2, 3]
[1, 2, [10, 20, 30]]
[1, 2, [10, 20]]
30

In [25]:
numeros1=10
print(numeros1)
print(numeros)

10
[1, 2, [10, 20]]

In [26]:
lista = []
a = lista.pop()

IndexError: pop from empty list

* Encontrar indice de un elemento.

In [27]:
letras = ['a', 'b', 'c', 'c']
if 'a' in letras:
    print(letras.index('a'))
print(letras)

0
['a', 'b', 'c', 'c']

* Concatenar listas

In [28]:
lacteos = ['queso', 'leche']
frutas = ['naranja', 'manzana']
print(id(lacteos))
print(id(frutas))
compra = lacteos + frutas
print(id(compra))
print(compra)

2458442134592
2458442070016
2458442136320
['queso', 'leche', 'naranja', 'manzana']

In [29]:
# # Concatenación sin crear una nueva lista
frutas = ['naranja', 'manzana']
print(id(frutas))
frutas.extend(['pera', 'uvas'])
print(frutas)
print(id(frutas))

2458442069312
['naranja', 'manzana', 'pera', 'uvas']
2458442069312

In [30]:
 # # Anidar sin crear una nueva lista
frutas = ['naranja', 'manzana']
print(id(frutas))
frutas.append(['pera', 'uvas'])
print(frutas)
print(id(frutas))

2458442134912
['naranja', 'manzana', ['pera', 'uvas']]
2458442134912

* Replicar una lista

In [31]:
lacteos = ['queso', 'leche']
print(lacteos * 3)
print(id(lacteos))
a = 3 * lacteos
print(a)
print(id(a))

['queso', 'leche', 'queso', 'leche', 'queso', 'leche']
2458442070016
['queso', 'leche', 'queso', 'leche', 'queso', 'leche']
2458442069696

* Copiar una lista

In [32]:
frutas2 = frutas.copy()
frutas2 = frutas[:]
print(frutas2)
print('id frutas = ' + str(id(frutas)))
print('id frutas2 = ' + str(id(frutas2)))

['naranja', 'manzana', ['pera', 'uvas']]
id frutas = 2458442134912
id frutas2 = 2458442134080

* Ordenar una lista

In [33]:
lista = [4,3,8,1]
print(lista)
lista.sort()
print(lista)
lista.sort(reverse=True)
print(lista)

[4, 3, 8, 1]
[1, 3, 4, 8]
[8, 4, 3, 1]

In [36]:
# # Los elementos deben ser comparables para poderse ordenar
lista = ['1', 'a']
lista.sort()

In [37]:
compra = ['Huevos','Pan','zapallo','Leche','Licor']
print(sorted(compra))
print(compra)

['Huevos', 'Leche', 'Licor', 'Pan', 'zapallo']
['Huevos', 'Pan', 'zapallo', 'Leche', 'Licor']

* Pertenencia

In [38]:
lista = [1, 2, 3, 4]
print(1 in lista)
print(5 in lista)

True
False

* Anidamiento

In [39]:
letras = ['a', 'b', 'c', ['x', 'y', ['i', 'j', 'k']]]
print(letras[0])
print(letras[3][0])
print(letras[3][2][0])

a
x
i

In [40]:
print(letras[3])

['x', 'y', ['i', 'j', 'k']]

In [41]:
a =[1000,2,3]
b = a[:] #a.copy() #[:]
print(id(a))
print(id(b))
print(id(a[0]))
print(id(b[0]))

2458441801728
2458441930560
2458441692816
2458441692816

<h3>Alias/Referencias en las listas</h3>
<ul>
  <li>Son mutables y las asignaciones a un objeto alteran el primero.</li>
  <li>Pasar listas a funciones puede suponer un riesgo.</li>
  <li>Clonar o copiar listas.</li>
</ul>

In [42]:
lista = [2, 4, 16, 32]
ref = lista
print(id(lista))
print(id(ref))
ref[2] = 64
print(ref)
print(lista)

2458442128832
2458442128832
[2, 4, 64, 32]
[2, 4, 64, 32]

In [43]:
lista = [2000, 4, 16, 32]
copia = lista[:]
copia = lista.copy()
copia[2] = 64
print(lista)
print(copia)
print(id(lista))
print(id(copia))
print(id(lista[2]))
print(id(copia[2]))

[2000, 4, 16, 32]
[2000, 4, 64, 32]
2458442241728
2458442264576
140710810334600
140710810336136

In [44]:
# #listas anidadas se copian por referencia
lista = [2, 4, 16, 32, [34, 10, [5,5]]]
copia = lista.copy()
copia[3] = 20
copia[4][0] = 28
print(copia)
print(lista)

[2, 4, 16, 20, [28, 10, [5, 5]]]
[2, 4, 16, 32, [28, 10, [5, 5]]]

In [45]:
lista = [0, 1, [10, 20]]
print(id(lista))
lista2 = [10, 20]
lista = [0, 1, lista2]
copia = lista[:] #.copy()
print(copia)
print(id(copia))
print(id(lista[2]))
print(id(copia[2]))
copia[2][0] = 40
print(copia)
print(lista)

2458441889216
[0, 1, [10, 20]]
2458441883584
2458441889984
2458441889984
[0, 1, [40, 20]]
[0, 1, [40, 20]]

In [46]:
# evitar que listas anidadas se copien por referencia
import copy
lista = [2, 4, 16, 32, [34, 10, [5,5]]]
copia = copy.deepcopy(lista)
copia[0] = 454
copia[4][2][0] = 64
print(lista)
print(copia)
print(f"{id(lista)} - {id(copia)}")
print(f"{id(lista[4])} - {id(copia[4])}")

[2, 4, 16, 32, [34, 10, [5, 5]]]
[454, 4, 16, 32, [34, 10, [64, 5]]]
2458441889536 - 2458441889216
2458442331136 - 2458442133120

<h2>3.2 Diccionarios</h2>

<h3>Diccionarios en Python</h3>
<ul>
  <li>Colección de parejas clave-valor.</li>
  <li>Son mutables.</li>
  <li><strong>Claves:</strong>
    <ul>
      <li>Cualquier objeto inmutable.</li>
      <li>Sólo pueden aparecer una vez en el diccionario.</li>
    </ul>
  </li>
  <li><strong>Valores:</strong>
    <ul>
      <li>Sin restricciones. Cualquier objeto (enteros, strings, listas, etc.) puede hacer de valor.</li>
    </ul>
  </li>
  <li>Desde la versión 3.7 están ordenados.</li>
  <li>Se pueden ver como listas indexadas por cualquier objeto inmutable, no necesariamente por números enteros.</li>
  <li>A diferencia de las listas, no son secuencias. Son mappings.</li>
</ul>

<h3>Operaciones con diccionarios</h3>
<h4>• Creación de diccionarios</h4>

In [47]:
# Creación simple, usando una expresión literal.
persona = {'DNI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34}
print(persona)

{'DNI': '11111111D', 'Nombre': 'Carlos', 'Edad': 34}

In [48]:
# Creación uniendo dos colecciones.
nombres = ['Pablo', 'Manolo', 'Pepe', 'Juan']
edades = [52, 14, 65]
datos = dict(zip(nombres,edades))
print(datos)

{'Pablo': 52, 'Manolo': 14, 'Pepe': 65}

In [49]:
# Creación pasando claves y valores a la función 'dict'
persona2 = dict(nombre='Rosa', apellido='Garcia')
print(persona2)

{'nombre': 'Rosa', 'apellido': 'Garcia'}

In [50]:
# Creación usando una lista de tuplas de dos elementos.
persona2 = dict([('nombre', 'Rosa'), ('apellido','Garcia')])
print(persona2)

{'nombre': 'Rosa', 'apellido': 'Garcia'}

In [51]:
# Creación incremental por medio de asignación (como las claves no existen, se crean nuevos items)
persona = {}
persona['DNI'] = '11111111D'
persona['Nombre'] = 'Carlos'
persona['Edad'] = 34
persona['DNI'] = '222222222'
print(persona)
print(persona['DNI'])

{'DNI': '222222222', 'Nombre': 'Carlos', 'Edad': 34}
222222222

* Acceso a un valor a traves de la clave.

In [52]:
persona = {'DNI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34}
print(persona['Nombre'])

Carlos

In [53]:
# Acceso a claves inexistentes o por índice produce error
# persona[1]
print(persona['Nombre'])

if 'Trabajo' in persona:
    print(persona['Trabajo'])
else:
    print("En el paro")
persona.get('Trabajo', "En el paro")

Carlos
En el paro

'En el paro'

* Modificacion de un valor a traves de la clave

In [54]:
persona = {'DNI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34}
persona['Nombre'] = 'Fernando'
persona['Edad'] += 1
print(persona)

{'DNI': '11111111D', 'Nombre': 'Fernando', 'Edad': 35}

* Añadir un valor a traves de la clave

In [55]:
persona = {'DNI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34}
persona['Ciudad'] = 'Valencia'
print(persona)

{'DNI': '11111111D', 'Nombre': 'Carlos', 'Edad': 34, 'Ciudad': 'Valencia'}

* Eliminacion de un valor a traves de la clave

In [56]:
del persona['Ciudad']
value = persona.pop('Edad')
print(persona)
print(value)

{'DNI': '11111111D', 'Nombre': 'Carlos'}
34

* Comprobacion de existencia de clave

In [57]:
print('Nombre' in persona)
print('Apellido' in persona)

True
False

* Recuperación del valor de una clave, indicando valor por defecto en caso de ausencia

In [58]:
persona = {'Nombre' : 'Carlos'}
value = persona.get('Nombre')
print(value)
# persona['Estatura']
value = persona.get('Estatura', 180)
print(value)

Carlos
180

* Anidamiento

In [59]:
persona = {
'Trabajos' : ['desarrollador', 'gestor'],
'Direccion' : {'Calle' : 'Pintor Sorolla', 'Ciudad' : 'Valencia'}
}
print(persona['Direccion'])
print(persona['Direccion']['Ciudad'])

{'Calle': 'Pintor Sorolla', 'Ciudad': 'Valencia'}
Valencia

* Metodos items, keys y values.

In [60]:
persona = {'DNI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34}
print(list(persona.items()))
print(list(persona.keys()))
print(list(persona.values()))

[('DNI', '11111111D'), ('Nombre', 'Carlos'), ('Edad', 34)]
['DNI', 'Nombre', 'Edad']
['11111111D', 'Carlos', 34]

In [61]:
dict_simple = {'ID' : 'XCSDe1194', 'Nombre' : 'Carlos', 'Edad' : 34}
# iterar sobre las claves
print('Claves\n')
for key in dict_simple.keys(): # o dict_simple
    print(key)
print('\nValores\n')
# iterar sobre los valores
for value in dict_simple.values():
    print(value)

Claves

ID
Nombre
Edad

Valores

XCSDe1194
Carlos
34

In [62]:
dict_simple = {'ID' : 'XCSDe1194', 'Nombre' : 'Carlos', 'Edad' : 34}
# iterar sobre ambos, directamente con items().
for key, value in dict_simple.items():
    print('Clave: ' + str(key) + ', valor: ' + str(value))
for item in dict_simple.items(): # devuelve tuplas
    print('Item: ' + str(item))
# usar zip para iterar sobre Clave-Valor
for key, value in zip(dict_simple.keys(),dict_simple.values()):
    print('Clave: ' + str(key) + ', valor: ' + str(value))

Clave: ID, valor: XCSDe1194
Clave: Nombre, valor: Carlos
Clave: Edad, valor: 34
Item: ('ID', 'XCSDe1194')
Item: ('Nombre', 'Carlos')
Item: ('Edad', 34)
Clave: ID, valor: XCSDe1194
Clave: Nombre, valor: Carlos
Clave: Edad, valor: 34

<h2>3.3 Sets (Conjuntos)</h2>

<h3>Conjuntos (Sets) en Python</h3>

<h4>Al igual que las listas:</h4>
<ul>
  <li>Colección de elementos.</li>
  <li>Tipos arbitrarios.</li>
  <li>Mutables.</li>
  <li>No tienen tamaño fijo. Pueden contener tantos elementos como quepan en memoria.</li>
</ul>

<h4>A diferencia de las listas:</h4>
<ul>
  <li>No puede tener duplicados.</li>
  <li>Se definen por medio de llaves.</li>
  <li>Los elementos no van ordenados por posición. No hay orden establecido.</li>
  <li>Solo pueden contener objetos inmutables.</li>
  <li>No soportan anidamiento.</li>
</ul>

<h3>Operaciones con conjuntos</h3>
<h4>• Creación de conjuntos</h4>

In [63]:
set1 = {0, 1, 1, 2, 3, 4, 4}
print(set1)
set2 = {'user1', 12, 2}
print(set2)
set3 = set(range(7))
print(set3)
set4 = set([0, 1, 2, 3, 4, 0, 1])
print(set4)

{0, 1, 2, 3, 4}
{2, 12, 'user1'}
{0, 1, 2, 3, 4, 5, 6}
{0, 1, 2, 3, 4}

In [64]:
#Observa la diferencia entre listas y conjuntos
s = 'aabbc'
print(list(s))
print(set(s))

['a', 'a', 'b', 'b', 'c']
{'a', 'c', 'b'}

* Acceso por indice genera error

In [65]:
set1 = {0, 1, 2}
print(set1)

{0, 1, 2}

* Union, interseccion y diferencia

In [66]:
set1 = {0, 1, 1, 2, 3, 4, 5, 8, 13, 21}
set2 = set([0, 1, 2, 3, 4, 42])
# union
print(set1 | set2)
# intersección
print(set1 & set2)
# diferencia
print(set1 - set2)
print(set2 - set1)

{0, 1, 2, 3, 4, 5, 8, 42, 13, 21}
{0, 1, 2, 3, 4}
{8, 13, 21, 5}
{42}

In [67]:
a = [1,2]
b = [2,3]
print(set(a) & set(b))

{2}

In [68]:
#Ademas de los operadores, que operan únicamente con Sets, también se pueden usar metodos que pueden operar sobre cualquier objeto iterable.
conjunto = {0, 1, 2}
lista = [1, 3, 3]
print(conjunto.union(lista))
print(conjunto.intersection(lista))
print(conjunto.difference(lista))

{0, 1, 2, 3}
{1}
{0, 2}

* comparacion de conjuntos.

In [69]:
set1 = {0, 1, 1, 2, 3, 4, 5, 8, 13, 21}
set2 = set([0, 1, 2, 3, 4])
print(set2.issubset(set1))
print(set1.issuperset(set2))
print(set1.isdisjoint(set2))

True
True
False

* Pertenencia

In [70]:
words = {'calm', 'balm'}
print('calm' in words)

True

* Anidamiento

In [71]:
 # Los conjuntos no soportan anidamiento, pero como permite elementos inmutables, se pueden "anidar" tuplas.
nested_set = {1, (1, 1, 1), 2, 3, (1,1,1)}
print(nested_set)

{1, 2, 3, (1, 1, 1)}

* Modificación de conjuntos

In [72]:
# A través de operador de asignación
set1 = {'a', 'b', 'c'}
set2 = {'a', 'd'}
# set1 |= set2 # set1 = set1 | set2
# set1 &= set2
set1 -= set2
print(set1)

{'c', 'b'}

In [73]:
# A través de método 'update'.
set1 = {'a', 'b', 'c'}
set2 = {'a', 'd'}
# set1.update(set2)
# set1.intersection_update(set2)
set1.difference_update(set2)
print(set1)

{'c', 'b'}

In [74]:
# A través de métodos 'add' y 'remove'.
set1 = {'a', 'b', 'c'}
set1.add('d')
set1.remove('a')
print(set1)

{'d', 'c', 'b'}

<h2>3.4 Tuplas</h2>

<h4>Al igual que las listas:</h4>
<ul>
  <li>Colección de elementos.</li>
  <li>Tipos arbitrarios.</li>
  <li>Puede contener duplicados.</li>
  <li>No tienen tamaño fijo. Pueden contener tantos elementos como quepan en memoria.</li>
  <li>Los elementos van ordenados por posición.</li>
  <li>Acceso a través de la sintaxis: <code>[index]</code></li>
  <li>Índices van de 0 a n-1, donde n es el número de elementos de la tupla.</li>
  <li>Son secuencias donde el orden de los elementos importa.</li>
  <li>Soportan anidamiento.</li>
</ul>

<h4>A diferencia de las listas:</h4>
<ul>
  <li>Se definen por medio de paréntesis.</li>
  <li>Inmutables.</li>
</ul>

<h4>¿Por qué tuplas?</h4>
<ul>
  <li>Representación de una colección fija de elementos (por ejemplo, una fecha).</li>
  <li>Pueden usarse en contextos que requieren inmutabilidad (por ejemplo, como claves de un diccionario).</li>
</ul>

<h3>Operaciones con tuplas</h3>
<h4>• Creación de tuplas</h4>

In [75]:
tuple1 = ('Foo', 34, 5.0, 34)
print(tuple1)
tuple2 = 1, 2, 3
print(tuple2)
tuple3 = tuple(range(10))
print(tuple3)
tuple4 = tuple([0, 1, 2, 3, 4])
print(tuple4)

('Foo', 34, 5.0, 34)
(1, 2, 3)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(0, 1, 2, 3, 4)

In [76]:
# Ojo con las tuplas de un elemento. Los paréntesis se intepretan como indicadores de precedencia de operadores.
singleton_number = (1)
type(singleton_number)

int

In [77]:
# Creación de tupla de un elemento.
singleton_tuple = (1,)
print(type(singleton_tuple))
print(singleton_tuple)

<class 'tuple'>
(1,)

* Obtencion del numero de elementos

In [78]:
 print(len(tuple1))

4

* Acceso por indice

In [79]:
tuple1 = ('Foo', 1, 2, 3)
print(tuple1[0]) # Primer elemento
print(tuple1[len(tuple1)-1]) # Último elemento
print(tuple1[-1]) # Índices negativos comienzan desde el final
print(tuple1[-len(tuple1)]) # primer elemento

Foo
3
3
Foo

* Asignacion a tuplas falla. Son immutables.

In [80]:
tuple1[0] = 'bar'

TypeError: 'tuple' object does not support item assignment

In [81]:
 print(id(tuple1))
 lista = list(tuple1)
 lista[0] = 'bar'
 tuple1 = tuple(lista)
 print(id(tuple1))
 print(tuple1)

2458442151184
2458442639744
('bar', 1, 2, 3)

* Contar numero de ocurrencias de un elemento

In [82]:
tuple1 = ('Foo',34, 5.0, 34)
print(tuple1.count(34))

2

* Encontrar el índice de un elemento

In [83]:
tuple1 = ('Foo', 34, 5.0, 34)
indice = tuple1.index(34)
print(indice)
print(tuple1[indice])

1
34

In [84]:
# Si el elemento no existe, error
tuple1 = ('Foo', 34, 5.0, 34)
print(tuple1.index(1))

ValueError: tuple.index(x): x not in tuple

In [85]:
# comprobar si existe antes
tuple1 = ('Foo', 34, 5.0, 34)
elemento = 35

if elemento in tuple1:
    print(tuple1.index(elemento))
else:
    print(str(elemento) + ' not found')  # "35 not found"

35 not found

*  Desempaquetar una tupla

In [86]:
 tuple1 = (1, 2, 3, 4)
 a, b, c, d = tuple1 # a,b,c - a,b,c,d - a,b,_,_ - a, *_
 print(a)
 print(b)
 print(_)
 print(d)

1
2
<class 'int'>
4

In [87]:
 a, b, *resto = tuple1
 print(a)
 print(b)
 print(resto)

1
2
[3, 4]

<h2>3.5 Secuencias</h2>
<ul>
  <li>Formalmente, objetos iterables no materializados.</li>
  <li>No son listas. Usar <code>list()</code> para materializarlas.</li>
  <li>Ejemplos: <code>range()</code> o <code>enumerate()</code>.</li>
</ul>

In [88]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [89]:
 lista = [10, 20, 30]
 print(list(enumerate(lista)))

[(0, 10), (1, 20), (2, 30)]

In [90]:
# enumerate para iterar una colección (índice y valor)
lista = [10, 20, 30]
for index, value in enumerate(lista):
    print('Index = ' + str(index) + '. Value = ' + str(value))
     
for index, value in [(0,10), (1,20), (2,30)]:
    print('Index = ' + str(index) + '. Value = ' + str(value))

Index = 0. Value = 10
Index = 1. Value = 20
Index = 2. Value = 30
Index = 0. Value = 10
Index = 1. Value = 20
Index = 2. Value = 30

In [91]:
# enumerate para iterar una colección (índice y valor)
for index, value in enumerate(range(0,10,2)):
    print('Index = ' + str(index) + '. Value = ' + str(value))
for value in enumerate(range(0,10,2)):
    print(value)

Index = 0. Value = 0
Index = 1. Value = 2
Index = 2. Value = 4
Index = 3. Value = 6
Index = 4. Value = 8
(0, 0)
(1, 2)
(2, 4)
(3, 6)
(4, 8)

In [92]:
# zip para unir, elemento a elemento, dos colecciones, retornando lista de tuplas
# útil para iterar dos listas al mismo tiempo
nombres = ['Manolo','Pepe','Luis']
edades = [31,34,34,45]
for nombre,edad in zip(nombres,edades):
    print('Nombre: ' + nombre + ', edad: ' + str(edad))

Nombre: Manolo, edad: 31
Nombre: Pepe, edad: 34
Nombre: Luis, edad: 34

In [93]:
nombres = ['Manolo','Pepe','Luis']
edades = [31,34,34]
for i in range(0,len(nombres)):
    print(f"Nombre es {nombres[i]} y edad es {edades[i]}")

Nombre es Manolo y edad es 31
Nombre es Pepe y edad es 34
Nombre es Luis y edad es 34

In [94]:
nombres = ['Manolo','Pepe','Luis']
edades = [31,34,34]
jugadores = zip(nombres,edades) # genera secuencia
print(list(jugadores))
print(type(jugadores))

[('Manolo', 31), ('Pepe', 34), ('Luis', 34)]
<class 'zip'>

In [95]:
# listas de diferentes longitudes
nombres = ['Manolo','Pepe','Luis']
edades = [31,34,34,44,33]
jugadores = zip(nombres,edades)
print(list(jugadores))

[('Manolo', 31), ('Pepe', 34), ('Luis', 34)]

In [96]:
# unzip
nombres = ['Manolo','Pepe','Luis']
edades = [31,34,34]
alturas = [120, 130, 140]
jugadores = zip(nombres,edades, alturas)
# print(list(jugadores))
ns, es, al = zip(*jugadores)
print(list(ns))
print(es)
print(al)

['Manolo', 'Pepe', 'Luis']
(31, 34, 34)
(120, 130, 140)

In [97]:
nombres = ['Manolo','Pepe','Luis']
edades = [31,34,34]
dd = [23,34,45]
jugadores_z = zip(nombres,edades, dd)
print(list(jugadores_z))
jugadores_uz = zip(*jugadores_z)
print(list(jugadores_uz))

[('Manolo', 31, 23), ('Pepe', 34, 34), ('Luis', 34, 45)]
[]

<h3>3.6 Para terminar, volvemos a enfatizar un matiz importante…</h3>

<p><strong>En Python todo son objetos</strong></p>

<p>Cada objeto tiene:</p>
<ul>
  <li><strong>Identidad:</strong> Nunca cambia una vez creado. Es como la dirección de memoria. 
      El operador <code>is</code> compara identidad. La función <code>id()</code> devuelve identidad.</li>
  <li><strong>Tipo:</strong> Determina posibles valores y operaciones. La función <code>type()</code> 
      devuelve el tipo. No cambia.</li>
  <li><strong>Valor:</strong> Que pueden ser mutables e inmutables.
    <ul>
      <li><strong>Tipos mutables:</strong> list, dictionary, set y tipos definidos por el usuario.</li>
      <li><strong>Tipos inmutables:</strong> int, float, bool, string y tuple.</li>
    </ul>
  </li>
</ul>

In [98]:
# Asignación
list_numbers = [1, 2, 3] # Lista (mutable)
tuple_numbers = (1, 2, 3) # Tupla (inmutable)
print(list_numbers[0])
print(tuple_numbers[0])
list_numbers[0] = 100
# tuple_numbers[0] = 100
print(list_numbers)
print(tuple_numbers)
tuple_l_numbers = list(tuple_numbers)
tuple_l_numbers[0] = 100
tuple_numbers = tuple(tuple_l_numbers)
print(tuple_numbers)

1
1
[100, 2, 3]
(1, 2, 3)
(100, 2, 3)

In [99]:
# Identidad
list_numbers = [1, 2, 3]
tuple_numbers = (1, 2, 3)
print('Id list_numbers: ' + str(id(list_numbers)))
print('Id tuple_numbers: ' + str(id(tuple_numbers)))
list_numbers += [4, 5, 6] # La lista original se extiende
tuple_numbers += (4, 5, 6) # Se crea un nuevo objeto
print(list_numbers)
print(tuple_numbers)
print('Id list_numbers: ' + str(id(list_numbers)))
print('Id tuple_numbers: ' + str(id(tuple_numbers)))

Id list_numbers: 2458442832384
Id tuple_numbers: 2458442919808
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
Id list_numbers: 2458442832384
Id tuple_numbers: 2458442878112

In [100]:
# Referencias
list_numbers = [1, 2, 3]
list_numbers_2 = list_numbers # list_numbers_2 referencia a list_numbers
print('Id list_numbers: ' + str(id(list_numbers)))
print('Id list_numbers_2: ' + str(id(list_numbers_2)))
list_numbers.append(4) # Se actualiza list_numbers2 también
print(list_numbers)
print(list_numbers_2)
print('Id list_numbers: ' + str(id(list_numbers)))
print('Id list_numbers_2: ' + str(id(list_numbers_2)))

Id list_numbers: 2458442830912
Id list_numbers_2: 2458442830912
[1, 2, 3, 4]
[1, 2, 3, 4]
Id list_numbers: 2458442830912
Id list_numbers_2: 2458442830912

In [101]:
text = "Hola" # Inmutable
text_2 = text # Referencia
print('Id text: ' + str(id(text)))
print('Id text_2: ' + str(id(text_2)))
text += " Mundo"
print(text)
print(text_2)
print('Id text: ' + str(id(text)))
print('Id text_2: ' + str(id(text_2)))

Id text: 2458435549392
Id text_2: 2458435549392
Hola Mundo
Hola
Id text: 2458442899120
Id text_2: 2458435549392

In [102]:
teams = ["Team A", "Team B", "Team C"] # Mutable
player = (23, teams) # Inmutable
print(type(player))
print(player)
print(id(player))
teams[2] = "Team J"
print(player)
print(id(player))
player[1][0] = 'Team XX'
print(teams)

<class 'tuple'>
(23, ['Team A', 'Team B', 'Team C'])
2458442866368
(23, ['Team A', 'Team B', 'Team J'])
2458442866368
['Team XX', 'Team B', 'Team J']

<h1>3.7 Ejercicios</h1>

<ol>
  <li>Escribe un programa que muestre por pantalla la concatenación de un número y una cadena de caracteres. Para obtener esta concatenación puedes usar uno de los operadores explicados en este tema. <strong>Ejemplo:</strong> dado el número 3 y la cadena ‘abc’, el programa mostrará la cadena ‘3abc’.</li>
</ol>

In [103]:
numero = 3
cadena = 'abc'
resultado = str(numero) + cadena
print(resultado)  # '3abc'

3abc

<li>2. Escribe un programa que muestre por pantalla un valor booleano que indique si un número entero N está contenido en un intervalo semiabierto [a,b), el cual establece una cota inferior a (inclusive) y una cota superior b (exclusive) para N.</li>

In [104]:
N = 5
a = 2
b = 7
resultado = a <= N < b
print(resultado)

True

<li>3. Escribe un programa que, dado dos strings S1 y S2 y dos números enteros N1 y N2, determine si el substring que en S1 se extiende desde la posición N1 a la N2 (ambos inclusive) está contenido en S2.</li>

In [105]:
S1 = "Hola mundo"
S2 = "mundo Python"
N1 = 5
N2 = 9
substring = S1[N1:N2+1]
resultado = substring in S2
print(resultado)

True

<li>4. Dada una lista con elementos duplicados, escribir un programa que muestre una nueva lista con el mismo contenido que la primera pero sin elementos duplicados.</li>

In [106]:
lista_original = [1, 2, 2, 3, 4, 4, 5]
lista_sin_duplicados = list(set(lista_original))
print(lista_sin_duplicados)

[1, 2, 3, 4, 5]

<li>5. Escribe un programa que, dada una lista de strings L, un string s perteneciente a L y un string t, reemplace s por t en L. El programa debe mostrar la lista resultante por pantalla.</li>

In [107]:
L = ["manzana", "banana", "cereza"]
s = "banana"
t = "pera"
indice = L.index(s)
L[indice] = t
print(L)

['manzana', 'pera', 'cereza']

<li>6. Escribe un programa que defina una tupla con elementos numéricos, reemplace el valor del último por un valor diferente y muestre la tupla por pantalla. Recuerda que las tuplas son inmutables. Tendrás que usar objetos intermedios.</li>

In [108]:
tupla_original = (1, 2, 3, 4, 5)
nuevo_valor = 99
lista_temporal = list(tupla_original)
lista_temporal[-1] = nuevo_valor
tupla_modificada = tuple(lista_temporal)
print(tupla_modificada)

(1, 2, 3, 4, 99)

<li>7. Dada la lista [1,2,3,4,5,6,7,8] escribe un programa que, a partir de esta lista, obtenga la lista [8,6,4,2] y la muestre por pantalla.</li>

In [109]:
lista_original = [1, 2, 3, 4, 5, 6, 7, 8]
nueva_lista = lista_original[-1::-2]
print(nueva_lista)

[8, 6, 4, 2]

<li>8. Escribe un programa que, dada una tupla y un índice válido i, elimine el elemento de la tupla que se encuentra en la posición i. Para este ejercicio sólo puedes usar objetos de tipo tupla. No puedes convetir la tupla a una lista, por ejemplo.</li>

In [110]:
mi_tupla = (10, 20, 30, 40, 50)
i = 2  # Índice a eliminar
tupla_sin_elemento = mi_tupla[:i] + mi_tupla[i+1:]
print(tupla_sin_elemento)

(10, 20, 40, 50)

<li>9. Escribe un programa que obtenga la mediana de una lista de números. Recuerda que la mediana M de una lista de números L es el número que cumple la siguiente propiedad: la mitad de los números de L son superiores a M y la otra mitad son inferiores. Cuando el número de elementos de L es par, se puede considerar que hay dos medianas. No obstante, en este ejercicio consideraremos que únicamente existe una mediana.</li>

In [111]:
L = [5, 2, 9, 1, 7, 3, 8]
L_ordenada = sorted(L)
indice_mediana = len(L_ordenada) // 2
mediana = L_ordenada[indice_mediana]
print(mediana)

5

<h1>github</h1>
**https://github.com/Vanship77/cuaderno-machine-learning.git**

<h1>1. Estructuras de control</h1>

<h3>1.1 Selección (sentencias condicionales)</h3>
<ul>
  <li>Selección de una de varias alternativas en base a alguna condición.</li>
  <li>Indentación para estructurar el código.</li>
  <li>Importante el símbolo ‘:’.</li>
</ul>

In [113]:
# # Asigno el bvalo uno a la variable x
x = int(input("Ingrese el valor de x"))
#Implemento una condicional para saber si x es mayor a 0
if x > 0:
    print('Valor positivo')
else:
    print('Valor no positivo')

Ingrese el valor de x 23

Valor positivo

<ul>
  <li>Las condiciones son expresiones que se evalúan a <code>True</code> o <code>False</code>.</li>
  <li>Operadores de comparación, lógicos, de identidad y de pertenencia vistos anteriormente.</li>
</ul>

In [114]:
x = 3
y = [1, 2, 3]
print(x > 0)
1
print(x > 0 and x < 10)
print(x is not y)
print(x in y)

True
True
True
True

<ul>
  <li>Se pueden introducir más ‘ramas’ en sentencias condicionales a través de la palabra clave <code>elif</code>.</li>
</ul>

In [115]:
x = -3
if x > 0:
    print('Valor positivo')
elif x == 0:
    print('Valor nulo')
else:
    print('Valor negativo')

Valor negativo

<ul>
  <li>Anidamiento.</li>
</ul>

In [116]:
val = 120
if val > 0:
    if val < 100:
        print('Valor positivo')
    else:
        print('Valor muy positivo')
else:
    print('Valor negativo')

Valor muy positivo

<h2>2. Switch</h2>

In [117]:
a = -6
match a:
    case _ if a > 0:
        print('positive')
    case _ if a == 0:
        print('zero')
    case _ if a < 0:
        print('negative')

negative

In [118]:
a = 'l' #week day
match a:
    case 'L':
        print("Lunes")
    case 'M':
        print("Martes")
    case 'X':
        print("Miercoles")
    case _:
        print("Wrong Day")

Wrong Day

<h4>Expresión ternaria</h4>
<ul>
  <li>Estructura if-else condensado en una línea.</li>
  <li>Se recomienda usar solo en casos sencillos.</li>
</ul>

In [119]:
# # # Ejemplo: cálculo del valor absoluto de un número.
x = -3
resultado = x if x >= 0 else -x
print(resultado)

3

In [120]:
val = -3
if val >=0:
    resultado = val
else:
    resultado = -val
print(resultado)

3

<h4>Concatenación de comparaciones</h4>
<ul>
  <li>Se pueden concatenar comparaciones en una misma expresión:
    <ul>
      <li><code>and</code>: true, si ambos son true.</li>
      <li><code>or</code>: true, si al menos uno es true.</li>
      <li><code>not</code>: inversión del valor de verdad de una expresión.</li>
    </ul>
  </li>
  <li><code>elif</code> para comparar tras un <code>if</code>.</li>
</ul>
<p>Enlace a <a href="#">Tablas de Verdad</a>.</p>

In [121]:
genero = 'Drama'
fecha_de_estreno = 1989
if genero == 'Comedia' or genero == 'Acción':
    print('Buena película!')
elif fecha_de_estreno >= 1990 and fecha_de_estreno < 2000:
    print('Buena década!')
else:
    print('Meh')

Meh

<h4>Comparación de variables: ‘==’ vs ‘is’</h4>
<ul>
  <li><code>==</code> compara si el valor de las variables es el mismo.</li>
  <li><code>is</code> compara si los objetos en las variables son iguales (referencia).</li>
</ul>

In [122]:
a = 1000
b = a
print(a is b)
print(a == b)
c=type(a)
print(c)
d=type(b)
print(d)
print(c==d)
print(id(a))
print(id(b))

True
True
<class 'int'>
<class 'int'>
True
2458442424400
2458442424400

In [123]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a
print(a is b)
print(a is c)
print(a == b)
print(id(a))
print(id(b))
print(id(c))

False
True
True
2458443183360
2458443101696
2458443183360

<h4>Valor booleano</h4>
<ul>
  <li>Todos los objetos en Python tiene inherentemente un valor booleano: <code>True</code> o <code>False</code>.</li>
  <li>Cualquier número distinto de 0 ó cualquier objeto no vacío tienen valor <code>True</code>.</li>
  <li>El número 0, objetos vacíos y el objeto especial <code>None</code> tienen valor <code>False</code>.</li>
</ul>

In [124]:
a = -10 #True
b = None #False
if a:
    print("a es True")
if not b:
    print("b es False")

a es True
b es False

In [125]:
c = [1,2,3]
# a c le reasigno None
c = None #0 es igual a vacio a nada
if c:
    print("Lista no vacía")
else:
    print("Lista vacía")

Lista vacía

<h2>3. Iteración (bucles)</h2>

<h4>Bucle <code>while</code></h4>
<ul>
  <li>Repetición de un bloque de código hasta que se deje cumplir una expresión (es decir, hasta que una condición evalue a <code>False</code>).</li>
  <li>Si la condición evalua a <code>False</code> desde el principio, el bloque de código nunca se ejecuta.</li>
  <li>Cuidado con los bucles infinitos.</li>
</ul>

<h5>Formato general:</h5>
<pre><code>while test:    # Mientras se cumple la condición
    statements # Instrucciones a ejecutar</code></pre>

In [126]:
# # Ejemplo: Mostrar los primeros 3 objetos de una lista
indice = 0
numeros = [9, 4, 7, 1, 2]
while indice < 3:
    print(numeros[indice])
    indice =indice+1

9
4
7

In [127]:
# Ejemplo: contar y mostrar los números inferiores a 10.
numeros = [33, 3, 9, 21, 1, 7, 12, 10, 8]
contador = 0
indice = 0
while indice < len(numeros):
    if numeros[indice] < 10:
        print(numeros[indice])
        contador += 1
    indice += 1
print('Contador:', contador)
print('Indice:', indice)

3
9
1
7
8
Contador: 5
Indice: 9

In [128]:
nombre = 'Pablo'
while nombre: # Mientras 'nombre' no sea vacío
    print(nombre)
    nombre = nombre[1:]

Pablo
ablo
blo
lo
o

In [129]:
# #bucle infinito
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

<h4>Bucle <code>for</code></h4>
<ul>
  <li>Permite recorrer los items de una secuencia o un objeto iterable.</li>
  <li>Funciona en strings, listas, tuplas, etc.</li>
</ul>

<h5>Formato general:</h5>
<pre><code>for item in objeto:  # Asigna los items del objeto a la variable item en cada iteración
    statements       # Instrucciones a ejecutar</code></pre>

In [130]:
peliculas = ['Matrix', 'The purge', 'Avatar', 'Star Wars']
for pelicula in peliculas:
    print(pelicula)

Matrix
The purge
Avatar
Star Wars

<ul>
  <li>También se usa para iterar un número preestablecido de veces (counted loops).</li>
</ul>

In [131]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

<ul>
  <li><code>range</code> es útil en combinación con <code>len</code> porque permite acceder a los elementos de una secuencia por posición.</li>
</ul>

In [132]:
nombre = 'Pablo'
for i in range(len(nombre)):
    print(nombre[i])

P
a
b
l
o

In [133]:
for letra in nombre:
    print(letra)

P
a
b
l
o

<ul>
  <li>Iteración de tuplas.</li>
</ul>

In [134]:
tuplas = [(1, 2,4), (3, 4), (5, 6)]
for a, b,c in tuplas:
    print(a, b,c)

1 2 4

ValueError: not enough values to unpack (expected 3, got 2)

<ul>
  <li>Iteración de diccionarios. Se iteran las claves.</li>
</ul>

In [135]:
diccionario = {'a': 1, 'b': 2, 'c': 3}
for key in diccionario:
    print(f"{key} => {diccionario[key]}")

a => 1
b => 2
c => 3

<ul>
  <li>Para iterar los pares (clave-valor) o únicamente los valores, se deben usar los métodos <code>items</code> y <code>values</code>.</li>
</ul>

In [136]:
for key, value in diccionario.items():
    print(f"{key} => {value}")

a => 1
b => 2
c => 3

In [137]:
for value in diccionario.values():
    print(value)

1
2
3

<ul>
  <li>La variable <code>item</code> en la cabecera del <code>for</code> puede ser cualquier expresión que sea válida como parte izquierda de una asignación convencional.</li>
</ul>

In [138]:
for a, b, c in [(1, 2, 3), (4, 5, 6)]:
    print(a, b, c)

1 2 3
4 5 6

<h3>3.1 Las sentencias <code>break</code>, <code>continue</code> y <code>else</code></h3>

<h4>Break y continue</h4>
<ul>
  <li>Solo tienen sentido dentro de bucles.</li>
  <li><code>break</code> permite terminar el bucle por completo.</li>
  <li><code>continue</code> permite saltar a la siguiente iteración, continuando con el bucle.</li>
  <li>Pueden aparecer en cualquier parte de un bucle, pero normalmente aparecen dentro de sentencias condicionales (<code>if</code>).</li>
</ul>

In [139]:
# # Ejemplo: break
rating_to_find = 4.2
movie_ratings = [4.3, 2.5, 1.7, 4.2, 3.8, 3.3, 4.5]
for rating in movie_ratings:
    print(rating)
    if rating == rating_to_find:
        print("Found")
        break
print(rating)

4.3
2.5
1.7
4.2
Found
4.2

In [140]:
for i in range(10):
    if i % 2 == 0:
        continue # Si el número es par, salta a la siguiente iteración
    print(f'Odd number {i}')

Odd number 1
Odd number 3
Odd number 5
Odd number 7
Odd number 9

<ul>
  <li>Observa como la sentencia <code>continue</code> te puede ayudar a reducir el número de niveles de anidamiento.</li>
  <li>Sin <code>continue</code> el anterior ejemplo sería:</li>
</ul>

In [141]:
for i in range(10):
    if i % 2 != 0:
        print('Numero impar:', end=' ')
        print(i)

Numero impar: 1
Numero impar: 3
Numero impar: 5
Numero impar: 7
Numero impar: 9

In [142]:
for i in range(5):
    for a in range(2):
        print(f"{i} - {a}")
        if i == 3 and a == 0:
            break

0 - 0
0 - 1
1 - 0
1 - 1
2 - 0
2 - 1
3 - 0
4 - 0
4 - 1

<h4>Else</h4>
<ul>
  <li>Los bucles pueden tener una sentencia <code>else</code>.</li>
  <li>Resulta poco intuitiva para muchos programadores porque esta sintaxis no existe en otros lenguajes.</li>
  <li>Se ejecuta cuando el bucle termina con normalidad; es decir, cuando no termina a causa de un <code>break</code>.</li>
</ul>

In [143]:
lista = [60,60,30,60]
element_to_find = 60
for element in lista:
    if element == element_to_find:
        print("found")
        break
else:
    print("not found")

found

In [144]:
# with flag
lista = [10,30,50,40]
element_to_find = 30
found = False
for element in lista:
    if element == element_to_find:
        found = True
        break
if found:
    print("dato encontrado")
else:
    print("not found")

dato encontrado

<h2>4. List Comprehensions</h2>

<h4>List Comprehensions</h4>
<ul>
  <li>Permiten construir listas a través de la ejecución repetida (sentencia <code>for</code>) de una expresión para cada item de un objeto iterable.</li>
  <li>Van entre ‘<code>[</code>’ y ‘<code>]</code>’. Esto es indicativo de que estamos construyendo una lista.</li>
</ul>

<h5>Sintaxis:</h5>
<pre><code>[&lt;expression&gt; for &lt;item&gt; in &lt;iterable&gt;]</code></pre>

<h5>Ejemplo: repetir los carácteres de un string.</h5>

In [145]:
[char*3 for char in "Enrique"]

['EEE', 'nnn', 'rrr', 'iii', 'qqq', 'uuu', 'eee']

In [146]:
lista = []
for char in 'Enrique':
    lista.append(char)
print(lista)

['E', 'n', 'r', 'i', 'q', 'u', 'e']

<ul>
  <li>Comúnmente, el <code>item</code> de la sentencia <code>for</code> aparecerá en la expresión principal, pero eso no es obligatorio.</li>
</ul>

In [147]:
[2 for _ in 'Enrique']

[2, 2, 2, 2, 2, 2, 2]

<h5>4.0.1 Versión extendida</h5>
<ul>
  <li>Se puede especificar un filtro (sentencia <code>if</code>) para obtener únicamente los elementos que cumplan cierta condición.</li>
</ul>

<h6>Sintaxis:</h6>
<pre><code>[&lt;expression&gt; for &lt;item&gt; in &lt;iterable&gt; if &lt;condition&gt;]</code></pre>

<h6>Ejemplo: obtener números pares:</h6>

In [148]:
[y for y in range(9) if y % 2 == 0]

[0, 2, 4, 6, 8]

<ul>
  <li>Las list comprehension no son realmente requeridas, ya que siempre podemos escribir un bucle equivalente.</li>
</ul>

In [149]:
pares = []
for x in range(9):
    if x % 2 == 0:
        pares.append(x)
print(pares)

[0, 2, 4, 6, 8]

<h5>4.0.2 Versión completa</h5>
<ul>
  <li>La sentencia <code>if</code> de una list comprehension también puede contener una expresión alternativa.</li>
</ul>

<h6>Sintaxis:</h6>
<pre><code>[&lt;expression_1&gt; if &lt;condition&gt; else &lt;expression_2&gt; for &lt;item&gt; in &lt;iterable&gt;]</code></pre>

<h6>Ejemplo: poner a cero los números pares.</h6>

In [150]:
[0 if x % 2 == 0 else x for x in range(9)]

[0, 1, 0, 3, 0, 5, 0, 7, 0]

In [151]:
[x**2 if x > 2 else x for x in range(-4,5) if x > 0]

[1, 2, 9, 16]

In [152]:
lista = []
for x in range(-4,5):
    if x > 0:
        if x > 2:
            lista.append(x**2)
        else:
            lista.append(x)
print(lista)

[1, 2, 9, 16]

<h5>4.0.3 Anidamiento</h5>
<ul>
  <li>Las list comprehensions soportan anidamiento en sus expresiones.</li>
</ul>

<h6>Ejemplo: bucle anidado para obtener una lista de tuplas que combinan los elementos de dos listas dadas.</h6>

In [153]:
lista_1 = [1, 2, 3]
lista_2 = [4, 5]
[(x, y) for x in lista_1 for y in lista_2]

[(1, 4), (1, 5), (2, 4), (2, 5), (3, 4), (3, 5)]

<h5>4.0.4 Pros y contras</h5>
<ul>
  <li>Principales ventajas de las comprehensions en comparación a un bucle convencional:
    <ul>
      <li>Expresión compacta y legible, si estás familiarizado con la sintaxis.</li>
      <li>Mejor rendimiento.</li>
    </ul>
  </li>
  <li>Desventaja: no escalan bien. Una list comprehension se puede convertir rápidamente en una expresión difícil de entender.</li>
</ul>

<h5>4.0.5 Otros tipos de comprehensions</h5>
<h6>Dictionary comprehensions</h6>
<ul>
  <li>Usando ‘<code>{</code>’ y ‘<code>}</code>’ como delimitadores y una expresión ‘<code>clave : valor</code>’, se obtiene un diccionario en lugar de una lista.</li>
</ul>
<h6>Ejemplo: diccionario donde cada valor es el cuadrado de la clave.</h6>

In [154]:
d = {x : x*x for x in range(10)}
print(d)
print(type(d))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
<class 'dict'>

In [155]:
items = ['Banana', 'Pear', 'Olives']
price = [1.1, 1.4, 2.4]
shopping = {k:v for k,v in zip(items,price)}
print(shopping)

{'Banana': 1.1, 'Pear': 1.4, 'Olives': 2.4}

In [156]:
items = ['Banana', 'Pear', 'Olives']
price = [1.1, 1.4, 2.4]
for k in zip(items, price):
    print(type(k))
    print(k)

<class 'tuple'>
('Banana', 1.1)
<class 'tuple'>
('Pear', 1.4)
<class 'tuple'>
('Olives', 2.4)

<h6>Set comprehensions</h6>
<ul>
  <li>Usando ‘<code>{</code>’ y ‘<code>}</code>’ como delimitadores y una expresión simple (al igual que en las list comprehensions), se obtiene un conjunto.</li>
</ul>
<h6>Ejemplo: conjunto que incluye los 10 primeros números naturales.</h6>

In [157]:
c = {x for x in range(10)}
print(c)
print(type(c))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

<h3>Tuple comprehensions</h3>

In [158]:
tupla = tuple(x for x in range(4))
print(tupla)

(0, 1, 2, 3)

<h3>5. Excepciones</h3>

<h4>Excepciones</h4>
<ul>
  <li>Las excepciones son eventos que representan situaciones excepcionales.</li>
  <li>Alteran el flujo de ejecución convencional.</li>
  <li>Python lanza excepciones automáticamente cuando se producen errores.</li>
  <li>El programador puede lanzar excepciones de manera explícita y también capturar excepciones para actuar como se crea conveniente.</li>
</ul>

<h5>Try/except</h5>
<ul>
  <li>Permite capturar excepciones y actuar en consecuencia.</li>
</ul>
<h6>Ejemplo: error de acceso fuera de rango.</h6>

In [159]:
lista = [6, 1, 0, 5]
lista[4]
print('Código tras el error')

IndexError: list index out of range

In [160]:
lista = [6, 1, 0, 5]
i = 300
try:
    a = lista[i]
except IndexError:
    print('He capturado la excepción de tipo IndexError')
    a = 0
print('Código tras el bloque try')
print(a)

He capturado la excepción de tipo IndexError
Código tras el bloque try
0

<ul>
  <li>Normalmente, al capturar excepciones, querremos ser lo más específicos posible, pero también se puedes usar una sentencia <code>try-except</code> que capture cualquier error.</li>
</ul>

In [161]:
try:
    4/0
except:
    print('He capturado la división por cero')

He capturado la división por cero

<ul>
  <li>Recoger la excepción e imprimir el mensaje de error.</li>
</ul>

In [162]:
lista = [6, 1, 0, 5]
try:
    print(lista[4])
except Exception as e:
    print("Error = " + str(e))
print('Reacheable Code')

Error = list index out of range
Reacheable Code

<h5>Try/finally</h5>
<ul>
  <li>A través de <code>finally</code> podemos especificar código que queremos que se ejecute siempre (independientemente de si se produce la excepción o no).</li>
  <li>Se suele usar para liberar recursos.</li>
</ul>

In [163]:
lista = [6, 1, 0, 5]
try:
    a = lista[1]
except IndexError:
    print('Exception IndexError Captured')
finally:
    print('Bloque finally')
    b = lista[2]
print('Código tras el bloque try')
print(b)

Bloque finally
Código tras el bloque try
0

<h5>raise</h5>
<ul>
  <li>La sentencia <code>raise</code> nos permite lanzar excepciones de manera explícita.</li>
</ul>

In [164]:
lista = [6, 1, 0, 5]
indice = 4
try:
    if indice >= len(lista):
        raise IndexError('Índice fuera de rango')
except IndexError:
    print('Excepción de tipo IndexError capturada')

Excepción de tipo IndexError capturada

<h2>5.1 Ejercicios</h2>

<li>1. Escribe un programa que calcule la suma de todos los elementos de una lista dada. La lista sólo puede contener elementos numéricos.</li>

In [165]:
lista = [1, 2, 3, 4, 5]
suma = sum(lista)
print(suma)

15

<li>2. Dada una lista con elementos duplicados, escribir un programa que mostrar una nueva lista con el mismo contenido que la primera pero sin elementos duplicados. Para este ejercicio, no puedes hacer uso de objetos de tipo ‘Set’.</li>

In [166]:
lista = [1, 2, 2, 3, 3, 3, 4, 5]
sin_duplicados = []
for elemento in lista:
    if elemento not in sin_duplicados:
        sin_duplicados.append(elemento)
print(sin_duplicados)

[1, 2, 3, 4, 5]

<li>3. Escribe un programa que construya un diccionario que contenga un número (entre 1 y n) de elementos de esta forma: (x, x*x). Ejemplo: para n = 5, el diccionario resultante sería {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}</li>

In [167]:
n = 5
diccionario = {x: x*x for x in range(1, n+1)}
print(diccionario)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

<li>4. Escribe un programa que, dada una lista de palabras, compruebe si alguna empieza por ‘a’ y tiene más de 9 caracteres. Si dicha palabra existe, el programa deberá terminar en el momento exacto de encontrarla. El programa también debe mostrar un mensaje apropiado por pantalla que indique el éxito o el fracaso de la búsqueda. En caso de éxito, también se mostrará por pantalla la palabra encontrada.</li>

In [168]:
palabras = ["apple", "abracadabra", "banana", "aventurero", "kiwi"]
encontrada = None
for palabra in palabras:
    if palabra.startswith('a') and len(palabra) > 9:
        encontrada = palabra
        break
if encontrada:
    print(f"Éxito: '{encontrada}' encontrada")
else:
    print("Fracaso: No se encontró ninguna palabra")

Éxito: 'abracadabra' encontrada

<li>5. Dada una lista L de números positivos, escribir un programa que muestre otra lista (ordenada) que contenga todo índice i que cumpla la siguiente condición: L[i] es múltiplo de 3. Por ejemplo, dada la lista L = [3,5,13,12,1,9] el programa mostrará la lista [0,3,5] dado que L[0], L[3] y L[5] son, respectivamente, 3, 12 y 9, que son los únicos múltiplos de 3 que hay en L.</li>

In [169]:
L = [3, 5, 13, 12, 1, 9]
indices = [i for i, num in enumerate(L) if num % 3 == 0]
print(indices)

[0, 3, 5]

<li>6. Dado un diccionario cuyos elementos son pares de tipo string y numérico (es decir, las claves son de tipo ‘str’ y los valores son de tipo ‘int’ o ‘float’), escribe un programa que muestre por pantalla la clave cuyo valor asociado representa el valor númerico más alto de todo el diccionario. Por ejemplo, para el diccionario {‘a’: 4.3, ‘b’: 1, ‘c’: 7.8, ‘d’: -5} la respuesta sería ‘c’, dado que 7.8 es el valor más alto de los números 4.3, 1, 7.8 y -5.</li>

In [170]:
diccionario = {'a': 4.3, 'b': 1, 'c': 7.8, 'd': -5}
clave_max = max(diccionario, key=diccionario.get)
print(clave_max)

c

<li>7. Dada la lista a = [2, 4, 6, 8] y la lista b = [7, 11, 15, 22], escribe un programa que itere las listas a y b y multiplique cada elemento de a que sea mayor que 5 por cada elemento de b que sea menor que 14. El programa debe mostrar los resultados por pantalla.</li>

In [171]:
a = [2, 4, 6, 8]
b = [7, 11, 15, 22]
for num_a in a:
    if num_a > 5:
        for num_b in b:
            if num_b < 14:
                print(f"{num_a} * {num_b} = {num_a * num_b}")

6 * 7 = 42
6 * 11 = 66
8 * 7 = 56
8 * 11 = 88

<li>8. Escribir un programa que pida un valor numérico X al usuario. Para ello podéis hacer uso de la función predefinida ‘input’. El programa deberá mostrar por pantalla el resultado de la división 10/X. En caso de que el usuario introduzca valores no apropiados, el programa deberá gestionar correctamente las excepciones, por ejemplo, mostrando mensajes informativos por pantalla.</li>

In [176]:
try:
    x = float(input("Introduce un número: "))
    resultado = 10 / x
    print(f"10 / {x} = {resultado}")
except ValueError:
    print("Error: Debes introducir un número válido")
except ZeroDivisionError:
    print("Error: No se puede dividir entre cero")

Introduce un número:  14

10 / 14.0 = 0.7142857142857143

<li>9. Escribir un programa que cree un diccionario cualquiera. Posteriormente, el programa pedirá al usuario (a través de la función predefinida ‘input’) que introduzca una clave del diccionario. Si la clave introducida es correcta (es decir, existe en el diccionario), el programa mostrará por pantalla el valor asociado a dicha clave. En caso de que la clave no exista, el programa gestionará de manera apropiada el error, por ejemplo, mostrando un mensaje informativo al usuario.</li>

In [178]:
diccionario = {'nombre': 'Juan', 'edad': 25, 'ciudad': 'Quito'}
clave = input("Introduce una clave: ")
try:
    valor = diccionario[clave]
    print(f"{clave}: {valor}")
except KeyError:
    print(f"Error: La clave '{clave}' no existe en el diccionario")

Introduce una clave:  camila

Error: La clave 'camila' no existe en el diccionario

<li>10. Escribe una list comprehension que construya una lista con los números enteros positivos de una lista de números dada. La lista original puede incluir números de tipo float, los cuales deben ser descartados.</li>

In [179]:
numeros = [1, 3.5, -2, 4.7, 5, -3.2, 8.0, 9]
enteros_positivos = [num for num in numeros if isinstance(num, int) and num > 0]
print(enteros_positivos)

[1, 5, 9]

<li>11. Escribe una set comprehension que, dada una palabra, construya un conjunto que contenga las vocales de dicha palabra.</li>

In [180]:
palabra = "abracadabra"
vocales = {letra for letra in palabra if letra in 'aeiouAEIOU'}
print(vocales)

{'a'}

<li>12. Escribe una list comprehension que construya una lista con todos los números del 0 al 50 que contengan el dígito 3. El resultado será: [3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43].</li>

In [181]:
numeros_con_3 = [num for num in range(51) if '3' in str(num)]
print(numeros_con_3)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43]

<li>13. Escribe una dictionary comprehension que construya un diccionario que incluya los tamaños de cada palabra en una frase dada. Ejemplo: el resultado para la frase “Soy un ser humano” será {‘Soy’: 3, ‘un’: 2, ‘ser’: 3, ‘humano’: 6}</li>

In [182]:
frase = "Soy un ser humano"
longitudes = {palabra: len(palabra) for palabra in frase.split()}
print(longitudes)

{'Soy': 3, 'un': 2, 'ser': 3, 'humano': 6}

<li>14. Escribe una list comprehension que construya una lista que incluya todos los números del 1 al 10 en orden. La primera mitad se mostrarán en formato numérico; la segunda mitad en texto. Es decir, el resultado será: [1, 2, 3, 4, 5, ‘seis’, ‘siete’, ‘ocho’, ‘nueve’, ‘diez’]</li>

In [183]:
numeros_texto = {6: 'seis', 7: 'siete', 8: 'ocho', 9: 'nueve', 10: 'diez'}
resultado = [i if i <= 5 else numeros_texto[i] for i in range(1, 11)]
print(resultado)

[1, 2, 3, 4, 5, 'seis', 'siete', 'ocho', 'nueve', 'diez']

<h1>GITHUB</h1>

https://github.com/Vanship77/cuaderno-machine-learning.git

<h2>1. Funciones</h2>

<h3>1.1 ¿Qué son?</h3>
<ul>
  <li>Son un mecanismo que te ofrece el lenguaje para agrupar conjuntos de instrucciones de manera que se puedan ejecutar cuando el programador considere oportuno.</li>
  <li>Las funciones van identificadas por un nombre.</li>
  <li>Se debe usar este nombre para invocar (ejecutar) el código de la función.</li>
  <li>Las funciones calculan un resultado (output) en base a unos parámetros de entrada (input).</li>
  <li>En cada invocación de la función, los parámetros de entrada pueden variar.</li>
</ul>

<h3>1.2 Ejemplo</h3>

In [184]:
def sumar(x, y):
    suma=x+y
    return suma
print(sumar(4,5))
print(sumar(-2,0))

9
-2

In [185]:
#f = c * 1.793 + 32
c = 30
print(c * 1.793 + 32) # celsius to fahrenheit
c = 26
print(c * 1.793 + 32)

85.78999999999999
78.618

In [186]:
def convert_celsius_to_fahrenheit(c):
    return c * 1.791117 + 32

In [187]:
degrees = 15
print(convert_celsius_to_fahrenheit(degrees))

58.866755

<h3>1.3 ¿Qué ventajas nos proporcionan?</h3>
<ul>
  <li>Eliminación de duplicación de código.</li>
  <li>Incremento de la reutilización de código.</li>
  <li>Manejo de complejidad: permiten descomponer grandes sistemas en piezas más pequeñas y, por tanto, más manejables y comprensibles.</li>
</ul>

<h3>1.4 Programación de funciones en Python</h3>
<p>Las funciones se definen por medio de la palabra clave <code>def</code>.</p>

<p><strong>Formato general:</strong></p>
<pre><code>def name(arg1, arg2, ..., argN):
    statements</code></pre>

<p><strong>Muy comúnmente:</strong></p>
<pre><code>def name(arg1, arg2, ..., argN):
    ...
    return value</code></pre>

<ul>
  <li>Las funciones son instrucciones convencionales, que se ejecutan cuando el flujo de control llega a ellas.</li>
  <li>La definición de la función debe ejecutarse antes de poder invocarse la función.</li>
</ul>

In [188]:
# Primero, definición.
def crear_diccionario(keys, values):
    return dict(zip(keys, values))

In [189]:
# # Después, invocación.
nombres = ['Alfred', 'James', 'Peter', 'Harvey']
edades = [87, 43, 19, 16]
usuarios = crear_diccionario(nombres, edades)
print(usuarios)

{'Alfred': 87, 'James': 43, 'Peter': 19, 'Harvey': 16}

<ul>
  <li>Las funciones pueden estar anidadas en sentencias condicionales o bucles.</li>
</ul>

In [190]:
a = -2
if a > 0:
    def operacion(x, y):
        return x + y
else:
    def operacion(x, y):
        return x * y
print(operacion(3, 4))

12

<ul>
  <li>Argumentos y <code>return</code> son opcionales.</li>
</ul>

In [191]:
def print_hola_mundo():
    print('Hola Mundo')
    return # es opcional pero mejora la legibilidad
print_hola_mundo()

Hola Mundo

<ul>
  <li>Cuando una función no tiene sentencia <code>return</code>, la función devuelve el objeto <code>None</code>.</li>
</ul>

In [192]:
def print_hola_mundo():
    print('Hola Mundo')
    # return None
valor = print_hola_mundo()
print(valor)

Hola Mundo
None

<ul>
  <li>La sentencia <code>return</code> puede aparecer en cualquier parte de la función.</li>
</ul>

In [193]:
def div_safe(x,y):
    if y == 0:
        return "hola"
    return x / y
print(div_safe(6,2))
print(div_safe(6,0))
a = div_safe(6,0)
print(type(a))

3.0
hola
<class 'str'>

In [194]:
def div_safe(x,y):
    if y != 0:
        return x / y
    else:
        return 0
print(div_safe(6,0))

0

<ul>
  <li>Puede haber más de un valor de retorno. Se devuelve una tupla.</li>
</ul>

In [195]:
def devolver_primero_segundo(coleccion):
    return coleccion[0], coleccion[1], coleccion[2]
t = devolver_primero_segundo(['Alfred', 'James', 'Peter', 'Harvey'])
print(t)
print(t[1])
print(type(t))

('Alfred', 'James', 'Peter')
James
<class 'tuple'>

In [196]:
primero, segundo,tercero = devolver_primero_segundo(['Alfred', 'James','Peter', 'Harvey'])
print(primero)
print(segundo)
print(tercero)

Alfred
James
Peter

<ul>
  <li>El tipo de los parámetros y el valor de retorno se pueden especificar, pero son simples hints. Esto se llama <em>annotations</em>.</li>
</ul>

In [197]:
def add2(x:int, y:int) -> int:
    return x + y
print(add2(1,2))
print(add2("aa","ee"))

3
aaee

<ul>
  <li>Los argumentos pueden tener valores por defecto, siempre al final.</li>
</ul>

In [198]:
def f(a, b, c = None):
    if a is not None:
        print('Se ha proporcionado a')
    if b is not None:
        print('Se ha proporcionado b')
    if c is not None:
        print('Se ha proporcionado c')
f(1, 5, 2)

Se ha proporcionado a
Se ha proporcionado b
Se ha proporcionado c

<ul>
  <li>Los parámetros se pasan por posición, pero el orden se puede alterar si se especifica el nombre del parámetro en la llamada, <em>named values</em>.</li>
</ul>

In [199]:
def power(base, exponente):
    return pow(base, exponente)
print(power(2,3))
print(power(exponente = 3, base = 2))

8
8

<ul>
  <li>Al ejecutarse una sentencia <code>def</code>, se crea un objeto de tipo función y éste se asocia con el nombre especificado para la función.</li>
  <li>Un objeto de tipo función es como cualquier otro tipo de objeto.</li>
  <li>Variables pueden referenciar objetos de tipo función.</li>
</ul>

In [200]:
def sumar(x, y):
    return x + y
f = sumar
print(id(f))
print(id(sumar))
print(type(f))
print(sumar(5,6))
print(f(5,6))

2458442309824
2458442309824
<class 'function'>
11
11

In [201]:
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result
def concat5(x):
    return x + '_5'
strings = [' valencia ', ' barcelona', ' bilbao ']
print(strings)
operations = [str.strip, str.title, concat5]
print(clean_strings(strings, operations))

[' valencia ', ' barcelona', ' bilbao ']
['Valencia_5', 'Barcelona_5', 'Bilbao_5']

<ul>
  <li>Se pueden crear placeholders con la palabra clave <code>pass</code>.</li>
  <li><code>pass</code> representa una sentencia que no hace nada.</li>
  <li>Útil cuando la sintaxis del lenguaje requiere alguna sentencia, pero no tienes nada que escribir.</li>
</ul>

In [202]:
def mi_funcion():
    pass #TODO implement this
mi_funcion()

<h3>1.5 Paso de parámetros</h3>
<ul>
  <li><strong>Tipos simples (inmutables) por valor:</strong> <code>int</code>, <code>float</code>, <code>string</code>.
    <ul>
      <li>El efecto es como si se creara una copia dentro de la función, aunque realmente no es esto lo que ocurre.</li>
      <li>Los cambios dentro de la función no afectan fuera.</li>
    </ul>
  </li>
</ul>

In [203]:
def cambiar_valor(x):
    x += 3
    print('Dentro de la función:', x) # x ahora referencia a un nuevo objeto (el 3), pero esto no afecta a la variable de fuera de la función, que sigue apuntando al 2.
    return
a = 2
cambiar_valor(a)
print('Fuera de la función:', a)

Dentro de la función: 5
Fuera de la función: 2

<ul>
  <li><strong>Tipos complejos (mutables) por referencia:</strong> <code>list</code>, <code>set</code>, <code>dictionary</code>.
    <ul>
      <li>Dentro de la función se maneja el mismo objeto que se ha pasado desde fuera.</li>
      <li>Los cambios dentro de la función sí afectan fuera.</li>
    </ul>
  </li>
</ul>

In [204]:
def anyadir_2_a(x):
    x.append(4)
lista = [0, 1,3]
anyadir_2_a(lista)
print(lista)

[0, 1, 3, 4]

In [205]:
# with tuples
def anyadir_2_a(x):
    print(id(x))
    return
lista = (0, 1)
print(id(lista))
anyadir_2_a(lista)
print(lista)

2458443687680
2458443687680
(0, 1)

<ul>
  <li>Si quiero modificar un objeto que es de un tipo básico, los cuales se pasan por valor, puedo simplemente devolver el resultado de la función y hacer una asignación:</li>
</ul>

In [206]:
def multiplicar_por_2(x):
    x = x * 2
    return x
a = 3
a = multiplicar_por_2(a)
print(a)

6

<ul>
  <li>Si quiero que no se modifique un objeto de un tipo complejo, los cuales se pasan por referencia, puedo pasar una copia a la función:</li>
</ul>

In [207]:
def anyadir_2_a(x):
    x.append(2)
    print('Dentro de la función: ', x)
lista = [0, 1]
anyadir_2_a(lista.copy())
print('Fuera de la función: ', lista)

Dentro de la función:  [0, 1, 2]
Fuera de la función:  [0, 1]

In [208]:
# Alternativa para obtener una copia: slicing.
lista = [0, 1]
anyadir_2_a(lista[:])
print('Fuera de la función: ', lista)

Dentro de la función:  [0, 1, 2]
Fuera de la función:  [0, 1]

<ul>
  <li>Si la lista tiene sublistas anidadas hay que hacer un <code>deep copy</code>.</li>
</ul>

In [209]:
import copy
lista = [2, 4, 16, 32, [34, 10, [5,5]]]
# copia = lista.copy()
copia = copy.deepcopy(lista)
copia[0] = 454
copia[4][2][0] = 64
print(lista)
print(copia)
print(f"{id(lista)} - {id(copia)}")
print(f"{id(lista[4])} - {id(copia[4])}")

[2, 4, 16, 32, [34, 10, [5, 5]]]
[454, 4, 16, 32, [34, 10, [64, 5]]]
2458443256128 - 2458443389824
2458443265600 - 2458443262080

In [210]:
def funcion_poco_util(x):
    print(id(x))
    x = [2, 3]
    x.append(4)
    print(id(x))
lista = [0, 1]
print(id(lista))
funcion_poco_util(lista)
print(lista)

2458443519104
2458443519104
2458443265600
[0, 1]

In [211]:
def modif_tupla(a):
    print(id(a))
t = (1,2)
print(id(t))
modif_tupla(t)
print(t)

2458443538880
2458443538880
(1, 2)

<h3>1.6 Argumentos arbitrarios</h3>
<ul>
  <li>No se sabe a priori cuantos elementos se reciben.</li>
  <li>Se reciben como una tupla.</li>
  <li>Los parámetros se especifican con el símbolo <code>*</code>.</li>
</ul>

In [212]:
def saludar(*names):
    print(type(names))
    for name in names:
        print("Hola " + name)
saludar()
saludar("Manolo", "Pepe", "Luis", "Alex", "Juan")

<class 'tuple'>
<class 'tuple'>
Hola Manolo
Hola Pepe
Hola Luis
Hola Alex
Hola Juan

In [213]:
def consulta_sql(**kwargs):
    print(kwargs)
    sql = "SELECT * FROM bicis WHERE "
    args = [f"{key}={value}" for key, value in kwargs.items()]
    sql += " AND ".join((args))
    return sql
print(consulta_sql(station='alameda', free=10))

{'station': 'alameda', 'free': 10}
SELECT * FROM bicis WHERE station=alameda AND free=10

<h4>1.6.1 Desempaquetado en funciones</h4>

In [214]:
def saludar(quien, mensaje, gesto):
    print(f"Hola {quien}, {mensaje}, mira esto: {gesto}")
ls_saludo = ['Manolo', 'te quiere saludar', 'args']
saludar(ls_saludo[0], ls_saludo[1], ls_saludo[2])
saludar(*ls_saludo)

Hola Manolo, te quiere saludar, mira esto: args
Hola Manolo, te quiere saludar, mira esto: args

In [215]:
def saludar(quien, mensaje, gesto):
    print(f"Hola {quien}, {mensaje}, mira esto: {gesto}")
dc_saludo = {
    'quien': [12, 12, 3,4 , 5,3],
    'gesto': 'guiño',
    'mensaje': 'te quiere enseñar esto'
}
saludar(**dc_saludo)

Hola [12, 12, 3, 4, 5, 3], te quiere enseñar esto, mira esto: guiño

<h3>1.7 Recursividad</h3>
<ul>
  <li>Funciones que se llaman a sí mismas</li>
</ul>

In [216]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
print(factorial(10))
def fact(n):
    a = 1
    for i in range(1, n+1):
        a *= i
    return a
print(fact(10))

3628800
3628800

In [217]:
fact = lambda x: 1 if x == 0 else x * fact(x-1)
fact(10)

3628800

<h3>1.8 Funciones Lambda</h3>
<ul>
  <li>Es posible definir funciones anónimas (sin nombre).</li>
  <li>Lambdas son expresiones; por lo tanto, puede aparecer en lugares donde una sentencia <code>def</code> no puede (por ejemplo, dentro de una lista o como parámetro de una función).</li>
  <li>Útiles cuando se quiere pasar una función como argumento a otra.</li>
</ul>

<p><strong>Formato general:</strong></p>
<pre><code>lambda &lt;lista de argumentos&gt; : &lt;valor a retornar&gt;</code></pre>

<ul>
  <li>Importante: <code>&lt;valor a retornar&gt;</code> no es un conjunto de instrucciones. Es simplemente una expresión <code>return</code> que omite esta palabra.</li>
  <li>Las funciones definidas con <code>def</code> son más generales:
    <ul>
      <li>Cualquier cosa que implementes en un lambda, lo puedes implementar como una función convencional con <code>def</code>, pero no viceversa.</li>
    </ul>
  </li>
</ul>

In [218]:
# Ejemplo: función suma.
def suma(x, y, z):
    return x + y + z
print(suma(1, 2, 3))
# Ejemplo: función suma como expresión lambda.
suma2 = lambda x, y, z : x + y + z
print(suma2(1, 2, 3))

6
6

In [219]:
# La funcion 'sort' puede recibir una función optional como parámetro.
# Esta función 'key' se invoca para cada elemento de la lista antes de realizar las comparaciones.
# Ejemplo: ordenar strings por número de carácteres.
cities = ['Valencia', 'Lugo', 'Barcelona', 'Madrid']
cities.sort()
print(cities)
cities.sort(key = lambda x : len(x))
print(cities)
cities.sort(key = len)
print(cities)
def longitud(x):
    return len(x)
cities.sort(key = longitud)
print(cities)

['Barcelona', 'Lugo', 'Madrid', 'Valencia']
['Lugo', 'Madrid', 'Valencia', 'Barcelona']
['Lugo', 'Madrid', 'Valencia', 'Barcelona']
['Lugo', 'Madrid', 'Valencia', 'Barcelona']

In [220]:
# Mismo ejemplo sin lambda
cities = ['Valencia', 'Lugo', 'Barcelona', 'Madrid']
def num_caracteres(x):
    return len(x)
cities.sort(key = num_caracteres)
print(cities)

['Lugo', 'Madrid', 'Valencia', 'Barcelona']

<ul>
  <li>Nos podemos guardar una referencia para utilización repetida.</li>
</ul>

In [221]:
cities = ['Valencia', 'Lugo', 'Barcelona', 'Madrid']
f = lambda x : len(x)
for s in cities:
    print(f(s))

8
4
9
6

<ul>
  <li>Las expresiones lambda pueden formar parte de una lista.</li>
</ul>

In [222]:
# Lista de lambdas para mostrar las potencias de 2.
pows = [lambda x: x ** 0,
    lambda x: x ** 1,
    lambda x: x ** 2,
    lambda x: x ** 3,
    lambda x: x ** 4]
for f in pows:
    print(f(2))

1
2
4
8
16

<ul>
  <li>Diccionarios se pueden utilizar como ‘switch’ en otros lenguajes.</li>
  <li>Ideal para escoger entre varias opciones.</li>
</ul>

In [223]:
def switch_dict(operator, x, y):
    # crea un diccionario de opciones y selecciona 'operator'
    return {
        'add': lambda: x + y,
        'sub': lambda: x - y,
        'mul': lambda: x * y,
        'div': lambda: x / y,
    }.get(operator, lambda: None)() # retorna None si no encuentra 'operator'
print(switch_dict('add',2,2))
print(switch_dict('div',10,2))
print(switch_dict('mod',17,3))

4
5.0
None

<h3>1.9 Scopes</h3>
<ul>
  <li>La localización de una asignación a una variable en el código determina desde donde puedes acceder a esa variable.</li>
  <li>Por ejemplo, una variable asignada dentro de una función sólo es visible dentro de esa función.</li>
  <li>El alcance de la visibilidad de una variable determina su <em>scope</em>.</li>
  <li>El término <em>scope</em> hace referencia a un espacio de nombres (<em>namespace</em>). Por ejemplo, una función establece su propio <em>namespace</em>.</li>
</ul>

In [224]:
X = 10
def func():
    X = 20 # Local a la función. Es una variable diferente, no visible fuera de 'func'
    def func_int():
        X = 30
        print(X)
    func_int()
func()

30

<h4>Regla LEGB</h4>
<p>Dada una función F, tenemos los siguientes scopes:</p>
<ul>
  <li><strong>Local:</strong> variables locales a F.</li>
  <li><strong>Enclosing:</strong> variables localizadas en funciones que contienen a (o por encima de) F.</li>
  <li><strong>Global:</strong> variables definidas en el módulo (fichero) que no están contenidas en ninguna función. Este scope no abarca más de un fichero.</li>
  <li><strong>Built-ins:</strong> proporcionadas por el lenguaje.</li>
</ul>
<p>La resolución de nombres ocurre de abajo a arriba.</p>

In [225]:
# Global (X y func)
X = 99
def func(Y): # Local (Y y Z)
    Z = X + Y
    return Z
print(func(1))

100

In [226]:
X = 1
def func():
    X = 2 # X es una variable diferente
func()
print(X)

1

<ul>
  <li>La sentencia <code>global</code> nos permite modificar una variable global desde dentro de una función.</li>
</ul>

In [227]:
X = 1
def func():
    global X
    X = 2
func()
print(X)

2

<ul>
  <li>No hay necesidad de usar <code>global</code> para referenciar variables. Sólo es necesario para modificarlas.</li>
</ul>

In [228]:
y, z = 1, 2
def todas_globales():
    global x
    x = y + z # Las tres variables son globales.
todas_globales()
print(x)
print(y)
print(z)

3
1
2

In [229]:
X = 77
def f1():
    X = 88 # Enclosing scope (para f2)
    def f2():
        print(X)
    f2()
f1()

88

<h4>Closures</h4>
<ul>
  <li>Las funciones pueden recordar su <em>enclosing scope</em>, independientemente de si éstos continúan existiendo o no.</li>
</ul>

In [230]:
def f1():
    X = 88 # Enclosing scope (para f2)
    def f2():
        print(X)
    return f2 # Devuelve f2, sin invocarla
accion = f1()
accion()

88

<ul>
  <li>Sentencia <code>nonlocal</code> para modificar variables que no son locales, pero tampoco globales.</li>
</ul>

In [231]:
def f1():
    contador = 10
    def f2():
        nonlocal contador
        contador += 1
        print(contador)
    return f2
accion = f1()
accion()
accion()
accion()

11
12
13

<h3>1.10 Ejercicios</h3>

<ol>
  <li>Escribe una función que reciba como entrada una lista con números y devuelva como resultado una lista con los cuadrados de los números contenidos en la lista de entrada.</li>
</ol>

In [232]:
def cuadrados(lista):
    return [x**2 for x in lista]

numeros = [1, 2, 3, 4, 5]
resultado = cuadrados(numeros)
print(resultado)  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

<ol start="2">
  <li>Escribe una función que reciba números como entrada y devuelva la suma de los mismos. La función debe ser capaz de recibir una cantidad indeterminada de números. La función no debe recibir directamente ningún objeto complejo (lista, conjunto, etc.).</li>
</ol>

In [233]:
def suma_numeros(*args):
    return sum(args)

resultado = suma_numeros(1, 2, 3, 4, 5)
print(resultado)  # 15

15

<ol start="3">
  <li>Escribe una función que reciba un string como entrada y devuelva el string al revés. Ejemplo: si el string de entrada es ‘hola’, el resultado será ‘aloh’.</li>
</ol>

In [234]:
def invertir_string(texto):
    return texto[::-1]

resultado = invertir_string("hola")
print(resultado)  # aloh

aloh

<ol start="4">
  <li>Escribe una función lambda que, al igual que la función desarrollada en el ejercicio anterior, invierta el string recibido como parámetro. Ejemplo: si el string de entrada es ‘hola’, el resultado será ‘aloh’.</li>
</ol>

In [235]:
invertir = lambda s: s[::-1]

resultado = invertir("hola")
print(resultado)  # aloh

aloh

<ol start="5">
  <li>Escribe una función que compruebe si un número se encuentra dentro de un rango específico.</li>
</ol>

In [236]:
def en_rango(numero, minimo, maximo):
    return minimo <= numero <= maximo

resultado = en_rango(5, 1, 10)
print(resultado)  # True

True

<ol start="6">
  <li>Escribe una función que reciba un número entero positivo como parámetro y devuelva una lista que contenga los 5 primeros múltiplos de dicho número. Por ejemplo, si la función recibe el número 3, devolverá la lista [3, 6, 9, 12, 15]. Si la función recibe un parámetro incorrecto (por ejemplo, un número menor o igual a cero), mostrará un mensaje de error por pantalla y devolverá una lista vacía.</li>
</ol>

In [237]:
def primeros_multiplos(n):
    if n <= 0:
        print("Error: número debe ser positivo")
        return []
    return [n * i for i in range(1, 6)]

print(primeros_multiplos(3))   # [3, 6, 9, 12, 15]
print(primeros_multiplos(-2))  # Error + []

[3, 6, 9, 12, 15]
Error: número debe ser positivo
[]

<ol start="7">
  <li>Escribe una función que reciba una lista como parámetro y compruebe si la lista tiene duplicados. La función devolverá True si la lista tiene duplicados y False si no los tiene.</li>
</ol>

In [238]:
def tiene_duplicados(lista):
    return len(lista) != len(set(lista))

print(tiene_duplicados([1, 2, 3, 4, 5]))    # False
print(tiene_duplicados([1, 2, 3, 2, 4]))    # True

False
True

<ol start="8">
  <li>Escribe una función lambda que, al igual que la función desarrollada en el ejercicio anterior, reciba una lista como parámetro y compruebe si la lista tiene duplicados. La función devolverá True si la lista tiene duplicados y False si no los tiene.</li>
</ol>

In [239]:
tiene_duplicados = lambda lista: len(lista) != len(set(lista))

print(tiene_duplicados([1, 2, 3, 4, 5]))    # False
print(tiene_duplicados([1, 2, 3, 2, 4]))    # True

False
True

<ol start="9">
  <li>Escribe una función que compruebe si un string dado es un palíndromo. Un palíndromo es una secuencia de caracteres que se lee igual de izquierda a derecha que de derecha a izquierda. Por ejemplo, la función devolverá True si recibe el string “reconocer” y False si recibe el string “python”</li>
</ol>

In [240]:
def es_palindromo(texto):
    texto = texto.lower().replace(" ", "")
    return texto == texto[::-1]

print(es_palindromo("reconocer"))   # True
print(es_palindromo("python"))      # False

True
False

<h2>GITHUB</h2>

https://github.com/Vanship77/cuaderno-machine-learning.git

<h1>1 NumPy ndarray</h1>
<h4>16/01/2026</h4>

<h3>NumPy</h3>
<ul>
  <li><strong>NumPy (Numerical Python)</strong> es la de facto librería estándar para análisis numérico en Python.</li>
  <li>Estructura de datos multidimensional eficiente (escrita en C): <code>ndarray</code>.</li>
  <li>Colección de funciones para álgebra lineal, estadística descriptiva.</li>
  <li>Ayuda al procesamiento de datos (<code>np.where</code>).</li>
</ul>

In [241]:
 #importar libreria
import numpy as np

<h4>1.1 Performance Sample, NumPy vs Plain Python</h4>

In [242]:
my_list = list(range(10000000)) # Utilizando Listas Python
%time my_list = [x * 2 for x in my_list]

CPU times: total: 797 ms
Wall time: 813 ms

In [243]:
my_arr = np.arange(10000000) # Utilizando NumPy Arrays
%time my_arr2 = my_arr * 2

CPU times: total: 31.2 ms
Wall time: 23.3 ms

<h4>1.1 Performance Sample, NumPy vs Plain Python</h4>

In [244]:
array = np.array([ [2,71,0,34], [2,171,-35,34] ]) # 2D
print(array)

[[  2  71   0  34]
 [  2 171 -35  34]]

In [245]:
shopping_list = [ ['onions', 'carrots', 'celery'], ['apples', 'oranges','grapes'] ] # 2D
array = np.array(shopping_list) # convertir una lista en una ndarray
print(array)
print(type(array))

[['onions' 'carrots' 'celery']
 ['apples' 'oranges' 'grapes']]
<class 'numpy.ndarray'>

In [246]:
print(np.array([100,10,1])) # array a partir de una lista
print(np.arange(2,10,2.1)) # array a partir de una secuencia(range) 1D

[100  10   1]
[2.  4.1 6.2 8.3]

In [247]:
 # Generar arrays con valores fijos
print(np.zeros(2)) # 1D
print(np.ones((4,3))) # matrix 2x2
print(np.empty((2,2,2))) # matrix 2x2x2, no inicializados
print(np.full((5,2),2)) # matrix 5x2
print(np.eye(3)) # matrix identity

[0. 0.]
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
[[[9.88e-324 3.51e-322]
  [0.00e+000 1.68e-322]]

 [[9.88e-324 8.45e-322]
  [      nan 1.68e-322]]]
[[2 2]
 [2 2]
 [2 2]
 [2 2]
 [2 2]]
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

<h4>1.3 Obtener información sobre ndarray</h4>

In [248]:
my_ndarray = np.array([2,71,0,34])
print(my_ndarray)

[ 2 71  0 34]

In [249]:
print(my_ndarray.argmax()) # índice del valor más alto
print(np.amax(my_ndarray))
print(my_ndarray.argmin()) # índice del valor más bajo
print(np.amin(my_ndarray))
print(my_ndarray.nonzero()) # retorna los índices de los elementos distintos a 0

1
71
2
0
(array([0, 1, 3]),)

In [250]:
my_ndarray = np.full((5, 4,2), 2) # matrix 5x2x2
print(my_ndarray)
print(my_ndarray.size) # número de elementos
print(my_ndarray.shape) # dimensiones
print(my_ndarray.ndim) # número de dimensiones

[[[2 2]
  [2 2]
  [2 2]
  [2 2]]

 [[2 2]
  [2 2]
  [2 2]
  [2 2]]

 [[2 2]
  [2 2]
  [2 2]
  [2 2]]

 [[2 2]
  [2 2]
  [2 2]
  [2 2]]

 [[2 2]
  [2 2]
  [2 2]
  [2 2]]]
40
(5, 4, 2)
3

In [251]:
my_ndarray = np.array([2,71,0,34])
print(my_ndarray.size) # número de elementos
print(my_ndarray.shape) # dimensiones
print(my_ndarray.ndim) # número de dimensiones

4
(4,)
1

<h4>Redimensionar los datos</h4>

In [252]:
my_ndarray = np.array([[0, 71, 21, 19, 213, 412, 111, 98]]) # matrix 1x8
print(my_ndarray)
print(my_ndarray.shape)
print(my_ndarray.ndim)

[[  0  71  21  19 213 412 111  98]]
(1, 8)
2

In [253]:
new_dims = my_ndarray.reshape(2, 4) # cambiar las dimensiones a 2x4
print(new_dims)
print(new_dims.ndim)

[[  0  71  21  19]
 [213 412 111  98]]
2

In [254]:
new_dims = my_ndarray.reshape(4, 2) # cambiar las dimensiones a 4x2
print(new_dims)
print(new_dims.ndim)

[[  0  71]
 [ 21  19]
 [213 412]
 [111  98]]
2

In [255]:
x = np.array([100, 10, 1]).reshape(3,1)
print(x.shape)
print(x)

(3, 1)
[[100]
 [ 10]
 [  1]]

In [256]:
# reducir a 1D
new_dims = np.arange(9).reshape(3,3)
print(new_dims)
print(new_dims.flatten())

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[0 1 2 3 4 5 6 7 8]

In [257]:
# reducir
new_dims = np.arange(16).reshape(4,4)
print(new_dims)
print(new_dims.reshape(2,-1)) # el segundo valor se infiere del primero

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[[ 0  1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14 15]]

<h4>1.4 Manipulación de ndarrays</h4>

In [258]:
# Cambiar ejes
new_dims = np.arange(16).reshape(8,2)
print(new_dims)
print(new_dims.swapaxes(0,1))

[[ 0  1]
 [ 2  3]
 [ 4  5]
 [ 6  7]
 [ 8  9]
 [10 11]
 [12 13]
 [14 15]]
[[ 0  2  4  6  8 10 12 14]
 [ 1  3  5  7  9 11 13 15]]

In [259]:
# Flip
new_dims = np.arange(16).reshape(4,4)
print(new_dims)
print(np.flip(new_dims, axis = None))

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[[15 14 13 12]
 [11 10  9  8]
 [ 7  6  5  4]
 [ 3  2  1  0]]

In [260]:
 # ordenar
array1 = np.array([10,2,9,17])
array1.sort()
print(array1)

[ 2  9 10 17]

In [261]:
# Juntar dos arrays
a1 = [0,0,0,0,0,0]
a2 = [1,1,1,1,1,1]
print(np.hstack((a1,a2))) # una al lado de la otra
print(np.hstack((a1,a2)).shape)
print(np.vstack((a1,a2))) # una encima de la otra
print(np.vstack((a1,a2)).shape)

[0 0 0 0 0 0 1 1 1 1 1 1]
(12,)
[[0 0 0 0 0 0]
 [1 1 1 1 1 1]]
(2, 6)

In [262]:
array1 = np.array([[2, 4], [6, 8]])
array2 = np.array([[3, 5], [7, 9]])
print(np.concatenate((array1, array2), axis = 0))

[[2 4]
 [6 8]
 [3 5]
 [7 9]]

In [263]:
# dividir un array
array = np.arange(16).reshape(4,4)
print(array)
print(np.array_split(array, 2, axis = 0)) # divide array en 2 partes iguales
print(np.array_split(array, 3)) # divide array en 3 partes "iguales"

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[array([[0, 1, 2, 3],
       [4, 5, 6, 7]]), array([[ 8,  9, 10, 11],
       [12, 13, 14, 15]])]
[array([[0, 1, 2, 3],
       [4, 5, 6, 7]]), array([[ 8,  9, 10, 11]]), array([[12, 13, 14, 15]])]

In [264]:
# dividir un array
array = np.arange(16).reshape(4,4)
print(array)
print(np.array_split(array, [3], axis = 1)) # divide array, por la fila 3

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[array([[ 0,  1,  2],
       [ 4,  5,  6],
       [ 8,  9, 10],
       [12, 13, 14]]), array([[ 3],
       [ 7],
       [11],
       [15]])]

In [265]:
split = np.array_split(array, [3], axis = 1)
print(split[0][3][0])

12

In [266]:
array = np.arange(64).reshape(8,8)
print(array)
print(np.array_split(array, [1, 3], axis = 0)) # divide array por la fila 1 y 3
print(np.array_split(array, [1, 3], axis = 1)) # divide array por la columna 1 y 3
# axis = n_dimensions - 1

[[ 0  1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14 15]
 [16 17 18 19 20 21 22 23]
 [24 25 26 27 28 29 30 31]
 [32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47]
 [48 49 50 51 52 53 54 55]
 [56 57 58 59 60 61 62 63]]
[array([[0, 1, 2, 3, 4, 5, 6, 7]]), array([[ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23]]), array([[24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])]
[array([[ 0],
       [ 8],
       [16],
       [24],
       [32],
       [40],
       [48],
       [56]]), array([[ 1,  2],
       [ 9, 10],
       [17, 18],
       [25, 26],
       [33, 34],
       [41, 42],
       [49, 50],
       [57, 58]]), array([[ 3,  4,  5,  6,  7],
       [11, 12, 13, 14, 15],
       [19, 20, 21, 22, 23],
       [27, 28, 29, 30, 31],
       [35, 36, 37, 38, 39],
       [43, 44, 45, 46, 47],
       [51, 52, 53, 54, 55],
       [59, 60, 61, 62, 63]])]

<h3>2 Índices y slicing</h3>
<ul>
  <li>De manera análoga a índices y slicing para listas.</li>
</ul>

In [267]:
array = np.arange(10, 16)
print(array)
print(array[-1]) # acceso unidimensional
print(array[:-1]) # slice

[10 11 12 13 14 15]
15
[10 11 12 13 14]

In [268]:
# bidimensional
array = np.arange(16).reshape(4,4)
print(array)
print(array[2, 2]) # fila, columna
print(array[3][2]) # fila, columna

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
10
14

In [269]:
# multidimensional
array = np.arange(36).reshape(2,3,6)
print(array)
print(array[0,2,4])
print(array[1][2][4])

[[[ 0  1  2  3  4  5]
  [ 6  7  8  9 10 11]
  [12 13 14 15 16 17]]

 [[18 19 20 21 22 23]
  [24 25 26 27 28 29]
  [30 31 32 33 34 35]]]
16
34

<h4>NumPy es row major</h4>

In [270]:
row_major = np.array([1, 2, 3, 4, 5, 6])
row_major = row_major.reshape(2,3) # by default, row major
print(row_major)

[[1 2 3]
 [4 5 6]]

In [271]:
row_major = np.array([1, 2, 3, 4, 5, 6])
row_major = row_major.reshape(2,3,order='C') # by default, row major
print(row_major)
col_major = np.array([1, 2, 3, 4, 5, 6])
col_major = col_major.reshape(2,3,order='F') # col major
print(col_major)

[[1 2 3]
 [4 5 6]]
[[1 3 5]
 [2 4 6]]

<h4>Slice</h4>

In [272]:
# se puede hacer slice por fila o columna
array = np.arange(81).reshape(9,9)
print(array)
print(array[1:3, 2::2])

[[ 0  1  2  3  4  5  6  7  8]
 [ 9 10 11 12 13 14 15 16 17]
 [18 19 20 21 22 23 24 25 26]
 [27 28 29 30 31 32 33 34 35]
 [36 37 38 39 40 41 42 43 44]
 [45 46 47 48 49 50 51 52 53]
 [54 55 56 57 58 59 60 61 62]
 [63 64 65 66 67 68 69 70 71]
 [72 73 74 75 76 77 78 79 80]]
[[11 13 15 17]
 [20 22 24 26]]

In [273]:
 # se puede hacer slice por fila o columna
array = np.arange(9).reshape(3,3)
print(array)
print(array[0,:])

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[0 1 2]

<h4>Diferencias entre índices y slicing en listas y ndarrays:</h4>
<ul>
  <li>¡Retornan una referencia, no una copia!</li>
</ul>

In [274]:
# uso de slice en listas, retorna copia
lista = [0,1,2,3,4,5,6,7,8,9]
my_copy = lista[0:2] # devuelve una copia
print(my_copy)
my_copy[0] = 222
print(lista)
print(my_copy)

[0, 1]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[222, 1]

In [275]:
# slicing retorna una referencia en ndarrays
array = np.arange(10)
my_copy = array[2:5] # devuelve una referencia
print(array)
print(my_copy)
my_copy[0] = 222
print(array)
print(my_copy)

[0 1 2 3 4 5 6 7 8 9]
[2 3 4]
[  0   1 222   3   4   5   6   7   8   9]
[222   3   4]

In [276]:
# copiar ndarrays
array = np.arange(10)
my_copy = array[2:5].copy() # hay que hacer la copia explicitamente
my_copy[0] = 222
print(array)
print(my_copy)

[0 1 2 3 4 5 6 7 8 9]
[222   3   4]

<ul>
  <li>Permite asignar valores a un corte.</li>
</ul>

In [277]:
array = np.arange(10)
print(array)
print(array[0:3])
array[0:3] = -1
print(array)

[0 1 2 3 4 5 6 7 8 9]
[0 1 2]
[-1 -1 -1  3  4  5  6  7  8  9]

<ul>
  <li>Slicing condicionales (mask).</li>
</ul>

In [278]:
# slicing condicional
array = np.arange(-3,4)
print(array)
mask = array %2 == 0
print(mask)
print(array[mask])
print(array[array %2 == 0])
array[mask] = 0
print(array)

[-3 -2 -1  0  1  2  3]
[False  True False  True False  True False]
[-2  0  2]
[-2  0  2]
[-3  0 -1  0  1  0  3]

In [279]:
array = np.arange(-3,4)
print(array)
array[array < 0] = 0
print(array)

[-3 -2 -1  0  1  2  3]
[0 0 0 0 1 2 3]

In [280]:
# slicing condicional
array = np.arange(-3,4)
print(array)
mask = array % 2 == 0
print(mask)
array_par = array[mask] # devuelve una copia
print(array_par)
array_par[0] = -10
print(array)
print(array_par)

[-3 -2 -1  0  1  2  3]
[False  True False  True False  True False]
[-2  0  2]
[-3 -2 -1  0  1  2  3]
[-10   0   2]

<ul>
  <li>Acceso a múltiples valores con listados de índices.</li>
</ul>

In [281]:
array = np.arange(0,16).reshape(4,4)
print(array)
print(array[[1,2]]) #selecting rows
print(array[:,[1,2]]) #selecting columns
# cross product of indexes
print(array[[1,2],:][:,[1,2]])
print(array[np.ix_([1,2],[1,2])]) # built in ix_
ar = array[[2,3,1]] # slice, copia
print(ar)
ar[0] = 999
print(ar)
print(array)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[[ 4  5  6  7]
 [ 8  9 10 11]]
[[ 1  2]
 [ 5  6]
 [ 9 10]
 [13 14]]
[[ 5  6]
 [ 9 10]]
[[ 5  6]
 [ 9 10]]
[[ 8  9 10 11]
 [12 13 14 15]
 [ 4  5  6  7]]
[[999 999 999 999]
 [ 12  13  14  15]
 [  4   5   6   7]]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

<h3>3 Funciones matemáticas</h3>
<ul>
  <li>Aplicar operaciones entre escalares y arrays o entre arrays.</li>
</ul>

In [282]:
# listas y escalares
lista = [0,1,2,3]
lista *= 3
print(lista)
lista += [1]
print(lista)

[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]
[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 1]

In [283]:
# ndarray hace las operaciones sobre los elementos
array = np.ones(4, dtype = np.int8)
print(array)
array *= 2
print(array)
array += 10
print(array)
print(array.dtype) # check data type of array

[1 1 1 1]
[2 2 2 2]
[12 12 12 12]
int8

In [284]:
# operaciones entre arrays es como operaciones entre matrices
array_1 = np.ones(4) * 2
array_2 = np.arange(4) + 1
print(array_1)
print(array_2)
print(array_1 + array_2)
print(array_1 - array_2)
print(array_1 * array_2)
print(array_2 / array_1)

[2. 2. 2. 2.]
[1 2 3 4]
[3. 4. 5. 6.]
[ 1.  0. -1. -2.]
[2. 4. 6. 8.]
[0.5 1.  1.5 2. ]

<h4>3.1 Broadcasting</h4>
<ul>
  <li>Si las arrays no tienen las mismas dimensiones, se hace broadcast del pequeño al grande → broadcasting.</li>
</ul>

<h4>3.2 Operadores unarios y binarios</h4>

<table border="1">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Operación</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="11">Unario</td>
      <td>abs</td>
      <td>Valor absoluto de cada elemento</td>
    </tr>
    <tr>
      <td>sqrt</td>
      <td>Raíz cuadrada de cada elemento</td>
    </tr>
    <tr>
      <td>exp</td>
      <td>e^x, siendo x cada elemento</td>
    </tr>
    <tr>
      <td>log, log10, log2</td>
      <td>Logaritmos en distintas bases de cada elemento</td>
    </tr>
    <tr>
      <td>sign</td>
      <td>Retorna el signo de cada elemento (-1 para negativo, 0 o 1 para positivo)</td>
    </tr>
    <tr>
      <td>ceil</td>
      <td>Redondea cada elemento por arriba</td>
    </tr>
    <tr>
      <td>floor</td>
      <td>Redondea cada elemento por abajo</td>
    </tr>
    <tr>
      <td>isnan</td>
      <td>Retorna si cada elemento es NaN</td>
    </tr>
    <tr>
      <td>cos, sin, tan</td>
      <td>Operaciones trigonométricas en cada elemento</td>
    </tr>
    <tr>
      <td>arccos, arcsin, arctan</td>
      <td>Inversas de operaciones trigonométricas en cada elemento</td>
    </tr>
    <tr>
      <td rowspan="8">Binario</td>
      <td>add</td>
      <td>Suma de dos arrays</td>
    </tr>
    <tr>
      <td>subtract</td>
      <td>Resta de dos arrays</td>
    </tr>
    <tr>
      <td>multiply</td>
      <td>Multiplicación de dos arrays</td>
    </tr>
    <tr>
      <td>divide</td>
      <td>División de dos arrays</td>
    </tr>
    <tr>
      <td>maximum, minimum</td>
      <td>Retorna el valor máximo/mínimo de cada pareja de elementos</td>
    </tr>
    <tr>
      <td>equal, not_equal</td>
      <td>Retorna la comparación (igual o no igual) de cada pareja de elementos</td>
    </tr>
    <tr>
      <td>greater, greater_equal, less, less_equal</td>
      <td>Retorna la comparación (>, >=, <, <= respectivamente) de cada pareja de elementos</td>
    </tr>
  </tbody>
</table>

In [285]:
# ejemplos de operadores
array = np.arange(5)
print(array)
np.sqrt(array)

[0 1 2 3 4]

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ])

In [286]:
# ejemplos de operadores
array1 = np.arange(4)
array2 = np.array([0,-1,2,-3])
print(array1)
print(array2)
print(np.greater(array1,array2))
print(np.less(array2, array1))

[0 1 2 3]
[ 0 -1  2 -3]
[False  True False  True]
[False  True False  True]

<h3>4 Estadística descriptiva</h3>

<ul>
  <li>Importante saber la naturaleza de los datos.</li>
  <li>Valores máximos, mínimos, distribución, etc.</li>
</ul>

<table border="1">
  <thead>
    <tr>
      <th>Función</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>sum(arr)</code></td>
      <td>Suma de todos los elementos de arr</td>
    </tr>
    <tr>
      <td><code>mean(arr)</code></td>
      <td>Media aritmética de los elementos de arr</td>
    </tr>
    <tr>
      <td><code>std(arr)</code></td>
      <td>Desviación estándar de los elementos de arr</td>
    </tr>
    <tr>
      <td><code>cumsum(arr)</code></td>
      <td>Devuelve array con la suma acumulada de cada elemento con todos los anteriores</td>
    </tr>
    <tr>
      <td><code>cumprod(arr)</code></td>
      <td>Devuelve array con el producto acumulado de cada elemento con todos los anteriores</td>
    </tr>
    <tr>
      <td><code>min(arr)</code>, <code>max(arr)</code></td>
      <td>Mínimo y máximo de arr</td>
    </tr>
    <tr>
      <td><code>any(arr)</code></td>
      <td>En array de tipo bool, retorna True si algún elemento es True</td>
    </tr>
    <tr>
      <td><code>all(arr)</code></td>
      <td>En array de tipo bool, retorna True si todos los elementos son True (o ≠0 en valores numéricos)</td>
    </tr>
    <tr>
      <td><code>unique(arr)</code></td>
      <td>Devuelve un array con valores únicos</td>
    </tr>
    <tr>
      <td><code>in1d(arr1, arr2)</code></td>
      <td>Devuelve un array con bool indicando si cada elemento de arr1 está en arr2</td>
    </tr>
    <tr>
      <td><code>union1d(arr1, arr2)</code></td>
      <td>Devuelve la unión de ambos arrays</td>
    </tr>
    <tr>
      <td><code>intersect1d(arr1, arr2)</code></td>
      <td>Devuelve la intersección de ambos arrays</td>
    </tr>
  </tbody>
</table>

In [287]:
# sum != cumsum
array1 = np.arange(9)
print(array1)
print(array1.sum())
print(array1.cumsum())

[0 1 2 3 4 5 6 7 8]
36
[ 0  1  3  6 10 15 21 28 36]

In [288]:
# any vs all
array1 = np.arange(-8,2).reshape(2,5)
print(array1)
print(array1.any()) # any para saber si hay elementos True o valores <> 0
print(array1.all()) # all para saber si TODOS los elementos son True o valores <> 0

[[-8 -7 -6 -5 -4]
 [-3 -2 -1  0  1]]
True
False

In [289]:
# todas las funciones aceptan parametro 'axis'
# 0 para columnas, 1 para filas, 2 para profundidad...
array1 = np.arange(10).reshape(2,5)
print(array1)
print(array1.all(axis=0))
print(array1.all(axis=1))
print(array1.all())

[[0 1 2 3 4]
 [5 6 7 8 9]]
[False  True  True  True  True]
[False  True]
False

<h3>5 Álgebra lineal</h3>

<ul>
  <li><code>numpy.linalg</code> contiene funciones para álgebra lineal.</li>
  <li>Dot product, multiplicación de matrices, cálculo del determinante, factorizaciones…</li>
</ul>

<table border="1">
  <thead>
    <tr>
      <th>Función</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>dot(mat1, mat2)</code></td>
      <td>Devuelve el producto escalar entre dos arrays. Si son matrices 2D, es equivalente a la multiplicación de ambas</td>
    </tr>
    <tr>
      <td><code>matmul(mat1, mat2)</code></td>
      <td>Devuelve el producto entre dos matrices</td>
    </tr>
    <tr>
      <td><code>trace(mat1, mat2)</code></td>
      <td>Suma de las diagonales de ambas matrices</td>
    </tr>
    <tr>
      <td><code>det(mat)</code></td>
      <td>Devuelve el determinante de la matriz</td>
    </tr>
    <tr>
      <td><code>eig(mat)</code></td>
      <td>Computa los autovalores y autovectores de la matriz cuadrada mat</td>
    </tr>
    <tr>
      <td><code>inv(mat)</code></td>
      <td>Devuelve la inversa de la matriz</td>
    </tr>
    <tr>
      <td><code>qr(mat)</code></td>
      <td>Computa la factorización QR de mat</td>
    </tr>
    <tr>
      <td><code>solve(A, b)</code></td>
      <td>Resuelve el sistema lineal de ecuaciones Ax = b para b, cuando A es una matriz cuadrada</td>
    </tr>
    <tr>
      <td><code>transpose(mat)</code></td>
      <td>Devuelve la transpuesta de la matrix</td>
    </tr>
  </tbody>
</table>

In [290]:
A = np.arange(12).reshape(4,3)
B = np.arange(6).reshape(3,2)
print(A)
print(B)
print(np.matmul(A, B))
print(np.dot(A, B))
print(A @ B)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]
[[0 1]
 [2 3]
 [4 5]]
[[10 13]
 [28 40]
 [46 67]
 [64 94]]
[[10 13]
 [28 40]
 [46 67]
 [64 94]]
[[10 13]
 [28 40]
 [46 67]
 [64 94]]

In [291]:
import numpy.linalg as lg
import math
# resolver sistema de ecuaciones
# 3x + 2y + 5z = 12
# x - 3y -z = 2
# 2x -y +12z = 32
# Ax = b --> resolver para x
a = np.array([ [3,2,5], [1,-3,-1], [2,-1,12] ])
b = np.array([12,2,32])
print(a)
print(b)
x,y,z = lg.solve(a,b)
print(f'x={x} y={y} z={z}')
print(math.isclose(3*x + 2*y +5*z, 12))
print(math.isclose(x - 3*y - z, 2))
print(math.isclose(2*x -y + 12*z, 32))

[[ 3  2  5]
 [ 1 -3 -1]
 [ 2 -1 12]]
[12  2 32]
x=0.7543859649122807 y=-1.2280701754385965 z=2.43859649122807
True
True
True

In [292]:
#matriz identidad
I = np.identity(4)
print(I)
A = np.arange(16).reshape(4,4)
print(A)
print(np.matmul(A,I))

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]
 [12. 13. 14. 15.]]

<h3>6 Filtrado de datos</h3>

<ul>
  <li>Filtrar y modificar datos numéricos con <code>np.where</code>.</li>
  <li>Retorna A o B en función de una condición en una array.</li>
</ul>

In [293]:
prices = np.array([0.99, 14.49, 19.99, 20.99, 0.49])
mask = prices < 1
print(prices[prices < 1]) #slicing condicional
# mask con los elementos menores de 1
# mask = np.where(prices < 1, True, False)
# print(mask)
# print(prices[mask])
# prices[mask] = 1.0
# print(prices)
print(np.where(prices < 1, 1.0, prices))

[0.99 0.49]
[ 1.   14.49 19.99 20.99  1.  ]

In [294]:
# Se puede usar para sustituir datos fuera de rango
bank_transfers_values = np.array([0.99, -1.49, 19.99, 20.99, -0.49, 12.1]).reshape(2, 3)
print(bank_transfers_values)
clean_data = np.where(bank_transfers_values > 0, bank_transfers_values, 0)
print(clean_data)
# limpiar NaN (sustitución)
data = [10, 12, -143, np.nan, 1, -3] # np.nan --> NotANumber, elemento especial
data_clean = np.where(np.isnan(data), 0, data)
print(data_clean)
print(id(data))
print(id(data_clean))

[[ 0.99 -1.49 19.99]
 [20.99 -0.49 12.1 ]]
[[ 0.99  0.   19.99]
 [20.99  0.   12.1 ]]
[  10.   12. -143.    0.    1.   -3.]
2456967747328
2456967726352

In [295]:
# np.where puede seleccionar elementos
bank_transfers_values = np.array([0.99, -1.49, 19.99, 20.99, -0.49, 12.1]).reshape(2, 3)
print(bank_transfers_values)
credits = np.where(bank_transfers_values > 0) # array de índices para los que la condición es True
print(credits)
print(bank_transfers_values[credits]) # es igual que bank_transfers_values[bank_transfers_values > 0]
print(bank_transfers_values[bank_transfers_values > 0])

[[ 0.99 -1.49 19.99]
 [20.99 -0.49 12.1 ]]
(array([0, 0, 1, 1]), array([0, 2, 0, 2]))
[ 0.99 19.99 20.99 12.1 ]
[ 0.99 19.99 20.99 12.1 ]

In [296]:
# valor de array dependiendo del valor en array referencia
rewards_default = np.arange(6)
print(rewards_default)
rewards_upgrade = np.arange(6) * 10
print(rewards_upgrade)
daily_points = np.array([0, 0, 1, 6, 0, 2])
print(daily_points)
final_rewards = np.where(daily_points > 1, rewards_upgrade, rewards_default)
print(final_rewards)

[0 1 2 3 4 5]
[ 0 10 20 30 40 50]
[0 0 1 6 0 2]
[ 0  1  2 30  4 50]

<h3>7 Números aleatorios</h3>
<ul>
  <li>Python módulo <code>random</code>.</li>
</ul>

In [297]:
import random
print(random.random()) # número entre 0 y 1
print(random.randint(0,5)) # integral entre dos valores
print(random.uniform(0,5)) # real entre dos valores

0.16269594537675436
2
2.131562833714886

In [298]:
# elegir un elemento al azar dentro de una colección
names = ['Pikachu','Eevee','Charmander']
random.choice(names)

'Charmander'

<h4>7.1 NumPy.random</h4>
<ul>
  <li>Generar fácilmente listas con valores aleatorios.</li>
</ul>

In [299]:
print(np.random.rand()) # número entre 0 y 1
print(np.random.randint(0,5)) # integral entre dos valores
print(np.random.randint(5, size=(2, 4))) # parametro 'size' para indicar las dimensiones)

0.861820693635626
4
[[4 2 4 4]
 [3 1 4 0]]

In [300]:
# array de elementos aleatorios (distribucion normal gaussiana, media 0, desviación 1)
print(np.random.randn(4,2))

[[-0.99890931  0.64487898]
 [ 1.67262722  0.91969083]
 [ 0.69659383  0.11585333]
 [ 0.97013514  0.32129725]]

In [301]:
# otras distribuciones
print(np.random.binomial(n=5, p=0.3)) # 'n' intentos, 'p' probabilidad
print(np.random.uniform(low=0, high=10)) # distribución uniforme
print(np.random.poisson(lam=2, size=(2,2))) # 'lam' número de ocurrencias esperadas, retornar 'size' valores

2
3.6952439750313095
[[3 2]
 [3 2]]

<h4>7.2 Random seed</h4>
<ul>
  <li>Números pseudo-aleatorios.</li>
  <li>Ordenadores generan números a partir de ecuaciones.</li>
  <li>Basadas en un número inicial (seed).</li>
  <li>Bueno para reproducibilidad de experimentos.</li>
</ul>

In [302]:
i = 5
for _ in range(5):
    np.random.seed(i) # misma semilla
    print(np.random.rand())
    print(np.random.rand())
print()
for i in range(6):
    np.random.seed(i) # diferentes semillas
    print(np.random.rand())
    print(np.random.rand())

0.22199317108973948
0.8707323061773764
0.22199317108973948
0.8707323061773764
0.22199317108973948
0.8707323061773764
0.22199317108973948
0.8707323061773764
0.22199317108973948
0.8707323061773764

0.5488135039273248
0.7151893663724195
0.417022004702574
0.7203244934421581
0.43599490214200376
0.025926231827891333
0.5507979025745755
0.7081478226181048
0.9670298390136767
0.5472322491757223
0.22199317108973948
0.8707323061773764

<h3>8 Escritura y lectura de ndarrays a archivos</h3>
<ul>
  <li>Para futuro acceso.</li>
  <li>Compartir datos con otros.</li>
  <li>Formato <code>*.npy</code>.</li>
</ul>

In [310]:
import os
import numpy as np

carpeta = "res"
if not os.path.exists(carpeta):
    os.makedirs(carpeta)
    print(f"📁 Carpeta '{carpeta}' creada")

values = np.random.randint(9, size=(3,3))
print("📊 Array generado:")
print(values)

ruta = os.path.join(carpeta, "o_values_array.npy")
np.save(ruta, values)
print(f"💾 Guardado en: {ruta}")

if os.path.exists(ruta):
    print("✅ Archivo guardado exitosamente")
    # Opcional: cargar para verificar
    loaded = np.load(ruta)
    print("🔍 Contenido cargado (verificación):")
    print(loaded)
else:
    print("❌ Error al guardar")

📁 Carpeta 'res' creada
📊 Array generado:
[[3 2 1]
 [5 7 4]
 [3 1 7]]
💾 Guardado en: res\o_values_array.npy
✅ Archivo guardado exitosamente
🔍 Contenido cargado (verificación):
[[3 2 1]
 [5 7 4]
 [3 1 7]]

In [311]:
# leer de archivo
old_values = np.load(ruta)
print(old_values)

[[3 2 1]
 [5 7 4]
 [3 1 7]]

In [312]:
 # escribir y cargar múltiples arrays
ruta = os.path.join("res" ,"o_array_group.npz")
values1 = np.random.randint(9,size=(3,3))
values2 = np.random.randint(4,size=(2,2))
values3 = np.random.randint(16,size=(4,4))
np.savez(ruta,values1,values2,values3) # añade la extensión .npz

In [316]:
# leer los archivos (retorna un diccionario con las arrays)
npzfile = np.load(ruta)
print(type(npzfile.files))
print(npzfile.files)
for key in npzfile.files: # array.files contiene el nombre de las arrays (arr_0, arr_1...)
    print(npzfile[key])

<class 'list'>
['arr_0', 'arr_1', 'arr_2']
[[3 1 5]
 [7 0 6]
 [0 5 2]]
[[1 3]
 [0 1]]
[[ 6 11  8 15]
 [ 0 12 12  5]
 [14 15 14  2]
 [ 0  7  7  6]]

<h4>8.0.1 ¿Por qué molestarse con .npy?</h4>
<ul>
  <li>Bases de datos suelen estar en CSV o txt, que requieren lectura con streams (parsing).</li>
  <li>¿Para qué escribir los datos de nuevo?</li>
</ul>

In [327]:
import os
import numpy as np

# 1. Crear carpeta si no existe
carpeta = "res"
os.makedirs(carpeta, exist_ok=True)

# 2. Ruta del archivo CSV
ruta_csv = os.path.join(carpeta, "fdata.csv")

# 3. Si el CSV no existe, crearlo con formato limpio
if not os.path.exists(ruta_csv):
    print(f"Creando {ruta_csv}...")
    datos = np.random.randint(0, 10, size=(1000, 1000))
    # Guardar sin espacios y con delimitador simple
    np.savetxt(ruta_csv, datos, delimiter=',', fmt='%d', newline='\n')
    print(f"✅ CSV creado: {ruta_csv}")

# 4. Leer y procesar el CSV CORRECTAMENTE
print(f"Leyendo {ruta_csv}...")

# Opción A: Usar numpy para cargar directamente (RECOMENDADO)
try:
    data_array = np.loadtxt(ruta_csv, delimiter=',', dtype=np.int8)
    print("✅ Cargado con np.loadtxt")
except Exception as e:
    print(f"Error con loadtxt: {e}")
    
    # Opción B: Procesamiento manual robusto
    with open(ruta_csv, 'r') as f:
        lineas = f.readlines()
    
    # Procesar cada línea
    datos_procesados = []
    for linea in lineas:
        # Limpiar: eliminar espacios, saltos de línea, dividir por coma
        numeros = linea.strip().replace(' ', '').split(',')
        # Filtrar elementos vacíos
        numeros = [n for n in numeros if n]
        datos_procesados.extend(numeros)
    
    # Convertir a enteros y reshape
    datos_procesados = [int(n) for n in datos_procesados if n.strip()]
    
    # Asegurar tamaño correcto
    if len(datos_procesados) < 1000000:
        datos_procesados.extend([0] * (1000000 - len(datos_procesados)))
    datos_procesados = datos_procesados[:1000000]
    
    data_array = np.array(datos_procesados, dtype=np.int8).reshape(1000, 1000)

# 5. Mostrar información
print(f"📊 Array shape: {data_array.shape}")
print(f"📊 Tipo: {data_array.dtype}")
print("Muestra (3x3):")
print(data_array[:3, :3])

# 6. Guardar como .npy
ruta_npy = os.path.join(carpeta, "o_fdata.npy")
np.save(ruta_npy, data_array)
print(f"💾 Guardado como: {ruta_npy}")

# 7. Verificar que se guardó
if os.path.exists(ruta_npy):
    cargado = np.load(ruta_npy)
    print(f"✅ Verificado: {cargado.shape}, iguales: {np.array_equal(data_array, cargado)}")

Leyendo res\fdata.csv...
✅ Cargado con np.loadtxt
📊 Array shape: (1000, 1000)
📊 Tipo: int8
Muestra (3x3):
[[0 0 8]
 [9 5 8]
 [8 4 2]]
💾 Guardado como: res\o_fdata.npy
✅ Verificado: (1000, 1000), iguales: True

In [328]:
%%timeit
# Leer y procesar CSV CORRECTAMENTE
with open(ruta_csv, 'r') as f:
    lineas = f.readlines()
    
matriz = []
for linea in lineas:
    # Limpiar cada línea y convertir a enteros
    valores = [int(x.strip()) for x in linea.strip().split(',') if x.strip()]
    matriz.append(valores)
    
data_array = np.array(matriz, dtype=np.int8)

220 ms ± 14.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [329]:
%%timeit
# Leer NPY (mucho más simple)
data = np.load(ruta_npy)

284 μs ± 15.7 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [331]:
%%timeit
# Usar loadtxt para archivos CSV de texto
result = np.loadtxt(ruta_csv, delimiter=',', dtype=np.int8)

60.2 ms ± 6.42 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

<h4>8.0.2 velocidad + simplicidad vs memoria</h4>

<h4>8.1 Ejercicios</h4>

<h3>100 numpy exercises</h3>

<p>This is a collection of exercises that have been collected in the numpy mailing list, on stack overflow and in the numpy documentation. The goal of this collection is to offer a quick reference for both old and new users but also to provide a set of exercises for those who teach.</p>

<p>If you find an error or think you've a better way to solve some of them, feel free to open an issue at <a href="https://github.com/rougier/numpy-100">https://github.com/rougier/numpy-100</a>.</p>

<p>File automatically generated. See the documentation to update questions/answers/hints programmatically.</p>

<p>Run the initialise.py module, then for each question you can query the answer or an hint with <code>hint(n)</code> or <code>answer(n)</code> for n question number.</p>

<h3>1. Importar el paquete numpy bajo el nombre np</h3>

In [334]:
import numpy as np
print(" NumPy importado como 'np'")

 NumPy importado como 'np'

<h3>2. Imprimir la versión de numpy y la configuración</h3>

In [335]:
import numpy as np

print("Versión de NumPy:", np.__version__)
print("\n  Configuración:")
print(np.show_config())

Versión de NumPy: 2.4.0

  Configuración:
Build Dependencies:
  blas:
    detection method: pkgconfig
    found: true
    include directory: C:/Users/runneradmin/AppData/Local/Temp/cibw-run-hn7iyo7q/cp313-win_amd64/build/venv/Lib/site-packages/scipy_openblas64/include
    lib directory: C:/Users/runneradmin/AppData/Local/Temp/cibw-run-hn7iyo7q/cp313-win_amd64/build/venv/Lib/site-packages/scipy_openblas64/lib
    name: scipy-openblas
    openblas configuration: OpenBLAS 0.3.30  USE64BITINT DYNAMIC_ARCH NO_AFFINITY
      Haswell MAX_THREADS=24
    pc file directory: D:/a/numpy-release/numpy-release/.openblas
    version: 0.3.30
  lapack:
    detection method: pkgconfig
    found: true
    include directory: C:/Users/runneradmin/AppData/Local/Temp/cibw-run-hn7iyo7q/cp313-win_amd64/build/venv/Lib/site-packages/scipy_openblas64/include
    lib directory: C:/Users/runneradmin/AppData/Local/Temp/cibw-run-hn7iyo7q/cp313-win_amd64/build/venv/Lib/site-packages/scipy_openblas64/lib
    name: scipy-openblas
    openblas configuration: OpenBLAS 0.3.30  USE64BITINT DYNAMIC_ARCH NO_AFFINITY
      Haswell MAX_THREADS=24
    pc file directory: D:/a/numpy-release/numpy-release/.openblas
    version: 0.3.30
Compilers:
  c:
    commands: cl
    linker: link
    name: msvc
    version: 19.44.35222
  c++:
    commands: cl
    linker: link
    name: msvc
    version: 19.44.35222
  cython:
    commands: cython
    linker: cython
    name: cython
    version: 3.2.3
Machine Information:
  build:
    cpu: x86_64
    endian: little
    family: x86_64
    system: windows
  host:
    cpu: x86_64
    endian: little
    family: x86_64
    system: windows
Python Information:
  path: C:\Users\runneradmin\AppData\Local\Temp\build-env-7ntpja8y\Scripts\python.exe
  version: '3.13'
SIMD Extensions:
  baseline:
  - X86_V2
  found:
  - X86_V3

None

<h3>3. Crear un vector nulo de tamaño 10</h3>

In [336]:
import numpy as np

Z = np.zeros(10)
print("Vector nulo de tamaño 10:")
print(Z)
print(f"Tipo: {Z.dtype}, Forma: {Z.shape}")

Vector nulo de tamaño 10:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Tipo: float64, Forma: (10,)

<h3>4. Cómo encontrar el tamaño de memoria de cualquier array</h3>

In [338]:
import numpy as np

# Crear un array de ejemplo
Z = np.zeros((10, 10))
print("Array de ejemplo Z (10x10):")
print(Z)

# Calcular tamaño de memoria
tamaño_bytes = Z.nbytes
tamaño_kb = tamaño_bytes / 1024

print(f"\n Tamaño de memoria:")
print(f"Bytes: {tamaño_bytes:,} B")
print(f"Kilobytes: {tamaño_kb:.2f} KB")
print(f"Elementos: {Z.size}")
print(f"Tamaño por elemento: {Z.itemsize} bytes")

# Función genérica
def tamaño_memoria(array):
    """Devuelve el tamaño de memoria de un array en formato legible"""
    bytes = array.nbytes
    if bytes < 1024:
        return f"{bytes} bytes"
    elif bytes < 1024**2:
        return f"{bytes/1024:.2f} KB"
    else:
        return f"{bytes/(1024**2):.2f} MB"

print(f"\n Usando función: {tamaño_memoria(Z)}")

Array de ejemplo Z (10x10):
[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

 Tamaño de memoria:
Bytes: 800 B
Kilobytes: 0.78 KB
Elementos: 100
Tamaño por elemento: 8 bytes

 Usando función: 800 bytes

<h3>5. ¿Cómo obtener la documentación de la función add de numpy desde la línea de comandos?</h3>

In [340]:
# Ejecutar desde Python (simula línea de comandos)
import subprocess
import sys

print("\n  Ejecutando desde 'línea de comandos' (simulado):")
result = subprocess.run([sys.executable, "-c", "import numpy as np; help(np.add)"], 
                       capture_output=True, text=True)
print(result.stdout[:800] + "...")  # Mostrar parte de la salida

  Ejecutando desde 'línea de comandos' (simulado):
Help on ufunc in module numpy:

add = <ufunc 'add'>
    add(x1, x2, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature])

    Add arguments element-wise.

    Parameters
    ----------
    x1, x2 : array_like
        The arrays to be added.
        If ``x1.shape != x2.shape``, they must be broadcastable to a common
        shape (which becomes the shape of the output).
    out : ndarray, None, or tuple of ndarray and None, optional
        A location into which the result is stored. If provided, it must have
        a shape that the inputs broadcast to. If not provided or None,
        a freshly-allocated array is returned. A tuple (possible only as a
        keyword argument) must have length equal to the number of outputs.
    where : array_lik...

<h3>6. Crear un vector nulo de tamaño 10 donde el quinto valor es 1</h3>

In [343]:
import numpy as np

# Crear vector de ceros y asignar
Z = np.zeros(10)
Z[4] = 1  # Índice 4 es la quinta posición (0-based)

print("Vector resultante:")
print(Z)
print(f"\nVerificación - Quinto valor (índice 4): {Z[4]}")
print(f"Vector completo: {Z}")

# Usar una lista y convertir
print("\n Método alternativo:")
Z2 = np.array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0])
print(Z2)

Vector resultante:
[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

Verificación - Quinto valor (índice 4): 1.0
Vector completo: [0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

 Método alternativo:
[0 0 0 0 1 0 0 0 0 0]

<h3>7. Crear un vector con valores en el rango de 10 a 49</h3>

In [345]:
import numpy as np

# np.arange (recomendado)
Z = np.arange(10, 50)
print("Método 1 - np.arange(10, 50):")
print(Z)
print(f"Longitud: {len(Z)}, Valores: {Z[0]} a {Z[-1]}")

# range y conversión
print("\nMétodo 2 - range(10, 50):")
Z2 = np.array(list(range(10, 50)))
print(Z2[:10], "...")  # Mostrar primeros 10

# Verificación
print(f"\n Verificación:")
print(f"Primer valor: {Z[0]} (debe ser 10)")
print(f"Último valor: {Z[-1]} (debe ser 49)")
print(f"Cantidad de elementos: {Z.size} (deben ser 40)")

Método 1 - np.arange(10, 50):
[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]
Longitud: 40, Valores: 10 a 49

Método 2 - range(10, 50):
[10 11 12 13 14 15 16 17 18 19] ...

 Verificación:
Primer valor: 10 (debe ser 10)
Último valor: 49 (debe ser 49)
Cantidad de elementos: 40 (deben ser 40)

<h3>8. Invertir un vector (el primer elemento se convierte en el último)</h3>

In [346]:
# Solución ejercicio 8
import numpy as np

# Crear un vector de ejemplo
Z = np.arange(10, 20)
print("Vector original:")
print(Z)

#  Slicing [::-1] (recomendado)
Z_invertido = Z[::-1]
print("\nMétodo 1 - Z[::-1]:")
print(Z_invertido)

#  np.flip()
print("\nMétodo 2 - np.flip(Z):")
print(np.flip(Z))

#  Usar reversed (convierte a lista)
print("\nMétodo 3 - np.array(list(reversed(Z))):")
print(np.array(list(reversed(Z))))

# Verificación
print(f"\n Verificación:")
print(f"Original: primero={Z[0]}, último={Z[-1]}")
print(f"Invertido: primero={Z_invertido[0]}, último={Z_invertido[-1]}")
print(f"¿Primero original == último invertido? {Z[0] == Z_invertido[-1]}")

Vector original:
[10 11 12 13 14 15 16 17 18 19]

Método 1 - Z[::-1]:
[19 18 17 16 15 14 13 12 11 10]

Método 2 - np.flip(Z):
[19 18 17 16 15 14 13 12 11 10]

Método 3 - np.array(list(reversed(Z))):
[19 18 17 16 15 14 13 12 11 10]

 Verificación:
Original: primero=10, último=19
Invertido: primero=19, último=10
¿Primero original == último invertido? True

<h3>9. Crear una matriz 3x3 con valores en el rango de 0 a 8</h3>

In [347]:
import numpy as np

#  arange + reshape (recomendado)
Z = np.arange(9).reshape(3, 3)
print("Método 1 - arange(9).reshape(3, 3):")
print(Z)

#  Crear y remodelar
print("\nMétodo 2 - Reshape después:")
Z2 = np.arange(9)
Z2 = Z2.reshape(3, 3)
print(Z2)

#  Lista anidada
print("\nMétodo 3 - Desde lista:")
Z3 = np.array([[0, 1, 2], [3, 4, 5], [6, 7, 8]])
print(Z3)

# Verificación
print(f"\n Verificación:")
print(f"Forma (shape): {Z.shape} (debe ser (3, 3))")
print(f"Valor mínimo: {Z.min()} (debe ser 0)")
print(f"Valor máximo: {Z.max()} (debe ser 8)")
print(f"¿Todas las matrices son iguales? {np.array_equal(Z, Z2) and np.array_equal(Z2, Z3)}")

Método 1 - arange(9).reshape(3, 3):
[[0 1 2]
 [3 4 5]
 [6 7 8]]

Método 2 - Reshape después:
[[0 1 2]
 [3 4 5]
 [6 7 8]]

Método 3 - Desde lista:
[[0 1 2]
 [3 4 5]
 [6 7 8]]

 Verificación:
Forma (shape): (3, 3) (debe ser (3, 3))
Valor mínimo: 0 (debe ser 0)
Valor máximo: 8 (debe ser 8)
¿Todas las matrices son iguales? True

<h3>10. Encontrar los índices de elementos no cero en [1,2,0,0,4,0]</h3>

In [348]:

import numpy as np

# Array dado
arr = np.array([1, 2, 0, 0, 4, 0])
print("Array original:")
print(arr)

#  np.nonzero() (recomendado)
indices = np.nonzero(arr)[0]
print("\nMétodo 1 - np.nonzero():")
print(f"Índices: {indices}")
print(f"Valores en esos índices: {arr[indices]}")

#  np.where()
print("\nMétodo 2 - np.where():")
indices2 = np.where(arr != 0)[0]
print(f"Índices: {indices2}")

#  List comprehension (sin NumPy)
print("\nMétodo 3 - List comprehension:")
indices3 = [i for i, val in enumerate(arr) if val != 0]
print(f"Índices: {indices3}")

# Verificación
print(f"\n Verificación:")
print(f"Elementos no cero: {arr[arr != 0]}")
print(f"Cantidad de no ceros: {np.count_nonzero(arr)}")
print(f"¿Todos los métodos dan igual? {np.array_equal(indices, indices2) and indices == indices3}")

Array original:
[1 2 0 0 4 0]

Método 1 - np.nonzero():
Índices: [0 1 4]
Valores en esos índices: [1 2 4]

Método 2 - np.where():
Índices: [0 1 4]

Método 3 - List comprehension:
Índices: [0, 1, 4]

 Verificación:
Elementos no cero: [1 2 4]
Cantidad de no ceros: 3
¿Todos los métodos dan igual? [ True  True  True]

<h3>11. Crear una matriz identidad 3x3</h3>

In [349]:
# Solución ejercicio 11
import numpy as np

# Método 1: np.eye() (recomendado)
I = np.eye(3)
print("Método 1 - np.eye(3):")
print(I)

# Método 2: np.identity()
print("\nMétodo 2 - np.identity(3):")
I2 = np.identity(3)
print(I2)

# Método 3: Manual con ceros y diagonal
print("\nMétodo 3 - Manual con zeros y fill_diagonal:")
I3 = np.zeros((3, 3))
np.fill_diagonal(I3, 1)
print(I3)

# Verificación de propiedades
print(f"\n Verificación (matriz identidad):")
print(f"Forma: {I.shape} (debe ser (3, 3))")
print(f"Traza (suma diagonal): {np.trace(I)} (debe ser 3)")
print(f"Determinante: {np.linalg.det(I):.0f} (debe ser 1)")
print(f"¿Es simétrica? {np.array_equal(I, I.T)}")
print(f"¿I × I = I? {np.array_equal(I @ I, I)}")

Método 1 - np.eye(3):
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

Método 2 - np.identity(3):
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

Método 3 - Manual con zeros y fill_diagonal:
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

 Verificación (matriz identidad):
Forma: (3, 3) (debe ser (3, 3))
Traza (suma diagonal): 3.0 (debe ser 3)
Determinante: 1 (debe ser 1)
¿Es simétrica? True
¿I × I = I? True

<h3>12. Crear un array 3x3x3 con valores aleatorios</h3>

In [350]:
# Solución ejercicio 12
import numpy as np

# Método 1: np.random.rand() (valores entre 0 y 1)
Z = np.random.rand(3, 3, 3)
print("Método 1 - np.random.rand(3, 3, 3):")
print("Forma:", Z.shape)
print("Primera 'capa' 3x3:")
print(Z[0])
print("\nValores (min/max/promedio):")
print(f"  Mínimo: {Z.min():.3f}")
print(f"  Máximo: {Z.max():.3f}")
print(f"  Promedio: {Z.mean():.3f}")

# Método 2: np.random.random()
print("\n" + "="*50)
print("Método 2 - np.random.random((3, 3, 3)):")
Z2 = np.random.random((3, 3, 3))
print("Forma:", Z2.shape)

# Método 3: Enteros aleatorios
print("\n" + "="*50)
print("Método 3 - Enteros 0-9: np.random.randint(10, size=(3,3,3)):")
Z3 = np.random.randint(10, size=(3, 3, 3))
print("Forma:", Z3.shape)
print("Primera capa (enteros 0-9):")
print(Z3[0])

# Acceso a elementos
print(f"\n Acceso a elementos:")
print(f"Z[0,0,0] = {Z[0,0,0]:.3f}")
print(f"Z[2,2,2] = {Z[2,2,2]:.3f}")
print(f"Total de elementos: {Z.size} (3×3×3 = 27)")

Método 1 - np.random.rand(3, 3, 3):
Forma: (3, 3, 3)
Primera 'capa' 3x3:
[[0.28597437 0.06166744 0.63259433]
 [0.66666276 0.53599403 0.44550204]
 [0.95037699 0.23873964 0.82912383]]

Valores (min/max/promedio):
  Mínimo: 0.024
  Máximo: 0.950
  Promedio: 0.524

==================================================
Método 2 - np.random.random((3, 3, 3)):
Forma: (3, 3, 3)

==================================================
Método 3 - Enteros 0-9: np.random.randint(10, size=(3,3,3)):
Forma: (3, 3, 3)
Primera capa (enteros 0-9):
[[4 0 0]
 [4 4 0]
 [3 4 6]]

 Acceso a elementos:
Z[0,0,0] = 0.286
Z[2,2,2] = 0.778
Total de elementos: 27 (3×3×3 = 27)

<h3>13. Crear un array 10x10 con valores aleatorios y encontrar los valores mínimo y máximo</h3>

In [351]:
# Solución ejercicio 13
import numpy as np

# Crear array 10x10 con valores aleatorios entre 0 y 1
Z = np.random.rand(10, 10)
print("Array 10x10 aleatorio:")
print(f"Forma: {Z.shape}")
print(f"Primeros 3x3 elementos:")
print(Z[:3, :3])

# Encontrar mínimo y máximo
min_val = Z.min()
max_val = Z.max()

print(f"\n Estadísticas:")
print(f"  Valor mínimo: {min_val:.6f}")
print(f"  Valor máximo: {max_val:.6f}")
print(f"  Rango: {max_val - min_val:.6f}")
print(f"  Promedio: {Z.mean():.6f}")
print(f"  Desviación estándar: {Z.std():.6f}")

# Encontrar posiciones (índices) del mínimo y máximo
min_pos = np.unravel_index(Z.argmin(), Z.shape)
max_pos = np.unravel_index(Z.argmax(), Z.shape)

print(f"\n Posiciones:")
print(f"  Mínimo en posición {min_pos}: valor = {Z[min_pos]:.6f}")
print(f"  Máximo en posición {max_pos}: valor = {Z[max_pos]:.6f}")

# Verificación manual
print(f"\n Verificación:")
print(f"  ¿Z.min() == Z[min_pos]? {np.isclose(Z.min(), Z[min_pos])}")
print(f"  ¿Z.max() == Z[max_pos]? {np.isclose(Z.max(), Z[max_pos])}")

Array 10x10 aleatorio:
Forma: (10, 10)
Primeros 3x3 elementos:
[[0.52050058 0.08646214 0.70186607]
 [0.85329449 0.46170674 0.18462792]
 [0.08221879 0.34632493 0.2691942 ]]

 Estadísticas:
  Valor mínimo: 0.002145
  Valor máximo: 0.977015
  Rango: 0.974870
  Promedio: 0.453912
  Desviación estándar: 0.284998

 Posiciones:
  Mínimo en posición (np.int64(8), np.int64(9)): valor = 0.002145
  Máximo en posición (np.int64(6), np.int64(8)): valor = 0.977015

 Verificación:
  ¿Z.min() == Z[min_pos]? True
  ¿Z.max() == Z[max_pos]? True

<h3>14. Crear un vector aleatorio de tamaño 30 y encontrar el valor promedio</h3>

In [25]:
# Solución ejercicio 14
import numpy as np

# Crear vector aleatorio de tamaño 30
Z = np.random.rand(30)
print("Vector aleatorio de 30 elementos:")
print(f"Forma: {Z.shape}")
print(f"Primeros 10 elementos: {Z[:10]}")

# Calcular el promedio (media)
mean_val = Z.mean()

print(f"\n Estadísticas:")
print(f"  Promedio (mean): {mean_val:.6f}")
print(f"  Mínimo: {Z.min():.6f}")
print(f"  Máximo: {Z.max():.6f}")
print(f"  Mediana: {np.median(Z):.6f}")
print(f"  Desviación estándar: {Z.std():.6f}")

# Métodos alternativos para calcular el promedio
print(f"\n Métodos alternativos para el promedio:")
print(f"  np.mean(Z): {np.mean(Z):.6f}")
print(f"  Z.sum() / Z.size: {Z.sum() / Z.size:.6f}")
print(f"  np.average(Z): {np.average(Z):.6f}")

# Verificación
print(f"\n Verificación:")
todos_iguales = np.allclose([mean_val, np.mean(Z), Z.sum()/Z.size, np.average(Z)])
print(f"  ¿Todos los métodos dan el mismo resultado? {todos_iguales}")

Vector aleatorio de 30 elementos:
Forma: (30,)
Primeros 10 elementos: [0.92923361 0.6019928  0.95101827 0.24806109 0.02702971 0.21945263
 0.4832157  0.65359392 0.23677794 0.01230059]

 Estadísticas:
  Promedio (mean): 0.412378
  Mínimo: 0.012301
  Máximo: 0.951018
  Mediana: 0.293433
  Desviación estándar: 0.336856

 Métodos alternativos para el promedio:
  np.mean(Z): 0.412378
  Z.sum() / Z.size: 0.412378
  np.average(Z): 0.412378

 Verificación:

TypeError: allclose() missing 1 required positional argument: 'b'

<h3>15. Crear un array 2D con 1 en el borde y 0 en el interior</h3>

In [354]:
# Solución ejercicio 15
import numpy as np

# Tamaño del array (n x n)
n = 5  # Puedes cambiar este valor

# Método 1: Crear matriz de ceros y asignar bordes
Z = np.zeros((n, n), dtype=int)
Z[0, :] = 1    # Borde superior
Z[-1, :] = 1   # Borde inferior  
Z[:, 0] = 1    # Borde izquierdo
Z[:, -1] = 1   # Borde derecho

print(f"Array {n}x{n} con 1 en bordes y 0 interior (Método 1):")
print(Z)

# Método 2: Usar slicing en una línea
print(f"\nMétodo 2 - En una línea:")
Z2 = np.ones((n, n), dtype=int)
Z2[1:-1, 1:-1] = 0
print(Z2)

# Método 3: Para cualquier rectángulo (m x n)
print(f"\nMétodo 3 - Rectángulo m x n:")
m, n = 4, 6
Z3 = np.ones((m, n), dtype=int)
Z3[1:-1, 1:-1] = 0
print(f"Array {m}x{n}:")
print(Z3)

# Verificación
print(f"\n Verificación para {n}x{n}:")
print(f"  ¿Bordes tienen 1? {np.all(Z[0,:]==1) and np.all(Z[-1,:]==1) and np.all(Z[:,0]==1) and np.all(Z[:,-1]==1)}")
print(f"  ¿Interior tiene 0? {np.all(Z[1:-1, 1:-1]==0)}")
print(f"  Total de 1's: {Z.sum()} (deben ser {4*n - 4})")

Array 5x5 con 1 en bordes y 0 interior (Método 1):
[[1 1 1 1 1]
 [1 0 0 0 1]
 [1 0 0 0 1]
 [1 0 0 0 1]
 [1 1 1 1 1]]

Método 2 - En una línea:
[[1 1 1 1 1]
 [1 0 0 0 1]
 [1 0 0 0 1]
 [1 0 0 0 1]
 [1 1 1 1 1]]

Método 3 - Rectángulo m x n:
Array 4x6:
[[1 1 1 1 1 1]
 [1 0 0 0 0 1]
 [1 0 0 0 0 1]
 [1 1 1 1 1 1]]

 Verificación para 6x6:
  ¿Bordes tienen 1? True
  ¿Interior tiene 0? True
  Total de 1's: 16 (deben ser 20)

<h3>16. ¿Cómo agregar un borde (relleno con 0's) alrededor de un array existente?</h3>

In [356]:
# Solución ejercicio 16
import numpy as np

# Array existente
Z = np.ones((3, 3), dtype=int)
print("Array original 3x3:")
print(Z)

# Método 1: np.pad() (recomendado - más flexible)
Z_padded = np.pad(Z, pad_width=1, mode='constant', constant_values=0)
print("\nMétodo 1 - np.pad() con borde de 0's:")
print(Z_padded)
print(f"Nueva forma: {Z_padded.shape}")

# Método 2: Crear matriz más grande y copiar
print("\nMétodo 2 - Crear matriz más grande:")
rows, cols = Z.shape
Z_padded2 = np.zeros((rows+2, cols+2), dtype=Z.dtype)
Z_padded2[1:-1, 1:-1] = Z
print(Z_padded2)

# Método 3: Con catenación
print("\nMétodo 3 - Con catenación:")
zeros_row = np.zeros((1, cols), dtype=Z.dtype)
zeros_col = np.zeros((rows+2, 1), dtype=Z.dtype)

temp = np.vstack([zeros_row, Z, zeros_row])
Z_padded3 = np.hstack([zeros_col, temp, zeros_col])
print(Z_padded3)

# Ejemplo con borde más grueso
print("\n Ejemplo con borde de 2 píxeles:")
Z_thick_border = np.pad(Z, pad_width=2, mode='constant', constant_values=0)
print(Z_thick_border)
print(f"Forma original: {Z.shape} → Con borde: {Z_thick_border.shape}")

# Verificación
print(f"\n Verificación:")
print(f"¿Todos los métodos dan igual? {np.array_equal(Z_padded, Z_padded2) and np.array_equal(Z_padded2, Z_padded3)}")
print(f"¿Borde externo son 0's? {np.all(Z_padded[0,:]==0) and np.all(Z_padded[-1,:]==0) and np.all(Z_padded[:,0]==0) and np.all(Z_padded[:,-1]==0)}")
print(f"¿Interior preservado? {np.array_equal(Z_padded[1:-1, 1:-1], Z)}")

Array original 3x3:
[[1 1 1]
 [1 1 1]
 [1 1 1]]

Método 1 - np.pad() con borde de 0's:
[[0 0 0 0 0]
 [0 1 1 1 0]
 [0 1 1 1 0]
 [0 1 1 1 0]
 [0 0 0 0 0]]
Nueva forma: (5, 5)

Método 2 - Crear matriz más grande:
[[0 0 0 0 0]
 [0 1 1 1 0]
 [0 1 1 1 0]
 [0 1 1 1 0]
 [0 0 0 0 0]]

Método 3 - Con catenación:
[[0 0 0 0 0]
 [0 1 1 1 0]
 [0 1 1 1 0]
 [0 1 1 1 0]
 [0 0 0 0 0]]

 Ejemplo con borde de 2 píxeles:
[[0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0]
 [0 0 1 1 1 0 0]
 [0 0 1 1 1 0 0]
 [0 0 1 1 1 0 0]
 [0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0]]
Forma original: (3, 3) → Con borde: (7, 7)

 Verificación:
¿Todos los métodos dan igual? True
¿Borde externo son 0's? True
¿Interior preservado? True

<h3>17. ¿Cuál es el resultado de las siguientes expresiones?</h3>

In [357]:
# Solución ejercicio 17
import numpy as np

print("Evaluando expresiones con NaN e Inf:")
print("=" * 50)

# 1. 0 * np.nan
result1 = 0 * np.nan
print(f"1. 0 * np.nan = {result1}")
print(f"   Tipo: {type(result1)}, ¿Es NaN? {np.isnan(result1)}")

# 2. np.nan == np.nan  
result2 = np.nan == np.nan
print(f"\n2. np.nan == np.nan = {result2}")
print(f"   NaN nunca es igual a NaN (ni siquiera a sí mismo)")
print(f"   Usar np.isnan() para verificar NaN")

# 3. np.inf > np.nan
result3 = np.inf > np.nan
print(f"\n3. np.inf > np.nan = {result3}")
print(f"   Cualquier comparación con NaN devuelve False")

# 4. np.nan - np.nan
result4 = np.nan - np.nan
print(f"\n4. np.nan - np.nan = {result4}")
print(f"   Tipo: {type(result4)}, ¿Es NaN? {np.isnan(result4)}")

# 5. np.nan in set([np.nan])
result5 = np.nan in set([np.nan])
print(f"\n5. np.nan in set([np.nan]) = {result5}")
print(f"   En sets, NaN se compara consigo mismo (comportamiento especial)")

# 6. 0.3 == 3 * 0.1
result6 = 0.3 == 3 * 0.1
print(f"\n6. 0.3 == 3 * 0.1 = {result6}")
print(f"   3 * 0.1 = {3 * 0.1}")
print(f"   Problema de precisión de punto flotante")

print("\n" + "=" * 50)
print(" Explicación:")
print("- NaN (Not a Number) propaga en operaciones: cualquier op con NaN = NaN")
print("- NaN no es igual a nada (ni a sí mismo): usar np.isnan()")
print("- Infinito (np.inf) es mayor que cualquier número, pero NaN 'rompe' comparaciones")
print("- Los sets en Python tratan NaN de forma especial para evitar duplicados")
print("- Los floats tienen error de precisión: 0.1 + 0.2 ≠ 0.3 en binario")

print("\n Valores correctos:")
print(f"1. {result1} (nan)")
print(f"2. {result2} (False)")
print(f"3. {result3} (False)")
print(f"4. {result4} (nan)")
print(f"5. {result5} (True)")
print(f"6. {result6} (False)")

Evaluando expresiones con NaN e Inf:
==================================================
1. 0 * np.nan = nan
   Tipo: <class 'float'>, ¿Es NaN? True

2. np.nan == np.nan = False
   NaN nunca es igual a NaN (ni siquiera a sí mismo)
   Usar np.isnan() para verificar NaN

3. np.inf > np.nan = False
   Cualquier comparación con NaN devuelve False

4. np.nan - np.nan = nan
   Tipo: <class 'float'>, ¿Es NaN? True

5. np.nan in set([np.nan]) = True
   En sets, NaN se compara consigo mismo (comportamiento especial)

6. 0.3 == 3 * 0.1 = False
   3 * 0.1 = 0.30000000000000004
   Problema de precisión de punto flotante

==================================================
 Explicación:
- NaN (Not a Number) propaga en operaciones: cualquier op con NaN = NaN
- NaN no es igual a nada (ni a sí mismo): usar np.isnan()
- Infinito (np.inf) es mayor que cualquier número, pero NaN 'rompe' comparaciones
- Los sets en Python tratan NaN de forma especial para evitar duplicados
- Los floats tienen error de precisión: 0.1 + 0.2 ≠ 0.3 en binario

 Valores correctos:
1. nan (nan)
2. False (False)
3. False (False)
4. nan (nan)
5. True (True)
6. False (False)

<h3>18. Crear una matriz 5x5 con valores 1,2,3,4 justo debajo de la diagonal</h3>

In [358]:
# Solución ejercicio 18
import numpy as np

# Método 1: np.diag() con offset (recomendado)
Z = np.diag(1 + np.arange(4), k=-1)
print("Método 1 - np.diag(1+np.arange(4), k=-1):")
print(Z)
print(f"\nForma: {Z.shape}")

# Método 2: Crear matriz de ceros y asignar
print("\nMétodo 2 - Matriz de ceros y asignación:")
Z2 = np.zeros((5, 5), dtype=int)
for i in range(4):
    Z2[i+1, i] = i+1
print(Z2)

# Método 3: Usar índices avanzados
print("\nMétodo 3 - Índices avanzados:")
Z3 = np.zeros((5, 5), dtype=int)
indices = (np.arange(1, 5), np.arange(4))
Z3[indices] = np.arange(1, 5)
print(Z3)

# Verificación
print(f"\n Verificación:")
print(f"¿Matriz triangular inferior? {np.allclose(Z, np.tril(Z))}")
print(f"¿Diagonal principal son 0's? {np.all(np.diag(Z) == 0)}")
print(f"¿Diagonal inferior tiene valores 1,2,3,4? {np.array_equal(np.diag(Z, k=-1), [1,2,3,4])}")
print(f"¿Todos los métodos son iguales? {np.array_equal(Z, Z2) and np.array_equal(Z2, Z3)}")

# Mostrar estructura
print(f"\n Estructura de la matriz:")
for i in range(5):
    fila = " ".join(f"{val:2d}" for val in Z[i])
    print(f"Fila {i}: [{fila}]")

Método 1 - np.diag(1+np.arange(4), k=-1):
[[0 0 0 0 0]
 [1 0 0 0 0]
 [0 2 0 0 0]
 [0 0 3 0 0]
 [0 0 0 4 0]]

Forma: (5, 5)

Método 2 - Matriz de ceros y asignación:
[[0 0 0 0 0]
 [1 0 0 0 0]
 [0 2 0 0 0]
 [0 0 3 0 0]
 [0 0 0 4 0]]

Método 3 - Índices avanzados:
[[0 0 0 0 0]
 [1 0 0 0 0]
 [0 2 0 0 0]
 [0 0 3 0 0]
 [0 0 0 4 0]]

 Verificación:
¿Matriz triangular inferior? True
¿Diagonal principal son 0's? True
¿Diagonal inferior tiene valores 1,2,3,4? True
¿Todos los métodos son iguales? True

 Estructura de la matriz:
Fila 0: [ 0  0  0  0  0]
Fila 1: [ 1  0  0  0  0]
Fila 2: [ 0  2  0  0  0]
Fila 3: [ 0  0  3  0  0]
Fila 4: [ 0  0  0  4  0]

<h3>19. Crear una matriz 8x8 y rellenarla con un patrón de tablero de ajedrez</h3>

In [359]:
# Solución ejercicio 19
import numpy as np

# Método 1: Usar tile (recomendado)
patron = np.array([[0, 1], [1, 0]])
Z = np.tile(patron, (4, 4))
print("Método 1 - np.tile() con patrón 2x2:")
print(Z)

# Método 2: Usar índices con arreglo de booleanos
print("\nMétodo 2 - Índices booleanos:")
Z2 = np.zeros((8, 8), dtype=int)
Z2[1::2, ::2] = 1  # Filas impares, columnas pares
Z2[::2, 1::2] = 1  # Filas pares, columnas impares
print(Z2)

# Método 3: Suma de índices par/impar
print("\nMétodo 3 - Suma de índices:")
Z3 = np.indices((8, 8)).sum(axis=0) % 2
print(Z3)

# Verificación
print(f"\n Verificación del patrón de ajedrez:")
print(f"Forma: {Z.shape} (8x8)")
print(f"Total de 1's: {Z.sum()} (deben ser 32)")
print(f"Total de 0's: {Z.size - Z.sum()} (deben ser 32)")
print(f"¿Patrón alterna correctamente? {np.all(Z[0,0]==0) and np.all(Z[0,1]==1)}")
print(f"¿Todos los métodos son iguales? {np.array_equal(Z, Z2) and np.array_equal(Z2, Z3)}")

# Visualización mejorada
print(f"\n Visualización del tablero 8x8:")
for i in range(8):
    fila = " ".join("" if val == 1 else " " for val in Z[i])
    print(f"{i}: {fila}")

print("\n Resumen:")
print(" = 1 (casilla 'negra')")
print("  = 0 (casilla 'blanca')")
print(f"Patrón 2x2 repetido 4 veces: [[0,1],[1,0]]")

Método 1 - np.tile() con patrón 2x2:
[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

Método 2 - Índices booleanos:
[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

Método 3 - Suma de índices:
[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

 Verificación del patrón de ajedrez:
Forma: (8, 8) (8x8)
Total de 1's: 32 (deben ser 32)
Total de 0's: 32 (deben ser 32)
¿Patrón alterna correctamente? True
¿Todos los métodos son iguales? True

 Visualización del tablero 8x8:
0:
1:
2:
3:
4:
5:
6:
7:

 Resumen:
 = 1 (casilla 'negra')
  = 0 (casilla 'blanca')
Patrón 2x2 repetido 4 veces: [[0,1],[1,0]]

<h3>20. Considerando un array de forma (6,7,8), ¿cuál es el índice (x,y,z) del elemento 100?</h3>

In [360]:
# Solución ejercicio 20
import numpy as np

# Forma del array
shape = (6, 7, 8)
print(f"Forma del array: {shape}")
print(f"Total de elementos: {np.prod(shape)} = 6×7×8 = 336")

# Índice del elemento 100 (contando desde 0)
elemento = 100  # Queremos el elemento en posición 100 (0-based)
print(f"\nBuscando el elemento en posición: {elemento} (0-based)")
print(f"Esto es el elemento número: {elemento + 1} (1-based)")

# Método 1: np.unravel_index() (recomendado)
indices = np.unravel_index(elemento, shape)
print(f"\nMétodo 1 - np.unravel_index({elemento}, {shape}):")
print(f"Índices (x,y,z) = {indices}")

# Método 2: Cálculo manual
print("\nMétodo 2 - Cálculo manual:")
# Para array (x,y,z):
# índice_flat = x*(7*8) + y*8 + z
# Despejamos:
z = elemento % 8
y = (elemento // 8) % 7
x = elemento // (7 * 8)

print(f"  x = elemento // (7×8) = {elemento} // 56 = {x}")
print(f"  y = (elemento // 8) % 7 = {elemento//8} % 7 = {y}")
print(f"  z = elemento % 8 = {elemento} % 8 = {z}")
print(f"  Índices manuales: ({x}, {y}, {z})")

# Verificación
print(f"\n Verificación:")
# Convertir de vuelta a índice plano
indice_plano = np.ravel_multi_index(indices, shape)
print(f"Índice plano de ({indices}): {indice_plano}")
print(f"¿Coincide con {elemento}? {indice_plano == elemento}")

# Ejemplo práctico
print(f"\n Ejemplo práctico:")
Z = np.arange(np.prod(shape)).reshape(shape)
print(f"Valor en Z[{indices}] = {Z[indices]}")
print(f"¿Z.flat[{elemento}] == Z[{indices}]? {Z.flat[elemento] == Z[indices]}")

Forma del array: (6, 7, 8)
Total de elementos: 336 = 6×7×8 = 336

Buscando el elemento en posición: 100 (0-based)
Esto es el elemento número: 101 (1-based)

Método 1 - np.unravel_index(100, (6, 7, 8)):
Índices (x,y,z) = (np.int64(1), np.int64(5), np.int64(4))

Método 2 - Cálculo manual:
  x = elemento // (7×8) = 100 // 56 = 1
  y = (elemento // 8) % 7 = 12 % 7 = 5
  z = elemento % 8 = 100 % 8 = 4
  Índices manuales: (1, 5, 4)

 Verificación:
Índice plano de ((np.int64(1), np.int64(5), np.int64(4))): 100
¿Coincide con 100? True

 Ejemplo práctico:
Valor en Z[(np.int64(1), np.int64(5), np.int64(4))] = 100
¿Z.flat[100] == Z[(np.int64(1), np.int64(5), np.int64(4))]? True

<h1>GITHUB</h1>

https://github.com/Vanship77/cuaderno-machine-learning.git

<h3>1 Acceso a ficheros</h3>
19/01/26

<h3>1.1 Ficheros</h3>
<ul>
  <li><strong>File</strong> es un tipo de objeto predefinido en Python (built-in).</li>
  <li>Permite acceder a ficheros desde programas Python.</li>
  <li>Los ficheros son de un tipo especial:
    <ul>
      <li>Son built-in, pero no son ni números, ni secuencias, ni mappings. Tampoco responden a operadores en expresiones.</li>
    </ul>
  </li>
  <li>La función <code>open</code> permite crear objetos de tipo fichero.</li>
</ul>

<h4>Formato general para abrir un fichero:</h4>
<pre><code>afile = open(filename, mode)</code></pre>

<ul>
  <li><code>mode</code> es opcional. Por defecto, los ficheros se abren en modo lectura.</li>
  <li>Los datos leídos de un fichero siempre se obtienen en formato string. Lo mismo ocurre con escritura.</li>
  <li>Los ficheros se deben cerrar invocando <code>close</code> (liberación de recursos).</li>
</ul>

In [4]:
# Lectura desde fichero usando método 'read'. Devuelve todo el contenido del fichero.
mi_fichero = open('res/multiple_lines.txt')
print(mi_fichero.read())
mi_fichero.close()

Este fichero
contiene tres
lineas de texto.

In [5]:
# Lectura linea a linea a través del bucle 'for'.
mi_fichero = open('res/multiple_lines.txt')
for linea in mi_fichero:
    print(f"{linea}")
mi_fichero.close()

Este fichero

contiene tres

lineas de texto.

In [6]:
# leer de un archivo a una lista.
mi_fichero = open('res/multiple_lines.txt')
lineas = mi_fichero.readlines()
mi_fichero.close()
print(lineas)

['Este fichero\n', 'contiene tres\n', 'lineas de texto.\n']

<ul>
  <li>Resolución de paths independiente de plataforma.</li>
</ul>

In [7]:
import os
ruta = os.path.join("res", "multiple_lines.txt")
print(ruta)

res\multiple_lines.txt

In [8]:
dataset_file_path = ["res","multiple_lines.txt"]
ruta = os.path.join(*dataset_file_path)
print(ruta)

res\multiple_lines.txt

<ul>
  <li><code>close</code> automático con sentencia <code>with</code>. Esta es la forma habitual de leer de fichero en Python, context manager.</li>
</ul>

In [9]:
with open(ruta) as mi_fichero:
    for linea in mi_fichero:
        print(linea, end= '')

Este fichero
contiene tres
lineas de texto.

<ul>
  <li>Se puede abrir varios ficheros en un mismo <code>with</code>.</li>
</ul>

In [10]:
#abrir varios ficheros en el mismo with
ruta1 = os.path.join("res", "one_line.txt")
ruta2 = os.path.join("res", "multiple_lines.txt")
with open(ruta1) as fichero1, open(ruta2) as fichero2:
    print(fichero1.readlines())
    print(fichero2.readlines())

['Hola mundo desde un fichero.']
['Este fichero\n', 'contiene tres\n', 'lineas de texto.\n']

<h4>1.2 Modos de acceso</h4>

<ul>
  <li>Al crear un objeto de tipo File se puede especificar el modo de acceso (lectura/escritura).</li>
</ul>

<table border="1">
  <thead>
    <tr>
      <th>Modo</th>
      <th>Acceso</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>r</code></td>
      <td>Solo Lectura</td>
      <td>Modo por defecto</td>
    </tr>
    <tr>
      <td><code>w</code></td>
      <td>Solo Escritura</td>
      <td>Borra si el archivo ya existe</td>
    </tr>
    <tr>
      <td><code>x</code></td>
      <td>Solo Escritura</td>
      <td>Falla si el archivo ya existe</td>
    </tr>
    <tr>
      <td><code>a</code></td>
      <td>Crea Fichero</td>
      <td>Si existe lo abre y se añade al final</td>
    </tr>
    <tr>
      <td><code>r+</code></td>
      <td>Lectura y Escritura</td>
      <td>Lectura y escritura simultánea</td>
    </tr>
    <tr>
      <td><code>b</code></td>
      <td>Binario</td>
      <td>Se puede añadir a otros modos para acceso binario (ej: <code>rb</code>, <code>wb</code>)</td>
    </tr>
    <tr>
      <td><code>t</code></td>
      <td>Texto</td>
      <td>Acceso para archivos de texto (default, ej: <code>rt</code>)</td>
    </tr>
  </tbody>
</table>

<h4>1.3 Acceso para escritura</h4>

In [11]:
def crear_lista(tamanyo):
    lista = []
    for i in range(tamanyo):
        lista.append(str(i) + '\n')
    return lista
ruta = os.path.join("res", "a_dummy.txt")
with open(ruta, 'wt') as fichero:
    fichero.write('Cabecera del ciclo del for en el ejemplo\n')
    lista = crear_lista(10)
    fichero.writelines(lista)
    print("archivo creado")

archivo creado

<h4>Buffering</h4>
<ul>
  <li>Por defecto, el texto que transfieres desde tu programa a un fichero no se guarda en disco inmediatamente. Se almacena en un <strong>buffer</strong>.</li>
  <li>Acciones como cerrar un fichero o invocar el método <code>flush</code> fuerzan que se transfiera el contenido del buffer a disco.</li>
</ul>

In [12]:
ruta = os.path.join("res", "FicheroParaEscritura.txt")
fichero_write = open(ruta, 'w')
fichero_write.write('foter')
fichero_read = open(ruta, "r")
print(fichero_read.readlines())
fichero_write.flush()
print(fichero_read.readlines())
fichero_write.close()
fichero_read.close()

[]
['foter']

<h4>1.4 Archivos CSV</h4>
<ul>
  <li>Python permite leer datos de ficheros CSV y también escribir ficheros en este formato.</li>
  <li>Popular formato en ciencia de datos.</li>
</ul>

In [13]:
# tabla_operaciones.csv contiene valores separados por comas
import csv
ruta = os.path.join("res", "tabla_operaciones.csv")
with open(ruta) as fichero:
    data_reader = csv.reader(fichero, delimiter=',')
    for linea in data_reader:
        print(linea[0] + ' ---- ' + linea[1])

Operacion ---- Descripcion
a + b ---- suma a y b
a - b ---- resta a menos b
a / b ---- a dividido
a // b ---- a dividido entre b (quitando decimales)
a % b ---- devuelve el resto de la divisiÃ³n a/b (modulus)
a * b ---- a multiplicado por b
a ** b ---- a elevado a b

In [14]:
ruta = os.path.join("res", "tabla_operaciones.csv")
f = open(ruta)
data_reader = csv.reader(f, delimiter = ',')
ruta_o = os.path.join("res", "4_tabla_operaciones.csv")
with open(ruta_o, 'w') as f2:
    csv_writer = csv.writer(f2, delimiter = '|')
    for line in data_reader:
        print(line)
        csv_writer.writerow(line)
f.close()

['Operacion', 'Descripcion']
['a + b', 'suma a y b']
['a - b', 'resta a menos b']
['a / b', 'a dividido']
['a // b', 'a dividido entre b (quitando decimales)']
['a % b', 'devuelve el resto de la divisiÃ³n a/b (modulus)']
['a * b', 'a multiplicado por b']
['a ** b', 'a elevado a b']

<h3>2 Docstrings</h3>
<ul>
  <li>Python permite adjuntar documentación a los objetos e inspeccionarla a través de la línea de comandos o durante la ejecución del programa.</li>
  <li>Los docstrings se almacenan en el atributo <code>__doc__</code> de cada objeto.</li>
  <li>El valor de dicho atributo se puede mostrar por medio de la función <code>help</code>.</li>
</ul>

In [15]:
help(open)

Help on function open in module _io:

open(
    file,
    mode='r',
    buffering=-1,
    encoding=None,
    errors=None,
    newline=None,
    closefd=True,
    opener=None
)
    Open file and return a stream.  Raise OSError upon failure.

    file is either a text or byte string giving the name (and the path
    if the file isn't in the current working directory) of the file to
    be opened or an integer file descriptor of the file to be
    wrapped. (If a file descriptor is given, it is closed when the
    returned I/O object is closed, unless closefd is set to False.)

    mode is an optional string that specifies the mode in which the file
    is opened. It defaults to 'r' which means open for reading in text
    mode.  Other common values are 'w' for writing (truncating the file if
    it already exists), 'x' for creating and writing to a new file, and
    'a' for appending (which on some Unix systems, means that all writes
    append to the end of the file regardless of the current seek position).
    In text mode, if encoding is not specified the encoding used is platform
    dependent: locale.getencoding() is called to get the current locale encoding.
    (For reading and writing raw bytes use binary mode and leave encoding
    unspecified.) The available modes are:

    ========= ===============================================================
    Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists
    'b'       binary mode
    't'       text mode (default)
    '+'       open a disk file for updating (reading and writing)
    ========= ===============================================================

    The default mode is 'rt' (open for reading text). For binary random
    access, the mode 'w+b' opens and truncates the file to 0 bytes, while
    'r+b' opens the file without truncation. The 'x' mode implies 'w' and
    raises an `FileExistsError` if the file already exists.

    Python distinguishes between files opened in binary and text modes,
    even when the underlying operating system doesn't. Files opened in
    binary mode (appending 'b' to the mode argument) return contents as
    bytes objects without any decoding. In text mode (the default, or when
    't' is appended to the mode argument), the contents of the file are
    returned as strings, the bytes having been first decoded using a
    platform-dependent encoding or using the specified encoding if given.

    buffering is an optional integer used to set the buffering policy.
    Pass 0 to switch buffering off (only allowed in binary mode), 1 to select
    line buffering (only usable in text mode), and an integer > 1 to indicate
    the size of a fixed-size chunk buffer.  When no buffering argument is
    given, the default buffering policy works as follows:

    * Binary files are buffered in fixed-size chunks; the size of the buffer
      is chosen using a heuristic trying to determine the underlying device's
      "block size" and falling back on `io.DEFAULT_BUFFER_SIZE`.
      On many systems, the buffer will typically be 4096 or 8192 bytes long.

    * "Interactive" text files (files for which isatty() returns True)
      use line buffering.  Other text files use the policy described above
      for binary files.

    encoding is the name of the encoding used to decode or encode the
    file. This should only be used in text mode. The default encoding is
    platform dependent, but any encoding supported by Python can be
    passed.  See the codecs module for the list of supported encodings.

    errors is an optional string that specifies how encoding errors are to
    be handled---this argument should not be used in binary mode. Pass
    'strict' to raise a ValueError exception if there is an encoding error
    (the default of None has the same effect), or pass 'ignore' to ignore
    errors. (Note that ignoring encoding errors can lead to data loss.)
    See the documentation for codecs.register or run 'help(codecs.Codec)'
    for a list of the permitted encoding error strings.

    newline controls how universal newlines works (it only applies to text
    mode). It can be None, '', '\n', '\r', and '\r\n'.  It works as
    follows:

    * On input, if newline is None, universal newlines mode is
      enabled. Lines in the input can end in '\n', '\r', or '\r\n', and
      these are translated into '\n' before being returned to the
      caller. If it is '', universal newline mode is enabled, but line
      endings are returned to the caller untranslated. If it has any of
      the other legal values, input lines are only terminated by the given
      string, and the line ending is returned to the caller untranslated.

    * On output, if newline is None, any '\n' characters written are
      translated to the system default line separator, os.linesep. If
      newline is '' or '\n', no translation takes place. If newline is any
      of the other legal values, any '\n' characters written are translated
      to the given string.

    If closefd is False, the underlying file descriptor will be kept open
    when the file is closed. This does not work when a file name is given
    and must be True in that case.

    A custom opener can be used by passing a callable as *opener*. The
    underlying file descriptor for the file object is then obtained by
    calling *opener* with (*file*, *flags*). *opener* must return an open
    file descriptor (passing os.open as *opener* results in functionality
    similar to passing None).

    open() returns a file object whose type depends on the mode, and
    through which the standard file operations such as reading and writing
    are performed. When open() is used to open a file in a text mode ('w',
    'r', 'wt', 'rt', etc.), it returns a TextIOWrapper. When used to open
    a file in a binary mode, the returned class varies: in read binary
    mode, it returns a BufferedReader; in write binary and append binary
    modes, it returns a BufferedWriter, and in read/write mode, it returns
    a BufferedRandom.

    It is also possible to use a string or bytearray as a file for both
    reading and writing. For strings StringIO can be used like a file
    opened in a text mode, and for bytes a BytesIO can be used like a file
    opened in a binary mode.

<ul>
  <li>No es necesario editar este atributo directamente.</li>
  <li>Para asociar un docstring a un objeto basta con escribir el texto (entre triples comillas) al principio de los módulos, funciones o clases, antes del código ejecutable.</li>
</ul>

In [16]:
def funcion_de_prueba():
    """Esta es la documentación de la función de prueba"""
    pass
help(funcion_de_prueba)

Help on function funcion_de_prueba in module __main__:

funcion_de_prueba()
    Esta es la documentación de la función de prueba

<ul>
  <li>Accediendo al atributo <code>__doc__</code> sólo se obtiene el docstring.</li>
</ul>

In [17]:
print(funcion_de_prueba.__doc__)

Esta es la documentación de la función de prueba

<p>Como se puede observar, <code>help</code> añade información adicional. Por ejemplo, para entidades más grandes, <code>help</code> muestra el docstring dividido en secciones.</p>

In [18]:
import sys
help(sys)

Help on built-in module sys:

NAME
    sys

MODULE REFERENCE
    https://docs.python.org/3.13/library/sys.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to some objects used or maintained by the
    interpreter and to functions that interact strongly with the interpreter.

    Dynamic objects:

    argv -- command line arguments; argv[0] is the script pathname if known
    path -- module search path; path[0] is the script directory, else ''
    modules -- dictionary of loaded modules

    displayhook -- called to show results in an interactive session
    excepthook -- called to handle any uncaught exception other than SystemExit
      To customize printing in an interactive session or to install a custom
      top-level exception handler, assign other functions to replace these.

    stdin -- standard input file object; used by input()
    stdout -- standard output file object; used by print()
    stderr -- standard error object; used for error messages
      By assigning other file objects (or objects that behave like files)
      to these, it is possible to redirect all of the interpreter's I/O.

    last_exc - the last uncaught exception
      Only available in an interactive session after a
      traceback has been printed.
    last_type -- type of last uncaught exception
    last_value -- value of last uncaught exception
    last_traceback -- traceback of last uncaught exception
      These three are the (deprecated) legacy representation of last_exc.

    Static objects:

    builtin_module_names -- tuple of module names built into this interpreter
    copyright -- copyright notice pertaining to this interpreter
    exec_prefix -- prefix used to find the machine-specific Python library
    executable -- absolute path of the executable binary of the Python interpreter
    float_info -- a named tuple with information about the float implementation.
    float_repr_style -- string indicating the style of repr() output for floats
    hash_info -- a named tuple with information about the hash algorithm.
    hexversion -- version information encoded as a single integer
    implementation -- Python implementation information.
    int_info -- a named tuple with information about the int implementation.
    maxsize -- the largest supported length of containers.
    maxunicode -- the value of the largest Unicode code point
    platform -- platform identifier
    prefix -- prefix used to find the Python library
    thread_info -- a named tuple with information about the thread implementation.
    version -- the version of this interpreter as a string
    version_info -- version information as a named tuple
    dllhandle -- [Windows only] integer handle of the Python DLL
    winver -- [Windows only] version number of the Python DLL
    _enablelegacywindowsfsencoding -- [Windows only]
    __stdin__ -- the original stdin; don't touch!
    __stdout__ -- the original stdout; don't touch!
    __stderr__ -- the original stderr; don't touch!
    __displayhook__ -- the original displayhook; don't touch!
    __excepthook__ -- the original excepthook; don't touch!

    Functions:

    displayhook() -- print an object to the screen, and save it in builtins._
    excepthook() -- print an exception and its traceback to sys.stderr
    exception() -- return the current thread's active exception
    exc_info() -- return information about the current thread's active exception
    exit() -- exit the interpreter by raising SystemExit
    getdlopenflags() -- returns flags to be used for dlopen() calls
    getprofile() -- get the global profiling function
    getrefcount() -- return the reference count for an object (plus one :-)
    getrecursionlimit() -- return the max recursion depth for the interpreter
    getsizeof() -- return the size of an object in bytes
    gettrace() -- get the global debug tracing function
    setdlopenflags() -- set the flags to be used for dlopen() calls
    setprofile() -- set the global profiling function
    setrecursionlimit() -- set the max recursion depth for the interpreter
    settrace() -- set the global debug tracing function

SUBMODULES
    monitoring

FUNCTIONS
    __breakpointhook__ = breakpointhook(*args, **kwargs)
        This hook function is called by built-in breakpoint().

    __displayhook__ = displayhook(object, /)
        Print an object to sys.stdout and also save it in builtins._

    __excepthook__ = excepthook(exctype, value, traceback, /)
        Handle an exception by displaying it with a traceback on sys.stderr.

    __unraisablehook__ = unraisablehook(unraisable, /)
        Handle an unraisable exception.

        The unraisable argument has the following attributes:

        * exc_type: Exception type.
        * exc_value: Exception value, can be None.
        * exc_traceback: Exception traceback, can be None.
        * err_msg: Error message, can be None.
        * object: Object causing the exception, can be None.

    activate_stack_trampoline(backend, /)
        Activate stack profiler trampoline *backend*.

    addaudithook(hook)
        Adds a new audit hook callback.

    audit(event, /, *args)
        Passes the event to any audit hooks that are attached.

    call_tracing(func, args, /)
        Call func(*args), while tracing is enabled.

        The tracing state is saved, and restored afterwards.  This is intended
        to be called from a debugger from a checkpoint, to recursively debug
        some other code.

    deactivate_stack_trampoline()
        Deactivate the current stack profiler trampoline backend.

        If no stack profiler is activated, this function has no effect.

    exc_info()
        Return current exception information: (type, value, traceback).

        Return information about the most recent exception caught by an except
        clause in the current stack frame or in an older stack frame.

    exception()
        Return the current exception.

        Return the most recent exception caught by an except clause
        in the current stack frame or in an older stack frame, or None
        if no such exception exists.

    exit(status=None, /)
        Exit the interpreter by raising SystemExit(status).

        If the status is omitted or None, it defaults to zero (i.e., success).
        If the status is an integer, it will be used as the system exit status.
        If it is another kind of object, it will be printed and the system
        exit status will be one (i.e., failure).

    get_asyncgen_hooks()
        Return the installed asynchronous generators hooks.

        This returns a namedtuple of the form (firstiter, finalizer).

    get_coroutine_origin_tracking_depth()
        Check status of origin tracking for coroutine objects in this thread.

    get_int_max_str_digits()
        Return the maximum string digits limit for non-binary int<->str conversions.

    getallocatedblocks()
        Return the number of memory blocks currently allocated.

    getdefaultencoding()
        Return the current default encoding used by the Unicode implementation.

    getfilesystemencodeerrors()
        Return the error mode used Unicode to OS filename conversion.

    getfilesystemencoding()
        Return the encoding used to convert Unicode filenames to OS filenames.

    getprofile()
        Return the profiling function set with sys.setprofile.

        See the profiler chapter in the library manual.

    getrecursionlimit()
        Return the current value of the recursion limit.

        The recursion limit is the maximum depth of the Python interpreter
        stack.  This limit prevents infinite recursion from causing an overflow
        of the C stack and crashing Python.

    getrefcount(object, /)
        Return the reference count of object.

        The count returned is generally one higher than you might expect,
        because it includes the (temporary) reference as an argument to
        getrefcount().

    getsizeof(...)
        getsizeof(object [, default]) -> int

        Return the size of object in bytes.

    getswitchinterval()
        Return the current thread switch interval; see sys.setswitchinterval().

    gettrace()
        Return the global debug tracing function set with sys.settrace.

        See the debugger chapter in the library manual.

    getunicodeinternedsize(*, _only_immortal=False)
        Return the number of elements of the unicode interned dictionary

    getwindowsversion()
        Return info about the running version of Windows as a named tuple.

        The members are named: major, minor, build, platform, service_pack,
        service_pack_major, service_pack_minor, suite_mask, product_type and
        platform_version. For backward compatibility, only the first 5 items
        are available by indexing. All elements are numbers, except
        service_pack and platform_type which are strings, and platform_version
        which is a 3-tuple. Platform is always 2. Product_type may be 1 for a
        workstation, 2 for a domain controller, 3 for a server.
        Platform_version is a 3-tuple containing a version number that is
        intended for identifying the OS rather than feature detection.

    intern(string, /)
        ``Intern'' the given string.

        This enters the string in the (global) table of interned strings whose
        purpose is to speed up dictionary lookups. Return the string itself or
        the previously interned string object with the same value.

    is_finalizing()
        Return True if Python is exiting.

    is_stack_trampoline_active()
        Return *True* if a stack profiler trampoline is active.

    set_asyncgen_hooks(...)
        set_asyncgen_hooks([firstiter] [, finalizer])

        Set a finalizer for async generators objects.

    set_coroutine_origin_tracking_depth(depth)
        Enable or disable origin tracking for coroutine objects in this thread.

        Coroutine objects will track 'depth' frames of traceback information
        about where they came from, available in their cr_origin attribute.

        Set a depth of 0 to disable.

    set_int_max_str_digits(maxdigits)
        Set the maximum string digits limit for non-binary int<->str conversions.

    setprofile(function, /)
        Set the profiling function.

        It will be called on each function call and return.  See the profiler
        chapter in the library manual.

    setrecursionlimit(limit, /)
        Set the maximum depth of the Python interpreter stack to n.

        This limit prevents infinite recursion from causing an overflow of the C
        stack and crashing Python.  The highest possible limit is platform-
        dependent.

    setswitchinterval(interval, /)
        Set the ideal thread switching delay inside the Python interpreter.

        The actual frequency of switching threads can be lower if the
        interpreter executes long sequences of uninterruptible code
        (this is implementation-specific and workload-dependent).

        The parameter must represent the desired switching delay in seconds
        A typical value is 0.005 (5 milliseconds).

    settrace(function, /)
        Set the global debug tracing function.

        It will be called on each function call.  See the debugger chapter
        in the library manual.

    unraisablehook(unraisable, /)
        Handle an unraisable exception.

        The unraisable argument has the following attributes:

        * exc_type: Exception type.
        * exc_value: Exception value, can be None.
        * exc_traceback: Exception traceback, can be None.
        * err_msg: Error message, can be None.
        * object: Object causing the exception, can be None.

DATA
    __stderr__ = <_io.TextIOWrapper name='<stderr>' mode='w' encoding='cp1...
    __stdin__ = <_io.TextIOWrapper name='<stdin>' mode='r' encoding='cp125...
    __stdout__ = <_io.TextIOWrapper name='<stdout>' mode='w' encoding='cp1...
    api_version = 1013
    argv = [r'C:\Users\NW\anaconda3\envs\cuadernomachine2026\Lib\site-pack...
    base_exec_prefix = r'C:\Users\NW\anaconda3\envs\cuadernomachine2026'
    base_prefix = r'C:\Users\NW\anaconda3\envs\cuadernomachine2026'
    builtin_module_names = ('_abc', '_ast', '_bisect', '_blake2', '_codecs...
    byteorder = 'little'
    copyright = 'Copyright (c) 2001-2024 Python Software Foundati...ematis...
    displayhook = <ipykernel.displayhook.ZMQShellDisplayHook object>
    dllhandle = 140718227456000
    dont_write_bytecode = False
    exec_prefix = r'C:\Users\NW\anaconda3\envs\cuadernomachine2026'
    executable = r'C:\Users\NW\anaconda3\envs\cuadernomachine2026\python.e...
    flags = sys.flags(debug=0, inspect=0, interactive=0, opt...ding=0, saf...
    float_info = sys.float_info(max=1.7976931348623157e+308, max_...epsilo...
    float_repr_style = 'short'
    hash_info = sys.hash_info(width=64, modulus=2305843009213693...iphash1...
    hexversion = 51186672
    implementation = namespace(name='cpython', cache_tag='cpython-313...as...
    int_info = sys.int_info(bits_per_digit=30, sizeof_digit=4, ..._str_dig...
    last_exc = FileNotFoundError(2, 'No such file or directory')
    last_value = FileNotFoundError(2, 'No such file or directory')
    maxsize = 9223372036854775807
    maxunicode = 1114111
    meta_path = [<_distutils_hack.DistutilsMetaFinder object>, <class '_fr...
    modules = {'IPython': <module 'IPython' from 'C:\\Users\\NW\\anaconda3...
    orig_argv = [r'C:/Users/NW/anaconda3/envs/cuadernomachine2026\python.e...
    path = [r'C:\Users\NW\anaconda3\envs\cuadernomachine2026\python313.zip...
    path_hooks = [<class 'zipimport.zipimporter'>, <function FileFinder.pa...
    path_importer_cache = {r'C:\Users\NW\OneDrive\Escritorio\cuadernomachi...
    platform = 'win32'
    platlibdir = 'DLLs'
    prefix = r'C:\Users\NW\anaconda3\envs\cuadernomachine2026'
    ps1 = 'In : '
    ps2 = '...: '
    ps3 = 'Out: '
    pycache_prefix = None
    stderr = <ipykernel.iostream.OutStream object>
    stdin = <_io.TextIOWrapper name='<stdin>' mode='r' encoding='cp1252'>
    stdlib_module_names = frozenset({'__future__', '_abc', '_aix_support',...
    stdout = <ipykernel.iostream.OutStream object>
    thread_info = sys.thread_info(name='nt', lock=None, version=None)
    version = '3.13.11 | packaged by Anaconda, Inc. | (main, Dec 10 2025, ...
    version_info = sys.version_info(major=3, minor=13, micro=11, releasele...
    warnoptions = []
    winver = '3.13'

FILE
    (built-in)

<p>Los docstrings que ocupan más de una línea suelen tener estas partes:</p>
<ul>
  <li>Resumen en la primera línea.</li>
  <li>Línea en blanco.</li>
  <li>Descripción detallada.</li>
  <li>Otra línea en blanco antes del código.</li>
</ul>

In [19]:
def funcion_de_prueba2():
    """Esta es la línea para el resumen.
    Este es el párrafo donde se puede escribir una descripción más
    detallada de la función. Observa que el resumen y la descripción
    detallada van separados por una línea en blanco. También hay
    otra línea en blanco antes de empezar el código.
    """
    pass
help(funcion_de_prueba2)

Help on function funcion_de_prueba2 in module __main__:

funcion_de_prueba2()
    Esta es la línea para el resumen.
    Este es el párrafo donde se puede escribir una descripción más
    detallada de la función. Observa que el resumen y la descripción
    detallada van separados por una línea en blanco. También hay
    otra línea en blanco antes de empezar el código.

<h4>Algunos comentarios adicionales:</h4>
<ul>
  <li>Comentarios con ‘<code>#</code>’ suelen asociarse a expresiones sencillas, instrucciones individuales o pequeños bloques de código.</li>
  <li>Los docstrings son más apropiados para construcciones de más alto nivel: funciones, clases y módulos.</li>
</ul>

<h4>2.1 Sphinx</h4>
<ul>
  <li>Herramienta de documentación.</li>
  <li>Especialmente útil para sistemas grandes.</li>
  <li>Da soporte a una gran variedad de formatos de salida: HTML, LaTeX, ePub, …</li>
</ul>

<p><strong>Web de Sphinx.</strong><br>
<strong>Proyectos que usan Sphinx.</strong></p>

<h4>2.2 Estilo</h4>
<ul>
  <li>Es importante que los docstrings sean consistentes.</li>
  <li>El equipo de desarrollo debe acordar un formato y seguirlo rigurosamente.</li>
</ul>

<p><strong>Google Python Style Guide</strong> Google define la siguiente guía de estilo.<br>
Contiene reglas para los docstrings de:</p>
<ul>
  <li>Módulos.</li>
  <li>Métodos y funciones.</li>
  <li>Clases.</li>
</ul>

<h4>2.3 Ejercicios</h4>

<h4>1. Escribe una función que reciba una ruta de un fichero de texto y una cadena de caracteres a buscar y determine si la cadena aparece en el fichero.</h4>

In [20]:
def buscar_cadena_en_archivo(ruta_archivo, cadena_buscar):
    """
    Determina si una cadena aparece en un archivo de texto.
    
    Parámetros:
    -----------
    ruta_archivo : str
        Ruta completa al archivo de texto
    cadena_buscar : str
        Cadena a buscar en el archivo
        
    Retorna:
    --------
    bool
        True si la cadena se encuentra en el archivo, False en caso contrario
    """
    try:
        with open(ruta_archivo, 'r', encoding='utf-8') as archivo:
            contenido = archivo.read()
            return cadena_buscar in contenido
    except FileNotFoundError:
        print(f"Error: No se encontró el archivo '{ruta_archivo}'")
        return False
    except Exception as e:
        print(f"Error al leer el archivo: {e}")
        return False

# Ejemplo de uso
if __name__ == "__main__":
    # Crear un archivo de prueba
    texto_prueba = """Python es un lenguaje de programación interpretado.
Su filosofía hace hincapié en la legibilidad del código.
Es multiparadigma y multipropósito."""
    
    with open('ejemplo.txt', 'w', encoding='utf-8') as f:
        f.write(texto_prueba)
    
    # Probar la función
    resultado = buscar_cadena_en_archivo('ejemplo.txt', 'Python')
    print(f"¿'Python' está en el archivo? {resultado}")
    
    resultado2 = buscar_cadena_en_archivo('ejemplo.txt', 'Java')
    print(f"¿'Java' está en el archivo? {resultado2}")

¿'Python' está en el archivo? True
¿'Java' está en el archivo? False

<h4>2. Escribe una función que reciba una lista, una ruta destino y un número n. La función debe crear un fichero en la ruta especificada. El contenido del fichero serán los primeros n elementos de la lista. La función debe controlar de manera apropiada los posibles valores de n que estén fuera de rango.</h4>

In [22]:
def escribir_primeros_n_elementos(lista, ruta_destino, n):
    """
    Escribe los primeros n elementos de una lista en un archivo.
    
    Parámetros:
    -----------
    lista : list
        Lista de elementos a escribir
    ruta_destino : str
        Ruta donde se creará el archivo
    n : int
        Número de elementos a escribir
        
    Retorna:
    --------
    bool
        True si la operación fue exitosa, False en caso contrario
    """
    try:
        # Validar que n sea un número entero positivo
        if not isinstance(n, int):
            print(f"Error: n debe ser un número entero, se recibió {type(n).__name__}")
            return False
            
        # Controlar valores de n fuera de rango
        if n <= 0:
            print(f"Advertencia: n={n} no es válido. Se escribirá archivo vacío.")
            elementos_a_escribir = []
        elif n > len(lista):
            print(f"Advertencia: n={n} es mayor que el tamaño de la lista ({len(lista)}). Se escribirán todos los elementos.")
            elementos_a_escribir = lista
        else:
            elementos_a_escribir = lista[:n]
        
        # Escribir en el archivo
        with open(ruta_destino, 'w', encoding='utf-8') as archivo:
            for elemento in elementos_a_escribir:
                archivo.write(f"{elemento}\n")
        
        print(f"✓ Archivo creado en: {ruta_destino}")
        print(f"  Elementos escritos: {len(elementos_a_escribir)} de {len(lista)}")
        return True
        
    except Exception as e:
        print(f" Error al crear el archivo: {e}")
        return False

# Ejemplo de uso
if __name__ == "__main__":
    # Lista de ejemplo
    frutas = ['manzana', 'banana', 'naranja', 'uva', 'pera', 'sandía', 'melón']
    
    print("Prueba 1: n dentro del rango")
    escribir_primeros_n_elementos(frutas, 'frutas_3.txt', 3)
    
    print("\nPrueba 2: n mayor que tamaño de lista")
    escribir_primeros_n_elementos(frutas, 'frutas_10.txt', 10)
    
    print("\nPrueba 3: n negativo")
    escribir_primeros_n_elementos(frutas, 'frutas_negativo.txt', -2)
    
    print("\nPrueba 4: n = 0")
    escribir_primeros_n_elementos(frutas, 'frutas_0.txt', 0)
    
    # Leer y mostrar contenido de uno de los archivos
    print("\nContenido de 'frutas_3.txt':")
    with open('frutas_3.txt', 'r', encoding='utf-8') as f:
        print(f.read())

Prueba 1: n dentro del rango
✓ Archivo creado en: frutas_3.txt
  Elementos escritos: 3 de 7

Prueba 2: n mayor que tamaño de lista
Advertencia: n=10 es mayor que el tamaño de la lista (7). Se escribirán todos los elementos.
✓ Archivo creado en: frutas_10.txt
  Elementos escritos: 7 de 7

Prueba 3: n negativo
Advertencia: n=-2 no es válido. Se escribirá archivo vacío.
✓ Archivo creado en: frutas_negativo.txt
  Elementos escritos: 0 de 7

Prueba 4: n = 0
Advertencia: n=0 no es válido. Se escribirá archivo vacío.
✓ Archivo creado en: frutas_0.txt
  Elementos escritos: 0 de 7

Contenido de 'frutas_3.txt':
manzana
banana
naranja

<h4>3. Escribe una función que reciba una ruta de un fichero de texto devuelva un diccionario con la frecuencia de aparición de cada palabra. Ejemplo: un fichero que contenga la frase ‘es mejor que venga que que no venga’ devolverá el siguiente diccionario: {‘es’ : 1, ‘mejor’ : 1, ‘que’ : 3, ‘venga’ : 2, ‘no’ : 1}. Para dividir un string en palabras puedes hacer uso del método split.</h4>

In [24]:
def frecuencia_palabras(ruta_archivo):
    """
    Calcula la frecuencia de aparición de cada palabra en un archivo de texto.
    
    Parámetros:
    -----------
    ruta_archivo : str
        Ruta al archivo de texto
        
    Retorna:
    --------
    dict
        Diccionario con palabras como claves y frecuencias como valores
        Retorna diccionario vacío si hay error
    """
    try:
        with open(ruta_archivo, 'r', encoding='utf-8') as archivo:
            contenido = archivo.read()
        
        # Limpiar y dividir el contenido en palabras
        # Eliminar signos de puntuación y convertir a minúsculas
        import string
        contenido_limpio = contenido.translate(
            str.maketrans('', '', string.punctuation)
        ).lower()
        
        palabras = contenido_limpio.split()
        
        # Contar frecuencia de cada palabra
        frecuencia = {}
        for palabra in palabras:
            if palabra in frecuencia:
                frecuencia[palabra] += 1
            else:
                frecuencia[palabra] = 1
        
        return frecuencia
        
    except FileNotFoundError:
        print(f"Error: No se encontró el archivo '{ruta_archivo}'")
        return {}
    except Exception as e:
        print(f"Error al procesar el archivo: {e}")
        return {}

# Versión mejorada con opciones de procesamiento
def frecuencia_palabras_avanzada(ruta_archivo, ignorar_case=True, remover_puntuacion=True):
    """
    Calcula frecuencia de palabras con opciones avanzadas.
    
    Parámetros:
    -----------
    ruta_archivo : str
        Ruta al archivo de texto
    ignorar_case : bool
        Si True, convierte todo a minúsculas (default: True)
    remover_puntuacion : bool
        Si True, elimina signos de puntuación (default: True)
        
    Retorna:
    --------
    dict
        Diccionario de frecuencias
    """
    try:
        with open(ruta_archivo, 'r', encoding='utf-8') as archivo:
            contenido = archivo.read()
        
        # Procesamiento según opciones
        if ignorar_case:
            contenido = contenido.lower()
        
        if remover_puntuacion:
            import string
            contenido = contenido.translate(
                str.maketrans('', '', string.punctuation)
            )
        
        palabras = contenido.split()
        
        # Usar dict comprehension o collections.Counter
        frecuencia = {}
        for palabra in palabras:
            frecuencia[palabra] = frecuencia.get(palabra, 0) + 1
        
        return frecuencia
        
    except Exception as e:
        print(f"Error: {e}")
        return {}

# Ejemplo de uso
if __name__ == "__main__":
    # Crear archivo de prueba con el ejemplo dado
    texto_ejemplo = "es mejor que venga que que no venga"
    with open('ejemplo_frecuencia.txt', 'w', encoding='utf-8') as f:
        f.write(texto_ejemplo)
    
    print(" Ejemplo básico:")
    resultado = frecuencia_palabras('ejemplo_frecuencia.txt')
    print(f"Resultado: {resultado}")
    
    # Verificar que coincida con el ejemplo
    esperado = {'es': 1, 'mejor': 1, 'que': 3, 'venga': 2, 'no': 1}
    print(f"¿Coincide con lo esperado? {resultado == esperado}")
    
    # Ejemplo más complejo
    print("\n Ejemplo con texto más largo:")
    texto_largo = """Python es un lenguaje de programación interpretado.
    Python es multiparadigma y muy popular.
    Python, python, PYTHON... siempre Python."""
    
    with open('python.txt', 'w', encoding='utf-8') as f:
        f.write(texto_largo)
    
    resultado2 = frecuencia_palabras('python.txt')
    print("Frecuencias:")
    for palabra, freq in sorted(resultado2.items(), key=lambda x: x[1], reverse=True):
        print(f"  '{palabra}': {freq}")
    
    # Mostrar estadísticas
    print(f"\n Estadísticas:")
    print(f"Total de palabras distintas: {len(resultado2)}")
    print(f"Total de palabras: {sum(resultado2.values())}")
    print(f"Palabra más frecuente: {max(resultado2, key=resultado2.get)}")

 Ejemplo básico:
Resultado: {'es': 1, 'mejor': 1, 'que': 3, 'venga': 2, 'no': 1}
¿Coincide con lo esperado? True

 Ejemplo con texto más largo:
Frecuencias:
  'python': 6
  'es': 2
  'un': 1
  'lenguaje': 1
  'de': 1
  'programación': 1
  'interpretado': 1
  'multiparadigma': 1
  'y': 1
  'muy': 1
  'popular': 1
  'siempre': 1

 Estadísticas:
Total de palabras distintas: 12
Total de palabras: 18
Palabra más frecuente: python

<h1>GITHUB</h1>

https://github.com/Vanship77/cuaderno-machine-learning.git

<h2>1 Pandas</h2>
<ul>
  <li>Librería (de facto estándar) para estructurar datos tabulares.</li>
  <li>Multivariable (string, int, float, bool…).</li>
  <li>Dos clases:
    <ul>
      <li>Series (1 dimensión)</li>
      <li>DataFrames (2+ dimensiones)</li>
    </ul>
  </li>
</ul>

In [1]:
# librería externa
import pandas as pd
from pandas import Series, DataFrame

In [2]:
pd.__version__

'2.3.3'

<h3>2 Series</h3>
<ul>
  <li>Datos unidimensionales (similar a NumPy).</li>
  <li>Elementos + índices modificables.</li>
</ul>

In [3]:
countries = pd.Series(['Spain','Andorra','Gibraltar','Portugal','France'])
print(countries)

0        Spain
1      Andorra
2    Gibraltar
3     Portugal
4       France
dtype: object

In [4]:
# especificando el índice
countries = pd.Series(['Spain','Andorra','Gibraltar','Portugal','France'],
index=range(10,60,10))
print(countries)

10        Spain
20      Andorra
30    Gibraltar
40     Portugal
50       France
dtype: object

In [5]:
# los índices pueden ser de más tipos
football_cities = pd.Series(['Barcelona','Madrid','Valencia','Sevilla'],
index=['a','b','c','d'])
print(football_cities)

a    Barcelona
b       Madrid
c     Valencia
d      Sevilla
dtype: object

In [6]:
# Atributos
football_cities.name = 'Ciudades con dos equipos en primera' # nombrar la Serie
football_cities.index.name = 'Id' # Describir los índices
print(football_cities)

Id
a    Barcelona
b       Madrid
c     Valencia
d      Sevilla
Name: Ciudades con dos equipos en primera, dtype: object

In [7]:
# acceso similar a NumPy o listas, según posición (depecrated)
print(football_cities[2])
# acceso a través del índice semántico
print(football_cities['c'])
print(football_cities['c'] == football_cities[2])

Valencia
Valencia
True

C:\Users\NW\AppData\Local\Temp\ipykernel_30980\1996900842.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(football_cities[2])
C:\Users\NW\AppData\Local\Temp\ipykernel_30980\1996900842.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(football_cities['c'] == football_cities[2])

<h3>3 Tratamiento similar a ndarray</h3>

In [8]:
# múltiple recolección de elementos
print(football_cities[ ['a','c'] ])
print(football_cities[ [0, 3] ])

Id
a    Barcelona
c     Valencia
Name: Ciudades con dos equipos en primera, dtype: object
Id
a    Barcelona
d      Sevilla
Name: Ciudades con dos equipos en primera, dtype: object

C:\Users\NW\AppData\Local\Temp\ipykernel_30980\3494609972.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(football_cities[ [0, 3] ])

In [9]:
# slicing
print(football_cities[:'c']) # incluye ambos extremos con el indice semantico
print(football_cities[:2])

Id
a    Barcelona
b       Madrid
c     Valencia
Name: Ciudades con dos equipos en primera, dtype: object
Id
a    Barcelona
b       Madrid
Name: Ciudades con dos equipos en primera, dtype: object

In [10]:
#cast a list
lista = list(football_cities[:'c'])
print(lista)
print(type(lista))

['Barcelona', 'Madrid', 'Valencia']
<class 'list'>

In [11]:
type(football_cities[:'c'])

pandas.core.series.Series

In [12]:
#cast a ndarray
import numpy as np
cities = np.array(football_cities[:'c'])
print(cities)
print(type(cities))

['Barcelona' 'Madrid' 'Valencia']
<class 'numpy.ndarray'>

In [13]:
# cas a dictionary
lista = dict(football_cities[:'c'])
print(lista)

{'a': 'Barcelona', 'b': 'Madrid', 'c': 'Valencia'}

In [14]:
# uso de masks para seleccionar
fibonacci = pd.Series([0, 1, 1, 2, 3, 5, 8, 13, 21])
print(fibonacci)
mask = fibonacci > 10
print(mask)
print(fibonacci[mask])
dst = pd.Series([13,21])
print(dst)
dst.equals(fibonacci)
fb = fibonacci[mask]
fb.reset_index(drop=True, inplace=True)
print(fb)
dst.equals(fb)

0     0
1     1
2     1
3     2
4     3
5     5
6     8
7    13
8    21
dtype: int64
0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8     True
dtype: bool
7    13
8    21
dtype: int64
0    13
1    21
dtype: int64
0    13
1    21
dtype: int64

True

In [15]:
# aplicar funciones de numpy a la serie
import numpy as np
print(np.sum(fibonacci))

54

In [16]:
#filtrado con np.where
distances = pd.Series([12.1,np.nan,12.8,76.9,6.1,7.2])
valid_distances = np.where(pd.notnull(distances),distances,2)
print(valid_distances)
print(type(valid_distances))

[12.1  2.  12.8 76.9  6.1  7.2]
<class 'numpy.ndarray'>

<h4>3.0.1 Iteración</h4>

In [18]:
# iterar sobre elementos
for value in fibonacci:
    print('Value: ' + str(value))
# # iterar sobre indices
for index in fibonacci.index:
    print('Index: ' + str(index))

Value: 0
Value: 1
Value: 1
Value: 2
Value: 3
Value: 5
Value: 8
Value: 13
Value: 21
Index: 0
Index: 1
Index: 2
Index: 3
Index: 4
Index: 5
Index: 6
Index: 7
Index: 8

In [19]:
# iterar sobre elementos e índices al mismo tiempo
for index, value in fibonacci.items():
    print('Index: ' + str(index) + ' Value: ' + str(value))

Index: 0 Value: 0
Index: 1 Value: 1
Index: 2 Value: 1
Index: 3 Value: 2
Index: 4 Value: 3
Index: 5 Value: 5
Index: 6 Value: 8
Index: 7 Value: 13
Index: 8 Value: 21

In [20]:
for index, value in zip(fibonacci.index, fibonacci):
    print('Index: ' + str(index) + ' Value: ' + str(value))

Index: 0 Value: 0
Index: 1 Value: 1
Index: 2 Value: 1
Index: 3 Value: 2
Index: 4 Value: 3
Index: 5 Value: 5
Index: 6 Value: 8
Index: 7 Value: 13
Index: 8 Value: 21

<h4>3.1 Series como diccionarios</h4>
<ul>
  <li>Interpretar el índice como clave.</li>
  <li>Acepta operaciones para diccionarios.</li>
</ul>

In [21]:
# crear una serie a partir de un diccionario
serie = pd.Series( { 'Carlos' : 100, 'Marcos': 98} )
print(serie.index)
print(serie.values)
print(serie)
print(type(serie))

Index(['Carlos', 'Marcos'], dtype='object')
[100  98]
Carlos    100
Marcos     98
dtype: int64
<class 'pandas.core.series.Series'>

In [22]:
# añade y elimina elementos a través de índices
serie['Pedro'] = 12
serie['Pedro']=15
del serie['Marcos']
print(serie)

Carlos    100
Pedro      15
dtype: int64

In [23]:
# query una serie
# print(serie['Marcos'])
if 'Marcos' in serie:
    print(serie['Marcos'])
print(serie)

Carlos    100
Pedro      15
dtype: int64

<h4>3.2 Operaciones entre series</h4>

In [24]:
# suma de dos series
# suma de valores con el mismo índice (NaN si no aparece en ambas)
serie1 = pd.Series([10,20,30,40], index=range(4) )
serie2 = pd.Series([1,2,3], index=range(3) )
suma = serie1 + serie2
print(suma)

0    11.0
1    22.0
2    33.0
3     NaN
dtype: float64

In [25]:
# resta de series (similar a la suma)
print(serie1 - serie2)

0     9.0
1    18.0
2    27.0
3     NaN
dtype: float64

In [26]:
# operaciones de pre-filtrado
result = serie1 + serie2
result[pd.isnull(result)] = 0 # mask con isnull()
print(result)

0    11.0
1    22.0
2    33.0
3     0.0
dtype: float64

<h4>3.2.1 Diferencias entre Pandas Series y diccionario</h4>
<ul>
  <li>Diccionario, es una estructura que relaciona las claves y los valores de forma arbitraria.</li>
  <li>Series, estructura de forma estricta listas de valores con listas de índice asignado en la posición.</li>
  <li>Series, es más eficiente para ciertas operaciones que los diccionarios.</li>
  <li>En las Series los valores de entrada pueden ser listas o Numpy arrays.</li>
  <li>En Series los índices semánticos pueden ser integers o caracteres, en los valores igual.</li>
  <li>Series se podría entender entre una lista y un diccionario Python, pero es de una dimensión.</li>
</ul>

<h3>4 DataFrame</h3>
<ul>
  <li>Datos tabulares (filas x columnas).</li>
  <li>Columnas: Series con índices compartidos.</li>
</ul>

In [27]:
# crear un DataFrame a partir de un diccionario de elementos de la misma longitud
diccionario = { "Nombre" : ["Marisa","Laura","Manuel"],
"Edad" : [34,29,12] }
print(diccionario)
# las claves identifican columnas
frame = pd.DataFrame(diccionario)
display(frame)

{'Nombre': ['Marisa', 'Laura', 'Manuel'], 'Edad': [34, 29, 12]}

   Nombre  Edad
0  Marisa    34
1   Laura    29
2  Manuel    12

In [28]:
# crear un DataFrame a partir de un diccionario de elementos de la misma longitud
diccionario = { "Nombre" : ["Marisa","Laura","Manuel"],
"Edad" : [34,29,12] }
# las claves identifican columnas
frame = pd.DataFrame(diccionario, index = ['a', 'b', 'c'])
display(frame)

   Nombre  Edad
a  Marisa    34
b   Laura    29
c  Manuel    12

In [29]:
# además de 'index', el parámetro 'columns' especifica el número y orden de lascolumnas
frame = pd.DataFrame(diccionario, columns = ['Nacionalidad', 'Nombre', 'Edad','Profesion','Genero'])
display(frame)

  Nacionalidad  Nombre  Edad Profesion Genero
0          NaN  Marisa    34       NaN    NaN
1          NaN   Laura    29       NaN    NaN
2          NaN  Manuel    12       NaN    NaN

In [30]:
# acceso a columnas
nombres = frame['Nombre']
display(nombres)
print(type(nombres))
edades = frame['Edad']
display(edades)
print(type(edades))

0    Marisa
1     Laura
2    Manuel
Name: Nombre, dtype: object

<class 'pandas.core.series.Series'>

0    34
1    29
2    12
Name: Edad, dtype: int64

<class 'pandas.core.series.Series'>

In [31]:
#siempre que el nombre de la columna lo permita (espacios, ...)
nombres = frame.Profesion
display(nombres)
type(nombres)

0    NaN
1    NaN
2    NaN
Name: Profesion, dtype: object

pandas.core.series.Series

In [32]:
# acceso al primer nombre del DataFrame frame??
print(frame['Nombre'][0])
print(frame.Nombre[0])
print(nombres[0])

Marisa
Marisa
nan

In [34]:
# añadir columnas
diccionario = { "Nombre" : ["Marisa","Laura","Manuel"],
"Edad" : [34,29,12] }
frame = pd.DataFrame(diccionario, columns=['Nacionalidad', 'Nombre','Edad','Profesion', 'Direccion'])
frame['Direccion'] = 'Desconocida'
display(frame)

  Nacionalidad  Nombre  Edad Profesion    Direccion
0          NaN  Marisa    34       NaN  Desconocida
1          NaN   Laura    29       NaN  Desconocida
2          NaN  Manuel    12       NaN  Desconocida

In [37]:
lista_direcciones = ['Rue 13 del Percebe, 13', 'Evergreen Terrace, 3', 'Av de los Rombos, 12']

In [38]:
frame['Direccion'] = lista_direcciones
display(frame)

  Nacionalidad  Nombre  Edad Profesion               Direccion
0          NaN  Marisa    34       NaN  Rue 13 del Percebe, 13
1          NaN   Laura    29       NaN    Evergreen Terrace, 3
2          NaN  Manuel    12       NaN    Av de los Rombos, 12

In [39]:
# añadir fila (requiere todos los valores)
user_2 = ['Alemania','Klaus',20, 'none','Desconocida']
frame.loc[3] = user_2
display(frame)

  Nacionalidad  Nombre  Edad Profesion               Direccion
0          NaN  Marisa    34       NaN  Rue 13 del Percebe, 13
1          NaN   Laura    29       NaN    Evergreen Terrace, 3
2          NaN  Manuel    12       NaN    Av de los Rombos, 12
3     Alemania   Klaus    20      none             Desconocida

In [40]:
# eliminar fila (similar a Series)
frame = pd.DataFrame(diccionario,columns=['Nacionalidad', 'Nombre', 'Edad','Profesion'])
frame = frame.drop(2) # por qué necesitamos reasignar el frame?
display(frame)
frame.drop('Nombre', axis = 1, inplace = True)
display(frame)

  Nacionalidad  Nombre  Edad Profesion
0          NaN  Marisa    34       NaN
1          NaN   Laura    29       NaN

  Nacionalidad  Edad Profesion
0          NaN    34       NaN
1          NaN    29       NaN

In [41]:
#eliminar columna
del frame['Profesion']
display(frame)

  Nacionalidad  Edad
0          NaN    34
1          NaN    29

In [42]:
# acceder a la traspuesta (como una matriz)
display(frame.T)

                0    1
Nacionalidad  NaN  NaN
Edad           34   29

<h4>4.2 Iteración</h4>

In [44]:
# iteración sobre el DataFrame?
frame = pd.DataFrame(diccionario, columns=['Nacionalidad', 'Nombre', 'Edad','Profesion'])
display(frame)
for a in frame:
    print(a) # qué es 'a'?
    print(type(a))

  Nacionalidad  Nombre  Edad Profesion
0          NaN  Marisa    34       NaN
1          NaN   Laura    29       NaN
2          NaN  Manuel    12       NaN

Nacionalidad
<class 'str'>
Nombre
<class 'str'>
Edad
<class 'str'>
Profesion
<class 'str'>

In [45]:
# iteracion sobre filas
for value in frame.values:
    print(value)
    print(type(value))

[nan 'Marisa' 34 nan]
<class 'numpy.ndarray'>
[nan 'Laura' 29 nan]
<class 'numpy.ndarray'>
[nan 'Manuel' 12 nan]
<class 'numpy.ndarray'>

In [46]:
# iterar sobre filas y luego sobre cada valor?
for values in frame.values:
    for value in values:
        print(value)

nan
Marisa
34
nan
nan
Laura
29
nan
nan
Manuel
12
nan

<h4>4.3 Indexación y slicing con DataFrames</h4>

In [47]:
d1 = {'ciudad':'Valencia', 'temperatura':10, 'o2':1}
d2 = {'ciudad':'Barcelona', 'temperatura':8}
d3 = {'ciudad':'Valencia', 'temperatura':9}
d4 = {'ciudad':'Madrid', 'temperatura':10, 'humedad':80}
d5 = {'ciudad':'Sevilla', 'temperatura':15, 'humedad':50, 'co2':6}
d6 = {'ciudad':'Valencia', 'temperatura':10, 'humedad':90, 'co2':10}
ls_data = [d1, d2, d3, d4, d5, d6] # lista de diccionarios
df_data = pd.DataFrame(ls_data, index = list('abcdef'))
display(df_data)

      ciudad  temperatura   o2  humedad   co2
a   Valencia           10  1.0      NaN   NaN
b  Barcelona            8  NaN      NaN   NaN
c   Valencia            9  NaN      NaN   NaN
d     Madrid           10  NaN     80.0   NaN
e    Sevilla           15  NaN     50.0   6.0
f   Valencia           10  NaN     90.0  10.0

In [48]:
# Acceso a un valor concreto por indice posicional [row, col]
print(df_data.iloc[1,1])
# Acceso a todos los valores hasta un índice por enteros
display(df_data.iloc[:3,:4])
# Acceso a datos de manera explícita, indice semantico (se incluyen)
display(df_data.loc['a', 'temperatura'])
display(df_data.loc[:'c', :'o2'])
display(df_data.loc[:'c', 'temperatura':'o2'])
display(df_data.loc[:, ['ciudad','o2']])

8

      ciudad  temperatura   o2  humedad
a   Valencia           10  1.0      NaN
b  Barcelona            8  NaN      NaN
c   Valencia            9  NaN      NaN

np.int64(10)

      ciudad  temperatura   o2
a   Valencia           10  1.0
b  Barcelona            8  NaN
c   Valencia            9  NaN

   temperatura   o2
a           10  1.0
b            8  NaN
c            9  NaN

      ciudad   o2
a   Valencia  1.0
b  Barcelona  NaN
c   Valencia  NaN
d     Madrid  NaN
e    Sevilla  NaN
f   Valencia  NaN

In [49]:
# indexación con nombre de columna (por columnas)
print(df_data['ciudad']) # --> Series
display(df_data[['ciudad', 'o2']])

a     Valencia
b    Barcelona
c     Valencia
d       Madrid
e      Sevilla
f     Valencia
Name: ciudad, dtype: object

      ciudad   o2
a   Valencia  1.0
b  Barcelona  NaN
c   Valencia  NaN
d     Madrid  NaN
e    Sevilla  NaN
f   Valencia  NaN

In [50]:
# indexación con índice posicional (no permitido!). Esto busca columna.
df_data[0]

KeyError: 0

In [51]:
# indexar por posición con 'iloc'
print(df_data.iloc[0]) # --> Series de la primera fila (qué marca los índices)

ciudad         Valencia
temperatura          10
o2                  1.0
humedad             NaN
co2                 NaN
Name: a, dtype: object

In [52]:
# indexar semántico con 'loc'
df_data.loc['a'] # --> Series de la fila con índice 'a'

ciudad         Valencia
temperatura          10
o2                  1.0
humedad             NaN
co2                 NaN
Name: a, dtype: object

In [53]:
# indexar semántico con 'loc'
df_data.loc[:'b'] # --> DataFrame de la fila con índice 'a' y 'b'

      ciudad  temperatura   o2  humedad  co2
a   Valencia           10  1.0      NaN  NaN
b  Barcelona            8  NaN      NaN  NaN

In [54]:
df_data.loc[:'b'].loc[:,["o2", "humedad"]] # slicing anidado

    o2  humedad
a  1.0      NaN
b  NaN      NaN

In [55]:
# si se modifica una porcion del dataframe se modifica el dataframe original(referencia)
display(df_data)
serie = df_data.loc['a']
print(serie)
serie.iloc[2] = 3000 # setting with copy warning!!!
display(df_data)
# copiar data frame
df_2 = df_data.loc['a'].copy()
df_2.iloc[2] = 3000
display(df_2)
display(df_data)

      ciudad  temperatura   o2  humedad   co2
a   Valencia           10  1.0      NaN   NaN
b  Barcelona            8  NaN      NaN   NaN
c   Valencia            9  NaN      NaN   NaN
d     Madrid           10  NaN     80.0   NaN
e    Sevilla           15  NaN     50.0   6.0
f   Valencia           10  NaN     90.0  10.0

ciudad         Valencia
temperatura          10
o2                  1.0
humedad             NaN
co2                 NaN
Name: a, dtype: object

C:\Users\NW\AppData\Local\Temp\ipykernel_30980\2647750659.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serie.iloc[2] = 3000 # setting with copy warning!!!

      ciudad  temperatura   o2  humedad   co2
a   Valencia           10  1.0      NaN   NaN
b  Barcelona            8  NaN      NaN   NaN
c   Valencia            9  NaN      NaN   NaN
d     Madrid           10  NaN     80.0   NaN
e    Sevilla           15  NaN     50.0   6.0
f   Valencia           10  NaN     90.0  10.0

ciudad         Valencia
temperatura          10
o2                 3000
humedad             NaN
co2                 NaN
Name: a, dtype: object

      ciudad  temperatura   o2  humedad   co2
a   Valencia           10  1.0      NaN   NaN
b  Barcelona            8  NaN      NaN   NaN
c   Valencia            9  NaN      NaN   NaN
d     Madrid           10  NaN     80.0   NaN
e    Sevilla           15  NaN     50.0   6.0
f   Valencia           10  NaN     90.0  10.0

In [56]:
# ambos aceptan 'axis' como argumento
# df_data.iloc(axis=1)[0] # --> todos los valores asignados a la primeracolumna 'ciudad'
df_data.loc(axis=1)['ciudad'] # --> equivalente frame['ciudad']

a     Valencia
b    Barcelona
c     Valencia
d       Madrid
e      Sevilla
f     Valencia
Name: ciudad, dtype: object

In [57]:
# qué problema puede tener este fragmento?
frame = pd.DataFrame({"Name" : ['Carlos','Pedro'], "Age" : [34,22]},index=[1,0])
display(frame)

     Name  Age
1  Carlos   34
0   Pedro   22

In [58]:
# por defecto, pandas interpreta índice posicional --> error en frames
# cuando hay posible ambigüedad, utilizar loc y iloc
print('Primera fila\n')
print(frame.iloc[0])
print('\nElemento con index 0\n')
print(frame.loc[0])

Primera fila

Name    Carlos
Age         34
Name: 1, dtype: object

Elemento con index 0

Name    Pedro
Age        22
Name: 0, dtype: object

<h4>4.4 Objeto Index de Pandas</h4>

In [59]:
# Contrucción de índices
ind = pd.Index([2, 3, 5, 23, 26])
# recuperar datos
print(ind[3])
print(ind[::2])

23
Index([2, 5, 26], dtype='int64')

In [61]:
# usar un objeto index al crear dataframe
frame = pd.DataFrame({"Name" : ['Carlos','Pedro', 'Manolo', 'Luis', 'Alberto'],"Age" : [34,22,15,55,23]}, index=ind)
display(frame)

       Name  Age
2    Carlos   34
3     Pedro   22
5    Manolo   15
23     Luis   55
26  Alberto   23

In [62]:
# Son inmutables! No se modifican los datos.
ind[3] = 8

TypeError: Index does not support mutable operations

In [63]:
# change index column
frame = pd.DataFrame({"Name" : ['Carlos','Pedro', 'Manolo', 'Luis', 'Alberto'],"Age" : [34,22,15,55,23]}, index=ind)
display(frame)
frame.set_index('Age', inplace=True)
display(frame)

       Name  Age
2    Carlos   34
3     Pedro   22
5    Manolo   15
23     Luis   55
26  Alberto   23

        Name
Age
34    Carlos
22     Pedro
15    Manolo
55      Luis
23   Alberto

<h4>4.5 Slicing</h4>

In [64]:
# slice por filas
d_and_d_characters = {'Name' : ['bundenth','theorin','barlok'], 'Strength' :[10,12,19], 'Wisdom' : [20,13,6]}
character_data = pd.DataFrame(d_and_d_characters, index=['a','b','c'])
display(character_data)
display(character_data[:-1])
display(character_data[1:2])

       Name  Strength  Wisdom
a  bundenth        10      20
b   theorin        12      13
c    barlok        19       6

       Name  Strength  Wisdom
a  bundenth        10      20
b   theorin        12      13

      Name  Strength  Wisdom
b  theorin        12      13

In [65]:
# slicing para columnas
display(character_data[['Name','Wisdom']])

       Name  Wisdom
a  bundenth      20
b   theorin      13
c    barlok       6

In [66]:
#slicing con 'loc' e 'iloc'
display(character_data.iloc[1:])
display(character_data.loc[:'b','Name':'Strength'])

      Name  Strength  Wisdom
b  theorin        12      13
c   barlok        19       6

       Name  Strength
a  bundenth        10
b   theorin        12

<h4>¿Cómo filtrar filas y columnas? Por ejemplo, para todos los personajes, obtener ‘Name’ y ‘Strength’</h4>

In [67]:
# usando 'loc' para hacer slicing
display(character_data.loc[:,'Name':'Strength'])

       Name  Strength
a  bundenth        10
b   theorin        12
c    barlok        19

In [68]:
# usando 'loc' para buscar específicamente filas y columnas
display(character_data.loc[ ['a','c'], ['Name','Wisdom'] ])

       Name  Wisdom
a  bundenth      20
c    barlok       6

In [69]:
# lo mismo con 'iloc'?
display(character_data.iloc[[0,2],[0,2]])
display(character_data.iloc[[0,-1],[0,-1]])

       Name  Wisdom
a  bundenth      20
c    barlok       6

       Name  Wisdom
a  bundenth      20
c    barlok       6

In [70]:
# lista de los personajes con el atributo Strength > 11
display(character_data.loc[character_data['Strength'] > 11, ['Name','Strength']])

      Name  Strength
b  theorin        12
c   barlok        19

In [71]:
# listar los personajes con Strength > 15 o Wisdom > 15
display(character_data.loc[(character_data['Strength'] > 15) |(character_data['Wisdom'] > 15)])

       Name  Strength  Wisdom
a  bundenth        10      20
c    barlok        19       6

<h3>5 Cargar y guardar datos en pandas</h3>

In [72]:
# Guardar a csv
import os
ruta = os.path.join("res" ,"o_d_d_characters.csv")
#character_data.to_csv(ruta, sep=';') # sep por defecto: ','

In [73]:
loaded = pd.read_csv(ruta, sep=';')
display(loaded)

  Unnamed: 0      Name  Strength  Wisdom
0          a  bundenth        10      20
1          b   theorin        12      13
2          c    barlok        19       6

In [74]:
ruta = os.path.join("res","titanic.csv")

In [75]:
titanic = pd.read_csv(ruta, sep=',')
display(titanic)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [76]:
loaded = pd.read_csv(ruta, sep=',', index_col = 0)
display(loaded)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

<h4>Otros argumentos to_csv()</h4>
<ul>
  <li><code>na_rep='string'</code> → representar valores NaN en el archivo CSV.</li>
</ul>

<h4>Otros argumentos read_csv()</h4>
<ul>
  <li><code>na_values='string'</code></li>
</ul>

<p>Pandas también ofrece funciones para leer/guardar a otros formatos estándares: JSON, HDF5 o Excel en su API.</p>

<h3>6 Ejemplo práctico en pandas</h3>
<ul>
  <li>MovieLens dataset.</li>
  <li>Reviews de películas.</li>
  <li>1 millón de entradas.</li>
  <li>Datos demográficos de usuarios.</li>
</ul>

In [84]:
import numpy as np
import pandas as pd
import zipfile  # para descomprimir archivos zip
import urllib.request  # para descargar de URL
import os

# descargar MovieLens dataset
url = 'http://files.grouplens.org/datasets/movielens/ml-1m.zip'
ruta = os.path.join("res", "ml-1m.zip")

# Crear carpeta res si no existe
os.makedirs("res", exist_ok=True)

print("Descargando dataset...")
urllib.request.urlretrieve(url, ruta)
print(f" Descargado en: {ruta}")

Descargando dataset...
 Descargado en: res\ml-1m.zip

In [85]:
# descomprimiendo archivo zip
ruta_ext = os.path.join("res")
with zipfile.ZipFile(ruta, 'r') as z:
    print('Extrayendo todos los archivos...')
    z.extractall(ruta_ext)  # destino
    print(' ¡Extracción completada!')

# Verificar archivos descargados
print("\n Archivos descargados:")
print(os.listdir(os.path.join("res", "ml-1m")))

Extrayendo todos los archivos...
 ¡Extracción completada!

 Archivos descargados:
['.ipynb_checkpoints', 'movies.dat', 'o_users_processed.csv', 'ratings.dat', 'README', 'users.dat']

In [86]:
ruta_users = os.path.join("res", "ml-1m", "users.dat")

# PRIMER INTENTO (con problemas)
print("Primer intento de carga (veremos problemas):")
users_dataset = pd.read_csv(ruta_users, sep='::', index_col=0, engine='python')
display(users_dataset.head())
print("\n Problemas detectados:")
print("1. Sin cabecera → primer valor se ha perdido")
print("2. Las columnas no tienen nombres")

Primer intento de carga (veremos problemas):

   F  1.1  10  48067
1
2  M   56  16  70072
3  M   25  15  55117
4  M   45   7  02460
5  M   25  20  55455
6  F   50   9  55117

 Problemas detectados:
1. Sin cabecera → primer valor se ha perdido
2. Las columnas no tienen nombres

In [87]:
# Varios problemas
# sin cabecera! primer valor se ha perdido
# las columnas no tienen nombres
pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'UsecolsArgType' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool | lib.NoDefault' = <no_default>,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool | lib.NoDefault' = <no_default>,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | dict[Hashable, str] | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool | lib.NoDefault' = <no_default>,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Character or regex pattern to treat as the delimiter. If ``sep=None``, the
    C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator from only the first valid
    row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
    In addition, separators longer than 1 character and different from
    ``'\s+'`` will be interpreted as regular expressions and will also force
    the use of the Python parsing engine. Note that regex delimiters are prone
    to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, optional
    Alias for ``sep``.
header : int, Sequence of int, 'infer' or None, default 'infer'
    Row number(s) containing column labels and marking the start of the
    data (zero-indexed). Default behavior is to infer the column names: if no ``names``
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly to ``names`` then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a :class:`~pandas.MultiIndex` on the columns
    e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : Sequence of Hashable, optional
    Sequence of column labels to apply. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : Hashable, Sequence of Hashable or False, optional
  Column(s) to use as row label(s), denoted either by column labels or column
  indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
  will be formed for the row labels.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g., when you have a malformed file with delimiters at
  the end of each line.
usecols : Sequence of Hashable or Callable, optional
    Subset of columns to select, denoted either by column labels or column indices.
    If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in ``names`` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
    preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
    for columns in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to ``True``. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : dtype or dict of {Hashable : dtype}, optional
    Data type(s) to apply to either the whole dataset or individual columns.
    E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
    Use ``str`` or ``object`` together with suitable ``na_values`` settings
    to preserve and not interpret ``dtype``.
    If ``converters`` are specified, they will be applied INSTEAD
    of ``dtype`` conversion.

    .. versionadded:: 1.5.0

        Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
        the default determines the ``dtype`` of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The 'pyarrow' engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict of {Hashable : Callable}, optional
    Functions for converting values in specified columns. Keys can either
    be column labels or column indices.
true_values : list, optional
    Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
false_values : list, optional
    Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : int, list of int or Callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (``int``)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
    Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
    per-column ``NA`` values.  By default the following values are interpreted as
    ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
    "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
    "n/a", "nan", "null ".

keep_default_na : bool, default True
    Whether or not to include the default ``NaN`` values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
      is appended to the default ``NaN`` values used for parsing.
    * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
      the default ``NaN`` values are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
      the ``NaN`` values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
      strings will be parsed as ``NaN``.

    Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of ``na_values``). In
    data without any ``NA`` values, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of ``NA`` values placed in non-numeric columns.

    .. deprecated:: 2.2.0
skip_blank_lines : bool, default True
    If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
    The behavior is as follows:

    * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
      ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
    * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
      as a single date column. Values are joined with a space before parsing.
    * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
      result 'foo'. Values are joined with a space before parsing.

    If a column or index cannot be represented as an array of ``datetime``,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an ``object`` data type. For
    non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
    :func:`~pandas.read_csv`.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
    format of the ``datetime`` strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If ``True`` and ``parse_dates`` specifies combining multiple columns then
    keep the original columns.
date_parser : Callable, optional
    Function to use for converting a sequence of string columns to an array of
    ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. pandas will try to call ``date_parser`` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by ``parse_dates`` into a single array
    and pass that; and 3) call ``date_parser`` once for each row using one or
    more strings (corresponding to the columns defined by ``parse_dates``) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`~pandas.to_datetime` as-needed.
date_format : str or dict of column -> format, optional
    Format to use for parsing dates when used in conjunction with ``parse_dates``.
    The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
    `strftime documentation
    <https://docs.python.org/3/library/datetime.html
    #strftime-and-strptime-behavior>`_ for more information on choices, though
    note that :const:`"%f"` will parse all the way up to nanoseconds.
    You can also pass:

    - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
        time string (not necessarily in exactly the same format);
    - "mixed", to infer the format for each element individually. This is risky,
        and you should probably use it along with `dayfirst`.

    .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If ``True``, use a cache of unique, converted dates to apply the ``datetime``
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return ``TextFileReader`` object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Number of lines to read from the file per chunk. Passing a value will cause the
    function to return a ``TextFileReader`` object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str (length 1), optional
    Character acting as the thousands separator in numerical values.
decimal : str (length 1), default '.'
    Character to recognize as decimal point (e.g., use ',' for European data).
lineterminator : str (length 1), optional
    Character used to denote a line break. Only valid with C parser.
quotechar : str (length 1), optional
    Character used to denote the start and end of a quoted item. Quoted
    items can include the ``delimiter`` and it will be ignored.
quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
    ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
    characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
    or ``lineterminator``.
doublequote : bool, default True
   When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    Character used to escape other characters.
comment : str (length 1), optional
    Character indicating that the remainder of line should not be parsed.
    If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter ``header`` but not by
    ``skiprows``. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
    treated as the header.
encoding : str, optional, default 'utf-8'
    Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

encoding_errors : str, optional, default 'strict'
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
    ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
    override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

    - ``'error'``, raise an Exception when a bad line is encountered.
    - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
    - ``'skip'``, skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - Callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new ``list`` of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine='python'``

    .. versionchanged:: 2.2.0

        - Callable, function with signature
          as described in `pyarrow documentation
          <https://arrow.apache.org/docs/python/generated/pyarrow.csv.ParseOptions.html
          #pyarrow.csv.ParseOptions.invalid_row_handler>`_ when ``engine='pyarrow'``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be

In [88]:
# SOLUCIÓN: especificar nombres, cargar sin cabecera
users_dataset = pd.read_csv(ruta_users, sep='::', index_col=0,
                          header=None, 
                          names=['UserID','Gender','Age','Occupation','Zip-code'],
                          engine='python')
print("✅ Dataset cargado correctamente:")
display(users_dataset.head())

✅ Dataset cargado correctamente:

       Gender  Age  Occupation Zip-code
UserID
1           F    1          10    48067
2           M   56          16    70072
3           M   25          15    55117
4           M   45           7    02460
5           M   25          20    55455

In [89]:
# samplear la tabla
print("Muestra aleatoria de 10 filas:")
display(users_dataset.sample(10))

print("\nPrimeras 4 filas:")
display(users_dataset.head(4))

print("\nÚltimas 10 filas:")
display(users_dataset.tail(10))

Muestra aleatoria de 10 filas:

       Gender  Age  Occupation Zip-code
UserID
1567        M   25          12    06511
3602        M   25          12    55443
1481        M   35          17    77096
5           M   25          20    55455
950         M   35           7    21044
3451        F   25          11    94117
4505        M   50           7    39648
4712        M   35          17    03824
3185        M   18           7    55337
596         F   25           1    01950

Primeras 4 filas:

       Gender  Age  Occupation Zip-code
UserID
1           F    1          10    48067
2           M   56          16    70072
3           M   25          15    55117
4           M   45           7    02460

Últimas 10 filas:

       Gender  Age  Occupation Zip-code
UserID
6031        F   18           0    45123
6032        M   45           7    55108
6033        M   50          13    78232
6034        M   25          14    94117
6035        F   25           1    78734
6036        F   25          15    32603
6037        F   45           1    76006
6038        F   56           1    14706
6039        F   45           0    01060
6040        M   25           6    11106

In [90]:
# samplear la cabeza
display(users_dataset.head(4))

       Gender  Age  Occupation Zip-code
UserID
1           F    1          10    48067
2           M   56          16    70072
3           M   25          15    55117
4           M   45           7    02460

In [91]:
# samplear la cola
display(users_dataset.tail(10))

       Gender  Age  Occupation Zip-code
UserID
6031        F   18           0    45123
6032        M   45           7    55108
6033        M   50          13    78232
6034        M   25          14    94117
6035        F   25           1    78734
6036        F   25          15    32603
6037        F   45           1    76006
6038        F   56           1    14706
6039        F   45           0    01060
6040        M   25           6    11106

In [92]:
# tipos de datos sobre las columnas
users_dataset.dtypes

Gender        object
Age            int64
Occupation     int64
Zip-code      object
dtype: object

In [93]:
display(users_dataset[users_dataset['Zip-code'].str.len() > 5])

       Gender  Age  Occupation    Zip-code
UserID
161         M   45          16  98107-2117
233         F   45          20  37919-4204
293         M   56           1  55337-4056
458         M   50          16  55405-2546
506         M   25          16  55103-1006
...       ...  ...         ...         ...
5682        M   18           0  23455-4959
5904        F   45          12      954025
5925        F   25           0  90035-4444
5967        M   50          16  73069-5429
5985        F   18           4  78705-5221

[81 rows x 4 columns]

In [94]:
# información general sobre atributos numéricos
print("Estadísticas descriptivas:")
display(users_dataset.describe())

print("\nEstadísticas incluyendo atributos no numéricos:")
display(users_dataset.describe(include='all'))

Estadísticas descriptivas:

               Age   Occupation
count  6040.000000  6040.000000
mean     30.639238     8.146854
std      12.895962     6.329511
min       1.000000     0.000000
25%      25.000000     3.000000
50%      25.000000     7.000000
75%      35.000000    14.000000
max      56.000000    20.000000

Estadísticas incluyendo atributos no numéricos:

       Gender          Age   Occupation Zip-code
count    6040  6040.000000  6040.000000     6040
unique      2          NaN          NaN     3439
top         M          NaN          NaN    48104
freq     4331          NaN          NaN       19
mean      NaN    30.639238     8.146854      NaN
std       NaN    12.895962     6.329511      NaN
min       NaN     1.000000     0.000000      NaN
25%       NaN    25.000000     3.000000      NaN
50%       NaN    25.000000     7.000000      NaN
75%       NaN    35.000000    14.000000      NaN
max       NaN    56.000000    20.000000      NaN

In [95]:
users_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6040 entries, 1 to 6040
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      6040 non-null   object
 1   Age         6040 non-null   int64
 2   Occupation  6040 non-null   int64
 3   Zip-code    6040 non-null   object
dtypes: int64(2), object(2)
memory usage: 235.9+ KB

In [96]:
# incluir otros atributos (no todo tiene sentido)
display(users_dataset.describe(include='all'))

       Gender          Age   Occupation Zip-code
count    6040  6040.000000  6040.000000     6040
unique      2          NaN          NaN     3439
top         M          NaN          NaN    48104
freq     4331          NaN          NaN       19
mean      NaN    30.639238     8.146854      NaN
std       NaN    12.895962     6.329511      NaN
min       NaN     1.000000     0.000000      NaN
25%       NaN    25.000000     3.000000      NaN
50%       NaN    25.000000     7.000000      NaN
75%       NaN    35.000000    14.000000      NaN
max       NaN    56.000000    20.000000      NaN

In [97]:
# cuántos usuarios son mujeres (Gender='F')
mujeres = len(users_dataset[users_dataset['Gender'] == 'F'])
total = len(users_dataset)
print(f" Usuarias mujeres: {mujeres:,} de {total:,} ({mujeres/total*100:.1f}%)")
# Equivalente SQL: select count(*) from users_dataset where users_dataset.Gender = 'F'

 Usuarias mujeres: 1,709 de 6,040 (28.3%)

In [98]:
# mostrar solo los menores de edad (Age == 1)
under_age = users_dataset[users_dataset['Age'] == 1]
print(f" Menores de edad (Age == 1): {len(under_age):,} usuarios")
display(under_age.sample(10))

 Menores de edad (Age == 1): 222 usuarios

       Gender  Age  Occupation Zip-code
UserID
1187        F    1           0    90210
153         M    1          10    51537
1308        M    1          10    75082
5296        F    1           0    27245
5390        M    1           0    78130
2168        M    1          10    60202
4431        M    1          14    80401
4413        M    1          13    37130
5751        F    1           0    14167
5803        M    1          10    01597

In [99]:
# NOTA: Los siguientes bloques muestran diferentes formas de manejar datos incorrectos
# Los ejecutaremos por separado para evitar SettingWithCopyWarning

# Primero recargamos los datos originales
users_dataset = pd.read_csv(ruta_users, sep='::', index_col=0,
                          header=None, 
                          names=['UserID','Gender','Age','Occupation','Zip-code'],
                          engine='python')
print("Dataset recargado para correcciones:")

Dataset recargado para correcciones:

In [100]:
# filtrar edad incorrecta (míninimo 18) Fixing it by Copying the slice
users_dataset = pd.read_csv(ruta_users, sep='::', index_col=0,
    header=None, names=['UserID','Gender','Age','Occupation','Zip-code'],engine='python')
under_age = users_dataset[users_dataset['Age'] == 1]
under_age_copy = under_age.copy()
display(under_age_copy.head())
under_age_copy['Age'] = np.nan
display(under_age_copy.head())
users_dataset[users_dataset['Age'] == 1] = under_age_copy # sets the rows according to the indexes
display(users_dataset.head())

       Gender  Age  Occupation Zip-code
UserID
1           F    1          10    48067
19          M    1          10    48073
51          F    1          10    10562
75          F    1          10    01748
86          F    1          10    54467

       Gender  Age  Occupation Zip-code
UserID
1           F  NaN          10    48067
19          M  NaN          10    48073
51          F  NaN          10    10562
75          F  NaN          10    01748
86          F  NaN          10    54467

       Gender   Age  Occupation Zip-code
UserID
1           F   NaN          10    48067
2           M  56.0          16    70072
3           M  25.0          15    55117
4           M  45.0           7    02460
5           M  25.0          20    55455

In [102]:
# Marcar edad = 1 como NaN (edad mínima realista: 18)
users_dataset.loc[users_dataset['Age'] == 1, 'Age'] = np.nan
print("Edades = 1 marcadas como NaN:")
print(f"Valores NaN en Age: {users_dataset['Age'].isna().sum()}")
display(users_dataset[users_dataset['Age'].isna()].head(4))

Edades = 1 marcadas como NaN:
Valores NaN en Age: 222

       Gender  Age  Occupation Zip-code
UserID
1           F  NaN          10    48067
19          M  NaN          10    48073
51          F  NaN          10    10562
75          F  NaN          10    01748

In [103]:
# Eliminar filas con Age = NaN
usuarios_antes = len(users_dataset)
users_dataset.dropna(subset=['Age'], inplace=True)
usuarios_despues = len(users_dataset)
print(f"🗑️ Eliminadas {usuarios_antes - usuarios_despues} filas con Age = NaN")
print(f"Usuarios restantes: {usuarios_despues:,}")
display(users_dataset.head(4))

🗑️ Eliminadas 222 filas con Age = NaN
Usuarios restantes: 5,818

       Gender   Age  Occupation Zip-code
UserID
2           M  56.0          16    70072
3           M  25.0          15    55117
4           M  45.0           7    02460
5           M  25.0          20    55455

In [105]:
# Agrupar datos por atributos
print(" Estadísticas agrupadas por Género:")
display(users_dataset.groupby(by='Gender').describe())

print("\n Distribución por Ocupación:")
ocupacion_counts = users_dataset['Occupation'].value_counts()
print(ocupacion_counts.head(10))

 Estadísticas agrupadas por Género:

           Age                                                     Occupation  \
         count       mean        std   min   25%   50%   75%   max      count
Gender
F       1631.0  32.287554  11.792015  18.0  25.0  25.0  45.0  56.0     1631.0
M       4187.0  31.568665  11.716053  18.0  25.0  25.0  35.0  56.0     4187.0


            mean       std  min  25%  50%   75%   max
Gender
F       6.498467  5.960285  0.0  1.0  4.0  11.0  20.0
M       8.743253  6.441753  0.0  4.0  7.0  15.0  20.0

 Distribución por Ocupación:
Occupation
4     756
0     684
7     677
1     524
17    500
12    387
14    300
20    281
2     264
16    241
Name: count, dtype: int64

In [106]:
# Grabar la tabla modificada
ruta_output = os.path.join('res', 'ml-1m', 'o_users_processed.csv')

# Cambiar el separador a ','
# Guardar NaN como 'null'
users_dataset.to_csv(ruta_output, sep=',', na_rep='null')
print(f" Dataset procesado guardado en: {ruta_output}")
print(f"Tamaño: {os.path.getsize(ruta_output):,} bytes")

# Verificar que se guardó correctamente
df_verificacion = pd.read_csv(ruta_output)
print(f"\n Verificación: {len(df_verificacion):,} filas cargadas del archivo guardado")

 Dataset procesado guardado en: res\ml-1m\o_users_processed.csv
Tamaño: 123,778 bytes

 Verificación: 5,818 filas cargadas del archivo guardado

In [108]:
#Agrupar datos por atributos
display(users_dataset.groupby(by='Gender').describe())
# Grabar la tabla modificada
# Cambiar el separador a ','
# Guardar NaN como 'null'
ruta_output = os.path.join('res', 'ml-1m', 'o_users_processed.csv')
users_dataset.to_csv(ruta_output, sep=',',na_rep='null')

           Age                                                     Occupation  \
         count       mean        std   min   25%   50%   75%   max      count
Gender
F       1631.0  32.287554  11.792015  18.0  25.0  25.0  45.0  56.0     1631.0
M       4187.0  31.568665  11.716053  18.0  25.0  25.0  35.0  56.0     4187.0


            mean       std  min  25%  50%   75%   max
Gender
F       6.498467  5.960285  0.0  1.0  4.0  11.0  20.0
M       8.743253  6.441753  0.0  4.0  7.0  15.0  20.0

In [109]:
# especificar nombres, cargar sin cabecera
import os
import pandas as pd
ruta_ratings = os.path.join("res", "ml-1m", "ratings.dat")
ratings_dataset = pd.read_csv(ruta_ratings, sep='::',
header=None, names=['UserID','MovieID','Rating','Timestamp'],engine='python')
display(ratings_dataset)

         UserID  MovieID  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [110]:
# hay algún usuario que no tenga ninguna review
n_users_with_reviews = len(ratings_dataset.groupby(by='UserID'))
print(n_users_with_reviews)
n_users = len(users_dataset)
print(n_users)
print(n_users - n_users_with_reviews)

6040
5818
-222

In [112]:
# Cuántos tienen menos de 30 reviews
ratings_under_30 = ratings_dataset.groupby(['UserID'])['UserID'].filter(lambda x: len(x) < 30).value_counts()
display(ratings_under_30)
print(len(ratings_under_30))

UserID
71      29
5814    29
5898    29
2775    29
5909    29
        ..
2673    20
160     20
5533    20
5525    20
217     20
Name: count, Length: 751, dtype: int64

751

<h1>GITHUB</h1>

https://github.com/Vanship77/cuaderno-machine-learning.git

## 01MIAR - Estructuras de datos, +Pandas
21/01/26

In [6]:
import pandas as pd
import numpy as np

In [7]:
pd.__version__

'2.3.3'

# Operaciones en pandas

#### Búsqueda

In [8]:
rand_matrix = np.random.randint(6,size=(2,3))
frame = pd.DataFrame(rand_matrix , columns=list('ABC'))
display(frame)

   A  B  C
0  5  5  5
1  5  0  3

In [9]:
# buscando columnas (DataFrame como dic, busca en claves)
'A' in frame

True

In [10]:
# buscando valores
display(frame.isin([3,2])) # --> mask de respuesta (valores que son 3 o 2)

       A      B      C
0  False  False  False
1  False  False   True

In [11]:
# Contar el número de ocurrencias
print(frame.isin([4]).values.sum())
display(frame.isin([4])) #devuelve una mask con valores true si el elemento es 4
print(frame.isin([4]).values)
type(frame.isin([4]).values) # pandas es una capa alrededor de numpy

0

       A      B      C
0  False  False  False
1  False  False  False

[[False False False]
 [False False False]]

numpy.ndarray

In [12]:
# Cuántos valores son >= 2
mask = frame >= 2
print(mask.values.sum())
display(mask)

5

      A      B     C
0  True   True  True
1  True  False  True

#### Ordenación

In [13]:
from random import shuffle

rand_matrix = np.random.randint(20,size=(5,4))

indices = list(range(5))
shuffle(indices) # mezcla indices

frame = pd.DataFrame(rand_matrix , columns=list('DACB'), index=indices)
display(frame)

    D   A   C   B
0  14   8  12  15
4  13  10   1  15
3   4   1  16  12
1   9   4   3  12
2  10  13  16  15

In [14]:
# ordenar por índice
display(frame.sort_index(ascending=False))
display(frame)

    D   A   C   B
4  13  10   1  15
3   4   1  16  12
2  10  13  16  15
1   9   4   3  12
0  14   8  12  15

    D   A   C   B
0  14   8  12  15
4  13  10   1  15
3   4   1  16  12
1   9   4   3  12
2  10  13  16  15

In [15]:
#ordenar por columna
display(frame.sort_index(axis=1, ascending=False))

    D   C   B   A
0  14  12  15   8
4  13   1  15  10
3   4  16  12   1
1   9   3  12   4
2  10  16  15  13

In [16]:
# ordenar filas por valor en columna
display(frame.sort_values(by='A', ascending=True))

    D   A   C   B
3   4   1  16  12
1   9   4   3  12
0  14   8  12  15
4  13  10   1  15
2  10  13  16  15

In [17]:
# ordenar columnas por valor en fila
display(frame.sort_values(by=1, axis=1, ascending=True))

    C   A   D   B
0  12   8  14  15
4   1  10  13  15
3  16   1   4  12
1   3   4   9  12
2  16  13  10  15

In [18]:
# ordenar por valor en columna y guardar cambios
frame.sort_values(by='A', ascending=False, inplace=True)
display(frame)

    D   A   C   B
2  10  13  16  15
4  13  10   1  15
0  14   8  12  15
1   9   4   3  12
3   4   1  16  12

#### Ranking
- Construir un ranking de valores

In [19]:
display(frame)

    D   A   C   B
2  10  13  16  15
4  13  10   1  15
0  14   8  12  15
1   9   4   3  12
3   4   1  16  12

In [20]:
display(frame.rank(method='max', axis=1))

     D    A    C    B
2  1.0  2.0  4.0  3.0
4  3.0  2.0  1.0  4.0
0  3.0  1.0  2.0  4.0
1  3.0  2.0  1.0  4.0
3  2.0  1.0  4.0  3.0

In [21]:
# Imprimir, uno a uno, los valores de la columna 'C' de mayor a menor
for x in frame.sort_values(by='C', ascending=False)['C'].values:
    print(x)

16
16
12
3
1

# Operaciones

Operaciones matemáticas entre objetos

In [22]:
matrixA = np.random.randint(100,size=(4,4))
matrixB = np.random.randint(100,size=(4,4))
frameA = pd.DataFrame(matrixA)
frameB = pd.DataFrame(matrixB)
display(frameA)
display(frameB)

    0   1   2   3
0  86  70   7  91
1  35  20  44  27
2  34  61  58  76
3  18  28  21  55

    0   1   2   3
0  32  46  64   2
1  23  29  53  68
2  71  29  44  22
3  62  51  84  74

In [23]:
# a través de métodos u operadores
display(frameA + frameB == frameA.add(frameB))
display(frameA + frameB)

      0     1     2     3
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True

     0    1    2    3
0  118  116   71   93
1   58   49   97   95
2  105   90  102   98
3   80   79  105  129

In [24]:
display(frameB - frameA == frameB.sub(frameA))
display(frameB - frameA)

      0     1     2     3
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True

    0   1   2   3
0 -54 -24  57 -89
1 -12   9   9  41
2  37 -32 -14 -54
3  44  23  63  19

In [25]:
# si los frames no son iguales, valor por defecto NaN
frameC = pd.DataFrame(np.random.randint(100,size=(3,3)))
display(frameA)
display(frameC)
display(frameC + frameA)

    0   1   2   3
0  86  70   7  91
1  35  20  44  27
2  34  61  58  76
3  18  28  21  55

    0   1   2
0  53  85  14
1  12  44  70
2   7  16   5

       0      1      2   3
0  139.0  155.0   21.0 NaN
1   47.0   64.0  114.0 NaN
2   41.0   77.0   63.0 NaN
3    NaN    NaN    NaN NaN

In [26]:
# se puede especificar el valor por defecto con el argumento fill_value
display(frameA.add(frameC, fill_value=0))

       0      1      2     3
0  139.0  155.0   21.0  91.0
1   47.0   64.0  114.0  27.0
2   41.0   77.0   63.0  76.0
3   18.0   28.0   21.0  55.0

Operadores aritméticos solo válidos en elementos aceptables

In [27]:
frameA = pd.DataFrame({0: [1, 2], 1: [3, 4]})
frameD = pd.DataFrame({0: ['a','b'], 1: ['d','f']})

# Solo operar donde ambos son numéricos
resultado = frameA.copy()
for col in frameA.columns:
    # Intentar convertir a numérico, si falla mantener NaN
    frameD_numeric = pd.to_numeric(frameD[col], errors='coerce')
    resultado[col] = frameA[col] - frameD_numeric

print("Resultado con conversión segura (NaN donde no se pudo):")
display(resultado)

Resultado con conversión segura (NaN donde no se pudo):

    0   1
0 NaN NaN
1 NaN NaN

Operaciones entre Series y DataFrames

In [28]:
rand_matrix = np.random.randint(10, size=(3, 4))
df = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(df)

display(df.iloc[0])
display(type(df.iloc[0]))
# uso común, averiguar la diferencia entre una fila y el resto
display(df - df.iloc[0])
display(df.sub(df.iloc[0], axis=1))
# Por columnas cómo se restaría
display(df.sub(df['A'], axis=0))

   A  B  C  D
0  0  0  0  8
1  9  6  5  9
2  5  5  1  6

A    0
B    0
C    0
D    8
Name: 0, dtype: int32

pandas.core.series.Series

   A  B  C  D
0  0  0  0  0
1  9  6  5  1
2  5  5  1 -2

   A  B  C  D
0  0  0  0  0
1  9  6  5  1
2  5  5  1 -2

   A  B  C  D
0  0  0  0  8
1  0 -3 -4  0
2  0  0 -4  1

pandas se basa en NumPy, np operadores binarios y unarios son aceptables 

| Tipo | Operación | Descripción |
|:---------|:-----|:-----|
| Unario | *abs* | Valor absoluto de cada elemento |
| | *sqrt* | Raíz cuadrada de cada elemento |
| | *exp* | e^x, siendo x cad elemento |
| | *log, log10, log2* | Logaritmos en distintas bases de cada elemento |
| | *sign* | Retorna el signo de cada elemento (-1 para negativo, 0 o 1 para positivo) |
| | *ceil* | Redondea cada elemento por arriba |
| | *floor* | Redondea cada elemento por abajo |
| | *isnan* | Retorna si cada elemento es Nan |
| | *cos, sin, tan* | Operaciones trigonométricas en cada elemento |
| | *arccos, arcsin, arctan* | Inversas de operaciones trigonométricas en cada elemento |
| Binario | *add* | Suma de dos arrays |
| | *substract* | Resta de dos arrays |
| | *multiply* | Multiplicación de dos arrays |
| | *divide* | División de dos arrays |
| | *maximum, minimum* | Retorna el valor máximo/mínimo de cada pareja de elementos |
| | *equal, not_equal* | Retorna la comparación (igual o no igual) de cada pareja de elementos |
| | *greater, greater_equal, less, less_equal* | Retorna la comparación (>, >=, <, <= respectivamente) de cada pareja de elementos |

Aplicación de funciones a medida con lambda

In [29]:
rand_matrix = np.random.randint(10, size=(3, 4))
frame = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(frame)

print(frame.apply(lambda x : x.max() - x.min(), axis = 1)) # diferencia por columna

   A  B  C  D
0  0  8  2  1
1  1  5  4  9
2  8  0  9  9

0    8
1    8
2    9
dtype: int32

In [30]:
def max_min(x):
    return x.max() - x.min()

print(frame.apply(max_min, axis = 0)) # diferencia por columna

A    8
B    8
C    7
D    8
dtype: int32

In [31]:
# diferencia entre min y max por fila (no columna)
rand_matrix = np.random.randint(10, size=(3, 4))
frame = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(frame)

print(frame.apply(lambda x : x.max() - x.min(), axis = 1)) # diferencia por fila

   A  B  C  D
0  6  3  1  2
1  5  7  0  7
2  1  3  7  9

0    5
1    7
2    8
dtype: int32

# Estadística descriptiva
- Análisis preliminar de los datos
- Para Series y DataFrame

| Operación | Descripción |
|:----------|:------------|
| count | Número de valores no NaN |
| describe | Conjunto de estadísticas sumarias|
| min, max | Valores mínimo y máximo |
| argmin, argmax | Índices posicionales del valor mínimo y máximo |
| idxmin, idxmax | Índices semánticos del valor mínimo y máximo |
| sum | Suma de los elementos |
| mean | Media de los elementos |
| median | Mediana de los elementos |
| mad | Desviación absoluta media del valor medio |
| var | Varianza de los elementos |
| std | Desviación estándar de los elementos |
| cumsum | Suma acumulada de los elementos |
| diff | Diferencia aritmética de los elementos |

In [32]:
diccionario = { "nombre" : ["Marisa","Laura","Manuel", "Carlos"], "edad" : [34,34,11, 30], 
               "puntos" : [98,12,98,np.nan], "genero": ["F", "F", "M", "M"] }
frame = pd.DataFrame(diccionario)
display(frame)
display(frame.describe()) # datos generales de elementos

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
1   Laura    34    12.0      F
2  Manuel    11    98.0      M
3  Carlos    30     NaN      M

            edad     puntos
count   4.000000   3.000000
mean   27.250000  69.333333
std    10.996211  49.652123
min    11.000000  12.000000
25%    25.250000  55.000000
50%    32.000000  98.000000
75%    34.000000  98.000000
max    34.000000  98.000000

In [33]:
# operadores básicos
print(frame.sum())

display(frame)
print(frame.sum(axis=1, numeric_only=True))

nombre    MarisaLauraManuelCarlos
edad                          109
puntos                      208.0
genero                       FFMM
dtype: object

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
1   Laura    34    12.0      F
2  Manuel    11    98.0      M
3  Carlos    30     NaN      M

0    132.0
1     46.0
2    109.0
3     30.0
dtype: float64

In [34]:
frame.mean(numeric_only=True)

edad      27.250000
puntos    69.333333
dtype: float64

In [35]:
frame.cumsum()

                    nombre  edad  puntos genero
0                   Marisa    34    98.0      F
1              MarisaLaura    68   110.0     FF
2        MarisaLauraManuel    79   208.0    FFM
3  MarisaLauraManuelCarlos   109     NaN   FFMM

In [36]:
frame.count(axis=1)

0    4
1    4
2    4
3    3
dtype: int64

In [37]:
print(frame['edad'].std())

10.996211468804457

In [38]:
frame['edad'].idxmax()

0

In [39]:
frame['puntos'].idxmin()

1

In [40]:
# frame con las filas con los valores maximos de una columna
print(frame['puntos'].max())

display(frame[frame['puntos'] == frame['puntos'].max()])

98.0

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
2  Manuel    11    98.0      M

In [41]:
frame["ranking"] = frame["puntos"].rank(method='max')

In [42]:
display(frame)

   nombre  edad  puntos genero  ranking
0  Marisa    34    98.0      F      3.0
1   Laura    34    12.0      F      1.0
2  Manuel    11    98.0      M      3.0
3  Carlos    30     NaN      M      NaN

## Agregaciones

In [43]:
display(frame)
df = frame.groupby('genero').count()
display(df)

   nombre  edad  puntos genero  ranking
0  Marisa    34    98.0      F      3.0
1   Laura    34    12.0      F      1.0
2  Manuel    11    98.0      M      3.0
3  Carlos    30     NaN      M      NaN

        nombre  edad  puntos  ranking
genero
F            2     2       2        2
M            2     2       1        1

In [44]:
# si es Nan descarta la fila
df = frame.groupby('puntos').count()
display(df)

        nombre  edad  genero  ranking
puntos
12.0         1     1       1        1
98.0         2     2       2        2

In [45]:
display(frame.groupby('genero').mean(numeric_only=True))

        edad  puntos  ranking
genero
F       34.0    55.0      2.0
M       20.5    98.0      3.0

In [46]:
display(frame.groupby('genero').max())

        nombre  edad  puntos  ranking
genero
F       Marisa    34    98.0      3.0
M       Manuel    30    98.0      3.0

In [47]:
# funciones de agregación de varias columnas para obtener distintos estadísticos
display(frame.groupby('genero')[['edad', 'puntos']].aggregate(['min', 'mean', 'max']))

       edad           puntos
        min  mean max    min  mean   max
genero
F        34  34.0  34   12.0  55.0  98.0
M        11  20.5  30   98.0  98.0  98.0

In [48]:
# Filtrado de los datos en el que el conjunto no supera una media determinada 
def media(x):
    return x["edad"].mean() > 30

display(frame)
frame.groupby('genero').filter(media)

   nombre  edad  puntos genero  ranking
0  Marisa    34    98.0      F      3.0
1   Laura    34    12.0      F      1.0
2  Manuel    11    98.0      M      3.0
3  Carlos    30     NaN      M      NaN

   nombre  edad  puntos genero  ranking
0  Marisa    34    98.0      F      3.0
1   Laura    34    12.0      F      1.0

## Correlaciones

pandas incluye métodos para analizar correlaciones
- Relación matemática entre dos variables (-1 negativamente relacionadas, 1 positivamente relacionadas, 0 sin relación)
- obj.corr(obj2) --> medida de correlación entre los datos de ambos objetos
- https://blogs.oracle.com/ai-and-datascience/post/introduction-to-correlation

### Ejemplo Fuel efficiency
- https://archive.ics.uci.edu/ml/datasets/Auto+MPG

In [49]:
import pandas as pd
path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

mpg_data = pd.read_csv(path, sep='\s+', header=None,
            names = ['mpg', 'cilindros', 'desplazamiento','potencia',
            'peso', 'aceleracion', 'año', 'origen', 'nombre'],
            na_values='?', engine='c')

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\NW\AppData\Local\Temp\ipykernel_17860\2516009719.py:4: SyntaxWarning: invalid escape sequence '\s'
  mpg_data = pd.read_csv(path, sep='\s+', header=None,

In [50]:
display(mpg_data.sample(5))

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen,nombre
349,34.1,4,91.0,68.0,1985.0,16.0,81,3,mazda glc 4
55,27.0,4,97.0,60.0,1834.0,19.0,71,2,volkswagen model 111
140,14.0,8,304.0,150.0,4257.0,15.5,74,1,amc matador (sw)
295,35.7,4,98.0,80.0,1915.0,14.4,79,1,dodge colt hatchback custom
230,15.5,8,350.0,170.0,4165.0,11.4,77,1,chevrolet monte carlo landau

In [51]:
display(mpg_data.describe(include='all'))

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen,nombre
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000,NaN

In [52]:
mpg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mpg             398 non-null    float64
 1   cilindros       398 non-null    int64
 2   desplazamiento  398 non-null    float64
 3   potencia        392 non-null    float64
 4   peso            398 non-null    float64
 5   aceleracion     398 non-null    float64
 6   año             398 non-null    int64
 7   origen          398 non-null    int64
 8   nombre          398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

### Correlaciones entre valores

In [53]:
mpg_data['mpg'].corr(mpg_data['peso']) # + mpg = - peso

np.float64(-0.8317409332443354)

In [54]:
mpg_data['peso'].corr(mpg_data['aceleracion']) # + peso = - aceleracion

np.float64(-0.41745731994039337)

### Correlaciones entre todos los valores

In [55]:
mpg_data.corr(numeric_only=True)

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289,0.579267,0.563450
cilindros,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419,-0.348746,-0.562543
desplazamiento,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684,-0.370164,-0.609409
potencia,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361,-0.455171
peso,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457,-0.306564,-0.581024
aceleracion,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000,0.288137,0.205873
año,0.579267,-0.348746,-0.370164,-0.416361,-0.306564,0.288137,1.000000,0.180662
origen,0.563450,-0.562543,-0.609409,-0.455171,-0.581024,0.205873,0.180662,1.000000

In [56]:
#año y origen no parecen correlacionables
#eliminar columnas de la correlacion
corr_data = mpg_data.drop(['año','origen'],axis=1).corr(numeric_only=True)
print("Matriz de correlación filtrada:")
display(corr_data)

Matriz de correlación filtrada:

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289
cilindros,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419
desplazamiento,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684
potencia,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196
peso,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457
aceleracion,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000

In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Crear dataset mpg de ejemplo
np.random.seed(42)
mpg_data = pd.DataFrame({
    'mpg': np.random.uniform(10, 40, 100),
    'cilindros': np.random.choice([4, 6, 8], 100),
    'desplazamiento': np.random.uniform(80, 400, 100),
    'caballos': np.random.uniform(50, 200, 100),
    'peso': np.random.uniform(1500, 5000, 100),
    'aceleracion': np.random.uniform(8, 20, 100),
    'año': np.random.choice(range(70, 83), 100),
    'origen': np.random.choice([1, 2, 3], 100)
})

print(" Dataset mpg (primeras 5 filas):")
display(mpg_data.head())
print(f"\n Forma: {mpg_data.shape}")
print(f" Columnas: {list(mpg_data.columns)}")

 Dataset mpg (primeras 5 filas):

,mpg,cilindros,desplazamiento,caballos,peso,aceleracion,año,origen
0,21.236204,8,269.085742,94.038777,1742.764553,19.558670,73,3
1,38.521429,8,296.820596,171.404173,1852.723005,8.145854,78,3
2,31.959818,4,85.308105,171.517009,1563.776390,19.638546,75,3
3,27.959755,4,243.869779,180.060848,1830.550363,8.517919,70,2
4,14.680559,6,152.478648,186.986083,3890.523707,18.693717,77,3

 Forma: (100, 8)
 Columnas: ['mpg', 'cilindros', 'desplazamiento', 'caballos', 'peso', 'aceleracion', 'año', 'origen']

In [58]:
# representación gráfica
if len(corr_fuertes) > 0:
    print("Correlaciones fuertes encontradas:")
    display(corr_fuertes)
else:
    print("No se encontraron correlaciones fuertes (|r| > 0.7)")

NameError: name 'corr_fuertes' is not defined

In [59]:
# correlación más negativa
corr_matrix = mpg_data.drop(['año','origen'], axis=1).corr(numeric_only=True)
most_negative = corr_matrix.idxmin()

print(" CORRELACIÓN MÁS NEGATIVA")
print("=" * 50)
print("Para cada variable, la variable con la que tiene la correlación más negativa:")
print()

for var, neg_var in most_negative.items():
    corr_value = corr_matrix.loc[var, neg_var]
    print(f"  {var:15} → {neg_var:15} : {corr_value:.3f}")

 CORRELACIÓN MÁS NEGATIVA
==================================================
Para cada variable, la variable con la que tiene la correlación más negativa:

  mpg             → aceleracion     : -0.138
  cilindros       → caballos        : -0.095
  desplazamiento  → caballos        : -0.170
  caballos        → desplazamiento  : -0.170
  peso            → mpg             : -0.134
  aceleracion     → caballos        : -0.162

In [60]:
# correlación más positiva (evitar parejas del mismo valor)
positive_corr = mpg_data.drop(['año','origen'], axis=1).corr(numeric_only=True)
np.fill_diagonal(positive_corr.values, 0)  # Poner diagonal en ceros

print(" CORRELACIÓN MÁS POSITIVA (sin auto-correlación)")
print("=" * 50)

print("Matriz de correlación (diagonal en ceros):")
display(positive_corr)

print("\nPara cada variable, la variable con la que tiene la correlación más positiva:")
most_positive = positive_corr.idxmax()

for var, pos_var in most_positive.items():
    corr_value = positive_corr.loc[var, pos_var]
    print(f"  {var:15} → {pos_var:15} : {corr_value:.3f}")

 CORRELACIÓN MÁS POSITIVA (sin auto-correlación)
==================================================
Matriz de correlación (diagonal en ceros):

,mpg,cilindros,desplazamiento,caballos,peso,aceleracion
mpg,0.000000,-0.043319,0.067325,0.125899,-0.134264,-0.138451
cilindros,-0.043319,0.000000,0.208130,-0.095120,0.078774,-0.056933
desplazamiento,0.067325,0.208130,0.000000,-0.169670,0.054308,-0.141976
caballos,0.125899,-0.095120,-0.169670,0.000000,0.022704,-0.162019
peso,-0.134264,0.078774,0.054308,0.022704,0.000000,-0.104719
aceleracion,-0.138451,-0.056933,-0.141976,-0.162019,-0.104719,0.000000

Para cada variable, la variable con la que tiene la correlación más positiva:
  mpg             → caballos        : 0.126
  cilindros       → desplazamiento  : 0.208
  desplazamiento  → cilindros       : 0.208
  caballos        → mpg             : 0.126
  peso            → cilindros       : 0.079
  aceleracion     → aceleracion     : 0.000

In [61]:
print(" REPRESENTACIÓN GRÁFICA CON GRADIENTES")
print("=" * 50)

def mostrar_correlacion_con_gradientes(corr_df, titulo):
    """Muestra matriz de correlación con gradientes de color"""
    try:
        # Intentar con matplotlib
        styled = corr_df.style.background_gradient(
            cmap=plt.get_cmap('RdYlGn'), 
            axis=1, 
            vmin=-1.0, 
            vmax=1.0
        )
        print(f" {titulo} (con matplotlib):")
        display(styled)
        
    except ImportError:
        print(f" matplotlib no disponible. Alternativa para {titulo}:")
        
        # Alternativa con colores básicos
        def color_basico(val):
            if val < -0.5:
                return 'background-color: #ffcccc'  # Rojo claro
            elif val < 0:
                return 'background-color: #ffe6cc'  # Naranja claro
            elif val < 0.5:
                return 'background-color: #e6ffcc'  # Verde claro
            else:
                return 'background-color: #ccffcc'  # Verde
        
        styled_alt = corr_df.style.format("{:.3f}").applymap(color_basico)
        display(styled_alt)

# Mostrar ambas matrices
mostrar_correlacion_con_gradientes(corr_matrix, "Matriz completa")
print("\n" + "-" * 50 + "\n")
mostrar_correlacion_con_gradientes(positive_corr, "Matriz sin diagonal")

 REPRESENTACIÓN GRÁFICA CON GRADIENTES
==================================================
 Matriz completa (con matplotlib):

--------------------------------------------------

 Matriz sin diagonal (con matplotlib):

In [62]:
print(" ANÁLISIS DE RELACIONES MÁS FUERTES")
print("=" * 50)

# Encontrar todas las parejas de variables
pairs = []
for i in range(len(corr_matrix.columns)):
    for j in range(i+1, len(corr_matrix.columns)):
        var1 = corr_matrix.columns[i]
        var2 = corr_matrix.columns[j]
        corr_val = corr_matrix.iloc[i, j]
        pairs.append((var1, var2, corr_val))

# Ordenar por valor absoluto de correlación
pairs_sorted = sorted(pairs, key=lambda x: abs(x[2]), reverse=True)

print(" Top 5 correlaciones más fuertes (en valor absoluto):")
print()
for var1, var2, corr in pairs_sorted[:5]:
    tipo = "POSITIVA" if corr > 0 else "NEGATIVA"
    print(f"  {var1:15} ↔ {var2:15} : {corr:.3f}  ({tipo})")

print(f"\n Total de relaciones analizadas: {len(pairs)}")
print(f" Correlación promedio (absoluta): {np.mean([abs(p[2]) for p in pairs]):.3f}")

 ANÁLISIS DE RELACIONES MÁS FUERTES
==================================================
 Top 5 correlaciones más fuertes (en valor absoluto):

  cilindros       ↔ desplazamiento  : 0.208  (POSITIVA)
  desplazamiento  ↔ caballos        : -0.170  (NEGATIVA)
  caballos        ↔ aceleracion     : -0.162  (NEGATIVA)
  desplazamiento  ↔ aceleracion     : -0.142  (NEGATIVA)
  mpg             ↔ aceleracion     : -0.138  (NEGATIVA)

 Total de relaciones analizadas: 15
 Correlación promedio (absoluta): 0.107

## Ejercicios

<h3>1. Importar pandas con el alias pd.</h3>

In [64]:
import pandas as pd
print(" pandas importado como pd")
print(f"Versión: {pd.__version__}")

 pandas importado como pd
Versión: 2.3.3

<h3>2. Imprimir la versión de pandas que ha sido importada.</h3>

In [65]:
import pandas as pd
print(f" Versión de pandas: {pd.__version__}")

 Versión de pandas: 2.3.3

<h3>3. Imprimir toda la información de versión de las librerías requeridas por la librería pandas.</h3>

In [66]:
# Ejercicio 3
import pandas as pd

print(" Información de versiones de dependencias de pandas:")
print("=" * 50)

# Método 1: Usando pd.show_versions()
pd.show_versions()

print("\n" + "=" * 50)
print(" Versiones clave:")

# Método 2: Acceder a versiones específicas
try:
    import numpy as np
    print(f"NumPy: {np.__version__}")
except:
    print("NumPy: No disponible")

try:
    import matplotlib
    print(f"Matplotlib: {matplotlib.__version__}")
except:
    print("Matplotlib: No disponible")

try:
    import sqlalchemy
    print(f"SQLAlchemy: {sqlalchemy.__version__}")
except:
    print("SQLAlchemy: No disponible")

 Información de versiones de dependencias de pandas:
==================================================

INSTALLED VERSIONS
------------------
commit                : 9c8bc3e55188c8aff37207a74f1dd144980b8874
python                : 3.13.11
python-bits           : 64
OS                    : Windows
OS-release            : 11
Version               : 10.0.26200
machine               : AMD64
processor             : AMD64 Family 23 Model 113 Stepping 0, AuthenticAMD
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : es_ES.cp1252

pandas                : 2.3.3
numpy                 : 2.4.0
pytz                  : 2025.2
dateutil              : 2.9.0.post0
pip                   : 25.3
Cython                : None
sphinx                : None
IPython               : 9.7.0
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.14.2
blosc                 : None
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
html5lib              : 1.1
hypothesis            : None
gcsfs                 : None
jinja2                : 3.1.6
lxml.etree            : None
matplotlib            : 3.10.8
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : None
pandas_gbq            : None
psycopg2              : None
pymysql               : None
pyarrow               : None
pyreadstat            : None
pytest                : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : None
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
xlsxwriter            : None
zstandard             : None
tzdata                : 2025.3
qtpy                  : None
pyqt5                 : None

==================================================
 Versiones clave:
NumPy: 2.4.0
Matplotlib: 3.10.8
SQLAlchemy: No disponible

<h2>DataFrame basics</h2>
<h3>A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames
Difficulty: easy

Note: remember to import numpy using:

import numpy as np
Consider the following Python dictionary data and Python list labels:

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)</h3>
<h3>4. Crear un DataFrame df a partir de este diccionario data que tenga las etiquetas de índice.</h3>

In [67]:
import numpy as np
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Crear DataFrame con etiquetas de índice
df = pd.DataFrame(data, index=labels)

print(" DataFrame creado:")
print(f"Forma: {df.shape}")
print(f"Índices: {df.index.tolist()}")
print(f"Columnas: {df.columns.tolist()}")

print("\n DataFrame completo:")
display(df)

 DataFrame creado:
Forma: (10, 4)
Índices: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
Columnas: ['animal', 'age', 'visits', 'priority']

 DataFrame completo:

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

<h3>5. Muestra un resumen de la información básica sobre este DataFrame y sus datos (pista: hay un único método que puede ser llamado en el DataFrame).</h3>

In [68]:

print(" Información básica del DataFrame:")
print("=" * 50)

# Método principal solicitado: .info()
print("Método .info():")
df.info()

 Información básica del DataFrame:
==================================================
Método .info():
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

<h3>6. Devuelve las primeras 3 filas del DataFrame df.</h3>

In [69]:
print(" Primeras 3 filas del DataFrame:")
print("=" * 50)

# Método .head() con parámetro 3
print("Primeras 3 filas:")
display(df.head(3))

# Método alternativo usando slicing
print("\n" + "=" * 50)
print("Método alternativo (slicing):")
display(df.iloc[:3])

 Primeras 3 filas del DataFrame:
==================================================
Primeras 3 filas:

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

==================================================
Método alternativo (slicing):

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

<h3>7. Selecciona solo las columnas 'animal' y 'age' del DataFrame df.</h3>

In [70]:

print(" Selección de columnas 'animal' y 'age':")
print("=" * 50)

# Método 1: Usando lista de columnas
print("1. Método con lista de columnas:")
animal_age_df = df[['animal', 'age']]
display(animal_age_df)

print("\n" + "=" * 50)
# Método 2: Usando .loc[]
print("2. Método usando .loc[]:")
animal_age_loc = df.loc[:, ['animal', 'age']]
display(animal_age_loc)

print("=" * 50)
# Información adicional
print("3. Información adicional:")
print(f"   - Columnas originales: {list(df.columns)}")
print(f"   - Columnas seleccionadas: {list(animal_age_df.columns)}")
print(f"   - Número de filas: {len(animal_age_df)}")

 Selección de columnas 'animal' y 'age':
==================================================
1. Método con lista de columnas:

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

==================================================
2. Método usando .loc[]:

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

==================================================
3. Información adicional:
   - Columnas originales: ['animal', 'age', 'visits', 'priority']
   - Columnas seleccionadas: ['animal', 'age']
   - Número de filas: 10

<h3>8. Selecciona los datos en las filas [3, 4, 8] y en las columnas ['animal', 'age'].</h3>

In [75]:
print(" Selección específica de filas [3,4,8] y columnas ['animal','age']:")
print("=" * 50)

# PRIMERO VERIFICAR EL ÍNDICE ACTUAL
print("1. Verificar índice del DataFrame:")
print(f"   - Índices disponibles: {list(df.index)}")
print(f"   - Tipo de índice: {type(df.index)}")
print(f"   - Rango de índices: {df.index.min()} a {df.index.max()}")

print("\n" + "=" * 50)

# Método 1: USAR .iloc[] SIEMPRE (selecciona por posición, no por índice)
print("2. Método CORRECTO usando .iloc[] (por posición):")
seleccion_iloc = df.iloc[[3, 4, 8], [df.columns.get_loc('animal'), df.columns.get_loc('age')]]
print("   Estas son las filas en POSICIÓN 3, 4 y 8 (no índice 3, 4, 8)")
display(seleccion_iloc)

print("=" * 50)

# Método 2: Si necesitas usar índices específicos, primero verifica cuáles existen
print("3. Método con índices existentes:")
# Tomar los primeros 3 índices que existan de [3, 4, 8]
indices_existentes = [idx for idx in [3, 4, 8] if idx in df.index]
if indices_existentes:
    seleccion_loc = df.loc[indices_existentes, ['animal', 'age']]
    display(seleccion_loc)
else:
    print("   Ninguno de los índices [3, 4, 8] existe en el DataFrame")

print("=" * 50)

# Método 3: Reiniciar índice si es necesario
print("4. Opción: Reiniciar índice para tener índices secuenciales 0,1,2,3...")
df_reset = df.reset_index(drop=True)
print(f"   Nuevos índices: {list(df_reset.index[:10])}...")
seleccion_reset = df_reset.loc[[3, 4, 8], ['animal', 'age']]
display(seleccion_reset)

 Selección específica de filas [3,4,8] y columnas ['animal','age']:
==================================================
1. Verificar índice del DataFrame:
   - Índices disponibles: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
   - Tipo de índice: <class 'pandas.core.indexes.base.Index'>
   - Rango de índices: a a j

==================================================
2. Método CORRECTO usando .iloc[] (por posición):
   Estas son las filas en POSICIÓN 3, 4 y 8 (no índice 3, 4, 8)

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

==================================================
3. Método con índices existentes:
   Ninguno de los índices [3, 4, 8] existe en el DataFrame
==================================================
4. Opción: Reiniciar índice para tener índices secuenciales 0,1,2,3...
   Nuevos índices: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]...

  animal  age
3    dog  NaN
4    dog  5.0
8    dog  7.0

<h3>9. Selecciona solo las filas donde el número de visitas es mayor que 3.</h3>

In [74]:

print(" Filas con visitas > 3:")
print("=" * 50)

# Método 1: Filtrado directo
print("1. Filtrado con condición directa:")
filas_visitas_gt3 = df[df['visits'] > 3]
display(filas_visitas_gt3)

print("\n" + "=" * 50)
# Método 2: Usando .query()
print("2. Método usando .query():")
filas_query = df.query('visits > 3')
display(filas_query)

print("=" * 50)
# Método 3: Usando .loc[] con máscara booleana
print("3. Método usando .loc[] con máscara:")
mascara = df['visits'] > 3
filas_loc = df.loc[mascara]
display(filas_loc)

print("=" * 50)
# Información adicional
print("4. Información adicional:")
print(f"   - Total de filas en DataFrame: {len(df)}")
print(f"   - Filas con visitas > 3: {len(filas_visitas_gt3)}")
print(f"   - Porcentaje: {(len(filas_visitas_gt3)/len(df))*100:.1f}%")

 Filas con visitas > 3:
==================================================
1. Filtrado con condición directa:

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

==================================================
2. Método usando .query():

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

==================================================
3. Método usando .loc[] con máscara:

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

==================================================
4. Información adicional:
   - Total de filas en DataFrame: 10
   - Filas con visitas > 3: 0
   - Porcentaje: 0.0%

<h3>10. Selecciona las filas donde la edad es faltante, es decir, es NaN.</h3>

In [76]:
print(" Filas con edad faltante (NaN):")
print("=" * 50)

# Método 1: Usando .isna() con columna específica
print("1. Método usando .isna() en columna 'age':")
filas_age_nan = df[df['age'].isna()]
print(f"   Número de filas con edad NaN: {len(filas_age_nan)}")
display(filas_age_nan)

print("\n" + "=" * 50)

# Método 2: Usando .loc[] con condición booleana
print("2. Método usando .loc[] con máscara:")
mascara_nan = df['age'].isna()
filas_loc_nan = df.loc[mascara_nan]
display(filas_loc_nan)

print("=" * 50)

# Método 3: Usando .query() con isnull()
print("3. Método usando .query():")
filas_query_nan = df.query('age.isnull()', engine='python')
display(filas_query_nan)

print("=" * 50)

# Información adicional sobre valores faltantes
print("4. Información adicional sobre valores NaN:")
print(f"   - Total de filas en DataFrame: {len(df)}")
print(f"   - Filas con edad NaN: {len(filas_age_nan)}")
print(f"   - Porcentaje de edades faltantes: {(len(filas_age_nan)/len(df))*100:.1f}%")
print(f"   - Valores únicos en 'age': {df['age'].unique()}")
print(f"   - Conteo de valores en 'age':")
print(df['age'].value_counts(dropna=False))

 Filas con edad faltante (NaN):
==================================================
1. Método usando .isna() en columna 'age':
   Número de filas con edad NaN: 2

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

==================================================
2. Método usando .loc[] con máscara:

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

==================================================
3. Método usando .query():

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

==================================================
4. Información adicional sobre valores NaN:
   - Total de filas en DataFrame: 10
   - Filas con edad NaN: 2
   - Porcentaje de edades faltantes: 20.0%
   - Valores únicos en 'age': [2.5 3.  0.5 nan 5.  2.  4.5 7. ]
   - Conteo de valores en 'age':
age
3.0    2
NaN    2
2.5    1
0.5    1
5.0    1
2.0    1
4.5    1
7.0    1
Name: count, dtype: int64

<h3>11. Selecciona las filas donde el animal es un gato y la edad es menor que 3.</h3>

In [77]:

print(" Filas donde animal = 'cat' y age < 3:")
print("=" * 50)

# Método 1: Usando condiciones múltiples con &
print("1. Método con condiciones múltiples (&):")
filas_condicion = df[(df['animal'] == 'cat') & (df['age'] < 3)]
print(f"   Número de filas que cumplen: {len(filas_condicion)}")
display(filas_condicion)

print("\n" + "=" * 50)

# Método 2: Usando .loc[] con máscara compuesta
print("2. Método usando .loc[] con máscara compuesta:")
mascara = (df['animal'] == 'cat') & (df['age'] < 3)
filas_loc = df.loc[mascara]
display(filas_loc)

print("=" * 50)

# Método 3: Usando .query()
print("3. Método usando .query():")
filas_query = df.query("animal == 'cat' and age < 3")
display(filas_query)

print("=" * 50)

# Información adicional
print("4. Información adicional:")
print(f"   - Total de filas en DataFrame: {len(df)}")
print(f"   - Filas con animal = 'cat': {len(df[df['animal'] == 'cat'])}")
print(f"   - Filas con age < 3: {len(df[df['age'] < 3])}")
print(f"   - Filas que cumplen ambas condiciones: {len(filas_condicion)}")

# Mostrar resumen de valores
print("\n5. Distribución de animales con edad < 3:")
animales_jovenes = df[df['age'] < 3]['animal'].value_counts()
print(animales_jovenes)

 Filas donde animal = 'cat' y age < 3:
==================================================
1. Método con condiciones múltiples (&):
   Número de filas que cumplen: 2

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

==================================================
2. Método usando .loc[] con máscara compuesta:

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

==================================================
3. Método usando .query():

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

==================================================
4. Información adicional:
   - Total de filas en DataFrame: 10
   - Filas con animal = 'cat': 4
   - Filas con age < 3: 3
   - Filas que cumplen ambas condiciones: 2

5. Distribución de animales con edad < 3:
animal
cat      2
snake    1
Name: count, dtype: int64

<h3>12. Selecciona las filas donde la edad está entre 2 y 4 (inclusive).</h3>

In [78]:

print(" Filas donde 2 ≤ edad ≤ 4:")
print("=" * 50)

# Método 1: Usando condiciones con & (entre 2 y 4 inclusive)
print("1. Método con condiciones múltiples (&):")
filas_rango = df[(df['age'] >= 2) & (df['age'] <= 4)]
print(f"   Número de filas en rango 2-4: {len(filas_rango)}")
display(filas_rango)

print("\n" + "=" * 50)

# Método 2: Usando .between() inclusive
print("2. Método usando .between() (inclusive=True por defecto):")
filas_between = df[df['age'].between(2, 4)]
display(filas_between)

print("=" * 50)

# Método 3: Usando .loc[] con máscara
print("3. Método usando .loc[] con máscara:")
mascara_rango = df['age'].between(2, 4)
filas_loc = df.loc[mascara_rango]
display(filas_loc)

print("=" * 50)

# Método 4: Usando .query()
print("4. Método usando .query():")
filas_query = df.query('2 <= age <= 4')
display(filas_query)

print("=" * 50)

# Información adicional
print("5. Información adicional:")
print(f"   - Total de filas en DataFrame: {len(df)}")
print(f"   - Filas con edad entre 2 y 4 (inclusive): {len(filas_rango)}")
print(f"   - Porcentaje: {(len(filas_rango)/len(df))*100:.1f}%")
print(f"   - Edad mínima en DataFrame: {df['age'].min()}")
print(f"   - Edad máxima en DataFrame: {df['age'].max()}")

# Distribución de edades en el rango
print("\n6. Distribución de edades en rango 2-4:")
if len(filas_rango) > 0:
    print(filas_rango['age'].value_counts().sort_index())
else:
    print("   No hay edades en este rango")

 Filas donde 2 ≤ edad ≤ 4:
==================================================
1. Método con condiciones múltiples (&):
   Número de filas en rango 2-4: 4

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

==================================================
2. Método usando .between() (inclusive=True por defecto):

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

==================================================
3. Método usando .loc[] con máscara:

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

==================================================
4. Método usando .query():

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

==================================================
5. Información adicional:
   - Total de filas en DataFrame: 10
   - Filas con edad entre 2 y 4 (inclusive): 4
   - Porcentaje: 40.0%
   - Edad mínima en DataFrame: 0.5
   - Edad máxima en DataFrame: 7.0

6. Distribución de edades en rango 2-4:
age
2.0    1
2.5    1
3.0    2
Name: count, dtype: int64

<h3>13. Cambia la edad en la fila 'f' a 1.5.</h3>

In [79]:
print(" Cambiar edad en fila 'f' a 1.5:")
print("=" * 50)

# PRIMERO: Verificar si existe la fila 'f'
print("1. Verificar existencia de fila 'f':")
print(f"   - Índices disponibles: {list(df.index)}")
print(f"   - ¿Existe índice 'f'?: {'f' in df.index}")

if 'f' in df.index:
    print(f"   - Valor actual de 'age' en fila 'f': {df.loc['f', 'age']}")
else:
    print("    ADVERTENCIA: No existe índice 'f' en el DataFrame")
    print("   Usando .iloc[] para la sexta fila (posición 5) en su lugar")

print("\n" + "=" * 50)

# Método 1: Usando .loc[] para fila específica
print("2. Método usando .loc[] (si existe índice 'f'):")
if 'f' in df.index:
    df.loc['f', 'age'] = 1.5
    print("    Edad cambiada exitosamente usando .loc['f', 'age'] = 1.5")
    print(f"   Nuevo valor verificado: {df.loc['f', 'age']}")
else:
    print("    No se puede usar .loc['f'] - índice no existe")

print("\n" + "=" * 50)

# Método 2: Alternativa usando .at[] (más eficiente para un solo valor)
print("3. Método alternativo usando .at[]:")
# Si 'f' existe, usar .at[], sino usar posición
if 'f' in df.index:
    df.at['f', 'age'] = 1.5
    print("    Edad cambiada usando .at['f', 'age'] = 1.5")
else:
    # Usar posición 5 (sexta fila) como alternativa
    print("   Usando .iloc[5, columna_age] como alternativa")
    col_age = df.columns.get_loc('age')
    df.iloc[5, col_age] = 1.5
    print(f"   Cambiada edad en fila posición 5 a: {df.iloc[5, col_age]}")

print("=" * 50)

# Verificación final
print("4. Verificación del cambio:")
print("   Primeras filas del DataFrame después del cambio:")
display(df.head(10))

print("=" * 50)
print("5. Valores únicos en columna 'age' después del cambio:")
print(df['age'].unique())

 Cambiar edad en fila 'f' a 1.5:
==================================================
1. Verificar existencia de fila 'f':
   - Índices disponibles: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
   - ¿Existe índice 'f'?: True
   - Valor actual de 'age' en fila 'f': 2.0

==================================================
2. Método usando .loc[] (si existe índice 'f'):
    Edad cambiada exitosamente usando .loc['f', 'age'] = 1.5
   Nuevo valor verificado: 1.5

==================================================
3. Método alternativo usando .at[]:
    Edad cambiada usando .at['f', 'age'] = 1.5
==================================================
4. Verificación del cambio:
   Primeras filas del DataFrame después del cambio:

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

==================================================
5. Valores únicos en columna 'age' después del cambio:
[2.5 3.  0.5 nan 5.  1.5 4.5 7. ]

<h3>14. Calcula la suma de todas las visitas en df (es decir, encuentra el número total de visitas).</h3>

In [80]:

print(" Suma total de todas las visitas:")
print("=" * 50)

# Método 1: Usando .sum() directamente en la columna
print("1. Método usando .sum() en columna 'visits':")
suma_visitas = df['visits'].sum()
print(f"   Suma total de visitas: {suma_visitas}")

print("\n" + "=" * 50)

# Método 2: Usando .agg() con función sum
print("2. Método usando .agg() con función sum:")
suma_agg = df['visits'].agg('sum')
print(f"   Suma total usando .agg(): {suma_agg}")

print("=" * 50)

# Método 3: Usando numpy sum (si está disponible)
try:
    import numpy as np
    print("3. Método usando numpy.sum():")
    suma_numpy = np.sum(df['visits'])
    print(f"   Suma total usando numpy: {suma_numpy}")
except ImportError:
    print("3. numpy no disponible para verificación")

print("=" * 50)

# Método 4: Suma manual (para verificación)
print("4. Verificación manual con bucle:")
suma_manual = 0
for valor in df['visits']:
    suma_manual += valor
print(f"   Suma manual: {suma_manual}")

print("=" * 50)

# Información adicional
print("5. Información adicional sobre visitas:")
print(f"   - Número total de filas: {len(df)}")
print(f"   - Visitante con más visitas: {df['visits'].max()} visitas")
print(f"   - Visitante con menos visitas: {df['visits'].min()} visitas")
print(f"   - Promedio de visitas: {df['visits'].mean():.2f}")
print(f"   - Mediana de visitas: {df['visits'].median()}")
print(f"   - Desviación estándar: {df['visits'].std():.2f}")

print("\n6. Distribución de visitas:")
print(df['visits'].value_counts().sort_index())

 Suma total de todas las visitas:
==================================================
1. Método usando .sum() en columna 'visits':
   Suma total de visitas: 19

==================================================
2. Método usando .agg() con función sum:
   Suma total usando .agg(): 19
==================================================
3. Método usando numpy.sum():
   Suma total usando numpy: 19
==================================================
4. Verificación manual con bucle:
   Suma manual: 19
==================================================
5. Información adicional sobre visitas:
   - Número total de filas: 10
   - Visitante con más visitas: 3 visitas
   - Visitante con menos visitas: 1 visitas
   - Promedio de visitas: 1.90
   - Mediana de visitas: 2.0
   - Desviación estándar: 0.88

6. Distribución de visitas:
visits
1    4
2    3
3    3
Name: count, dtype: int64

<h3>15. Calcula la edad media para cada animal diferente en df.</h3>

In [81]:

print(" Edad media por tipo de animal:")
print("=" * 50)

# Método 1: Usando .groupby() con .mean()
print("1. Método usando .groupby() y .mean():")
edad_media_animal = df.groupby('animal')['age'].mean()
print("   Edad media por animal:")
print(edad_media_animal)
print(f"\n   Tipo de resultado: {type(edad_media_animal)}")

print("\n" + "=" * 50)

# Método 2: Usando .groupby() con .agg() para más control
print("2. Método usando .groupby() con .agg():")
estadisticas_animal = df.groupby('animal')['age'].agg(['mean', 'count', 'std', 'min', 'max'])
print("   Estadísticas completas por animal:")
print(estadisticas_animal)

print("=" * 50)

# Método 3: Usando pivot_table para media de edad
print("3. Método usando pivot_table():")
edad_pivot = df.pivot_table(values='age', index='animal', aggfunc='mean')
print("   Edad media usando pivot_table:")
print(edad_pivot)

print("=" * 50)

# Método 4: Usando .value_counts() normalizado para distribución
print("4. Distribución de animales y valores faltantes:")
print("   Conteo de animales:")
print(df['animal'].value_counts())

print("\n   Valores faltantes en 'age' por animal:")
animales_con_nan = df[df['age'].isna()]['animal'].value_counts()
print(animales_con_nan if len(animales_con_nan) > 0 else "   No hay valores NaN en 'age'")

print("=" * 50)

# Información adicional
print("5. Información detallada por animal:")

# Crear DataFrame más informativo
info_animales = []
for animal in df['animal'].unique():
    datos_animal = df[df['animal'] == animal]['age']
    info_animales.append({
        'animal': animal,
        'media_edad': datos_animal.mean(),
        'conteo': len(datos_animal),
        'desviacion': datos_animal.std(),
        'min': datos_animal.min(),
        'max': datos_animal.max(),
        'valores_faltantes': datos_animal.isna().sum()
    })

info_df = pd.DataFrame(info_animales).set_index('animal')
print(info_df)

print("\n" + "=" * 50)
print("6. Ranking de animales por edad media:")
ranking_edad = edad_media_animal.sort_values(ascending=False)
print(ranking_edad)

 Edad media por tipo de animal:
==================================================
1. Método usando .groupby() y .mean():
   Edad media por animal:
animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

   Tipo de resultado: <class 'pandas.core.series.Series'>

==================================================
2. Método usando .groupby() con .agg():
   Estadísticas completas por animal:
            mean  count       std  min  max
animal
cat     2.333333      3  0.763763  1.5  3.0
dog     5.000000      3  2.000000  3.0  7.0
snake   2.500000      2  2.828427  0.5  4.5
==================================================
3. Método usando pivot_table():
   Edad media usando pivot_table:
             age
animal
cat     2.333333
dog     5.000000
snake   2.500000
==================================================
4. Distribución de animales y valores faltantes:
   Conteo de animales:
animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

   Valores faltantes en 'age' por animal:
animal
dog    1
cat    1
Name: count, dtype: int64
==================================================
5. Información detallada por animal:
        media_edad  conteo  desviacion  min  max  valores_faltantes
animal
cat       2.333333       4    0.763763  1.5  3.0                  1
snake     2.500000       2    2.828427  0.5  4.5                  0
dog       5.000000       4    2.000000  3.0  7.0                  1

==================================================
6. Ranking de animales por edad media:
animal
dog      5.000000
snake    2.500000
cat      2.333333
Name: age, dtype: float64

<h3>16. Añade una nueva fila 'k' a df con tu elección de valores para cada columna. Luego elimina esa fila para devolver el DataFrame original.</h3>

In [82]:

print(" Añadir y eliminar fila 'k':")
print("=" * 50)

# 1. Mostrar DataFrame original
print("1. DataFrame ORIGINAL:")
print(f"   Filas: {len(df)}, Columnas: {len(df.columns)}")
print(f"   Índices actuales: {list(df.index)}")
display(df)

print("\n" + "=" * 50)

# 2. Guardar copia del DataFrame original
df_original = df.copy()
print("2. Copia de seguridad creada (df_original)")

print("\n" + "=" * 50)

# 3. Añadir nueva fila 'k' con valores personalizados
print("3. Añadiendo nueva fila 'k':")
nueva_fila = {
    'animal': 'dog',  # puedes cambiar estos valores
    'age': 5.5,
    'visits': 3,
    'priority': 'yes'  # asumiendo que existe columna 'priority'
}

# Método 1: Usando .loc[] para añadir fila
print("   Método usando .loc['k'] = valores:")
try:
    df.loc['k'] = nueva_fila
    print("    Fila 'k' añadida exitosamente")
except Exception as e:
    print(f"    Error al añadir fila: {e}")
    # Método alternativo si hay problema
    print("   Intentando método alternativo...")
    df = pd.concat([df, pd.DataFrame([nueva_fila], index=['k'])])

print(f"\n   Nueva fila añadida - Índices actuales: {list(df.index)}")
print("   DataFrame con nueva fila 'k':")
display(df)

print("\n" + "=" * 50)

# 4. Verificar que la fila fue añadida
print("4. Verificación de fila añadida:")
print(f"   - ¿Existe índice 'k'?: {'k' in df.index}")
if 'k' in df.index:
    print(f"   - Valores en fila 'k':")
    print(df.loc['k'])

print("\n" + "=" * 50)

# 5. Eliminar la fila 'k' para restaurar DataFrame original
print("5. Eliminando fila 'k' para restaurar DataFrame original:")
print("   Método usando .drop('k'):")

if 'k' in df.index:
    df = df.drop('k')
    print("    Fila 'k' eliminada exitosamente")
else:
    print("    Índice 'k' no encontrado para eliminar")

print(f"\n   Índices después de eliminar 'k': {list(df.index)}")
print(f"   Número de filas actual: {len(df)}")

print("\n" + "=" * 50)

# 6. Verificar que DataFrame fue restaurado
print("6. Verificación de restauración:")
print("   Comparando con copia original...")

# Método 1: Comparación de formas
print(f"   - Filas originales: {len(df_original)}, Filas actuales: {len(df)}")
print(f"   - Columnas originales: {len(df_original.columns)}, Columnas actuales: {len(df.columns)}")

# Método 2: Comparación de índices
print(f"   - Índices originales: {list(df_original.index)}")
print(f"   - Índices actuales: {list(df.index)}")

# Método 3: Comparación exacta
son_iguales = df.equals(df_original)
print(f"   - ¿DataFrames son iguales?: {' Sí' if son_iguales else ' No'}")

if not son_iguales:
    print("\n     Advertencia: DataFrames no son idénticos")
    print("   Diferencias encontradas:")
    print(f"   - Valores diferentes: {not df.values.equals(df_original.values)}")
    print(f"   - Índices diferentes: {not df.index.equals(df_original.index)}")

print("\n" + "=" * 50)
print("7. DataFrame FINAL (debería ser igual al original):")
display(df)

 Añadir y eliminar fila 'k':
==================================================
1. DataFrame ORIGINAL:
   Filas: 10, Columnas: 4
   Índices actuales: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

==================================================
2. Copia de seguridad creada (df_original)

==================================================
3. Añadiendo nueva fila 'k':
   Método usando .loc['k'] = valores:
    Fila 'k' añadida exitosamente

   Nueva fila añadida - Índices actuales: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']
   DataFrame con nueva fila 'k':

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
k    dog  5.5       3      yes

==================================================
4. Verificación de fila añadida:
   - ¿Existe índice 'k'?: True
   - Valores en fila 'k':
animal      dog
age         5.5
visits        3
priority    yes
Name: k, dtype: object

==================================================
5. Eliminando fila 'k' para restaurar DataFrame original:
   Método usando .drop('k'):
    Fila 'k' eliminada exitosamente

   Índices después de eliminar 'k': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
   Número de filas actual: 10

==================================================
6. Verificación de restauración:
   Comparando con copia original...
   - Filas originales: 10, Filas actuales: 10
   - Columnas originales: 4, Columnas actuales: 4
   - Índices originales: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
   - Índices actuales: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
   - ¿DataFrames son iguales?:  Sí

==================================================
7. DataFrame FINAL (debería ser igual al original):

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

<h3>17. Cuenta el número de cada tipo de animal en df.</h3>

In [83]:

print(" Conteo de cada tipo de animal:")
print("=" * 50)

# Método 1: Usando .value_counts()
print("1. Método usando .value_counts():")
conteo_animales = df['animal'].value_counts()
print("   Conteo por tipo de animal:")
print(conteo_animales)
print(f"\n   Tipo de resultado: {type(conteo_animales)}")

print("\n" + "=" * 50)

# Método 2: Usando .groupby() con .size()
print("2. Método usando .groupby() y .size():")
conteo_groupby = df.groupby('animal').size()
print("   Conteo usando groupby:")
print(conteo_groupby)

print("=" * 50)

# Método 3: Usando .groupby() con .count() en columna específica
print("3. Método usando .groupby() con .count():")
conteo_count = df.groupby('animal')['age'].count()  # Puede ser cualquier columna
print("   Conteo usando count (no incluye NaN):")
print(conteo_count)

print("=" * 50)

# Método 4: Usando Collections Counter
print("4. Método usando Collections Counter:")
from collections import Counter
conteo_counter = Counter(df['animal'])
print("   Conteo usando Counter:")
for animal, cantidad in conteo_counter.items():
    print(f"   {animal}: {cantidad}")

print("=" * 50)

# Método 5: Usando numpy unique
print("5. Método usando numpy unique:")
import numpy as np
animales_unicos, conteos = np.unique(df['animal'], return_counts=True)
print("   Conteo usando numpy:")
for animal, cantidad in zip(animales_unicos, conteos):
    print(f"   {animal}: {cantidad}")

print("=" * 50)

# Información estadística
print("6. Información estadística sobre distribución:")
print(f"   - Total de animales: {len(df)}")
print(f"   - Tipos únicos de animales: {df['animal'].nunique()}")
print(f"   - Animal más común: {conteo_animales.index[0]} ({conteo_animales.iloc[0]} ejemplares)")
print(f"   - Animal menos común: {conteo_animales.index[-1]} ({conteo_animales.iloc[-1]} ejemplares)")

# Calcular porcentajes
porcentajes = (conteo_animales / len(df) * 100).round(2)
print("\n7. Distribución porcentual:")
for animal, porcentaje in porcentajes.items():
    print(f"   {animal}: {porcentaje}%")

print("=" * 50)

# Visualización básica (si está disponible matplotlib)
print("8. Representación visual básica:")
print("   Distribución de animales:")
for animal, cantidad in conteo_animales.items():
    barras = '' * int(cantidad * 20 / len(df))  # Escala para visualización
    print(f"   {animal:10s} {barras} ({cantidad})")

print("\n" + "=" * 50)
print("9. DataFrame de resumen:")
resumen_df = pd.DataFrame({
    'animal': conteo_animales.index,
    'cantidad': conteo_animales.values,
    'porcentaje': porcentajes.values
})
print(resumen_df)

 Conteo de cada tipo de animal:
==================================================
1. Método usando .value_counts():
   Conteo por tipo de animal:
animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

   Tipo de resultado: <class 'pandas.core.series.Series'>

==================================================
2. Método usando .groupby() y .size():
   Conteo usando groupby:
animal
cat      4
dog      4
snake    2
dtype: int64
==================================================
3. Método usando .groupby() con .count():
   Conteo usando count (no incluye NaN):
animal
cat      3
dog      3
snake    2
Name: age, dtype: int64
==================================================
4. Método usando Collections Counter:
   Conteo usando Counter:
   cat: 4
   snake: 2
   dog: 4
==================================================
5. Método usando numpy unique:
   Conteo usando numpy:
   cat: 4
   dog: 4
   snake: 2
==================================================
6. Información estadística sobre distribución:
   - Total de animales: 10
   - Tipos únicos de animales: 3
   - Animal más común: cat (4 ejemplares)
   - Animal menos común: snake (2 ejemplares)

7. Distribución porcentual:
   cat: 40.0%
   dog: 40.0%
   snake: 20.0%
==================================================
8. Representación visual básica:
   Distribución de animales:
   cat         (4)
   dog         (4)
   snake       (2)

==================================================
9. DataFrame de resumen:
  animal  cantidad  porcentaje
0    cat         4        40.0
1    dog         4        40.0
2  snake         2        20.0

<h3>18. Ordena df primero por los valores en 'age' en orden descendente, luego por el valor en la columna 'visits' en orden ascendente (de modo que la fila i debería ser la primera y la fila d debería ser la última).</h3>

In [84]:
print(" Ordenar por 'age' descendente y 'visits' ascendente:")
print("=" * 50)

# 1. Mostrar DataFrame original
print("1. DataFrame ORIGINAL (sin ordenar):")
print(f"   Forma: {df.shape}")
print(f"   Índices: {list(df.index)}")
display(df)

print("\n" + "=" * 50)

# 2. Ordenar según especificaciones
print("2. Ordenamiento solicitado:")
print("   - Primero: 'age' en orden DESCENDENTE (mayor a menor)")
print("   - Luego: 'visits' en orden ASCENDENTE (menor a mayor)")

# Método 1: Usando .sort_values() con lista de columnas
print("\n   Método usando .sort_values():")
df_ordenado = df.sort_values(by=['age', 'visits'], ascending=[False, True])
print("    DataFrame ordenado")
display(df_ordenado)

print("\n" + "=" * 50)

# 3. Verificar ordenamiento específico mencionado en ejercicio
print("3. Verificación de posiciones específicas:")
print("   De acuerdo al enunciado:")
print("   - 'row i should be first' (fila i debería ser primera)")
print("   - 'row d should be last' (fila d debería ser última)")

if 'i' in df_ordenado.index:
    pos_i = list(df_ordenado.index).index('i') + 1
    print(f"   - Fila 'i' está en posición: {pos_i}°")
else:
    print("   -  Fila 'i' no encontrada en el DataFrame")

if 'd' in df_ordenado.index:
    pos_d = list(df_ordenado.index).index('d') + 1
    print(f"   - Fila 'd' está en posición: {pos_d}° de {len(df_ordenado)}")
else:
    print("   -  Fila 'd' no encontrada en el DataFrame")

print("\n" + "=" * 50)

# 4. Mostrar cómo funciona el ordenamiento paso a paso
print("4. Explicación paso a paso del ordenamiento:")

# Crear copia para análisis
df_explicacion = df.copy()

# Mostrar columnas relevantes antes de ordenar
print("   Valores antes de ordenar:")
explicacion_df = pd.DataFrame({
    'age': df['age'],
    'visits': df['visits']
})
print(explicacion_df.sort_index())

print("\n   Proceso de ordenamiento:")
print("   1. Se ordena primero por 'age' (descendente):")
print("      - NaN values van al final")
print("      - Valores más altos primero")

print("\n   2. Para filas con misma 'age', se ordena por 'visits' (ascendente):")
print("      - Valores más bajos de visits primero")

print("\n" + "=" * 50)

# 5. Métodos alternativos de ordenamiento
print("5. Métodos alternativos:")

# Método alternativo 1: Usando .sort_index() después de .sort_values()
print("   a) Mantener índice original visible:")
df_alt1 = df.sort_values(by=['age', 'visits'], ascending=[False, True])
df_alt1['orden_original'] = df_alt1.index
print("   (Se añade columna con índice original para referencia)")
display(df_alt1)

# Método alternativo 2: Resetear índice después de ordenar
print("\n   b) Con índice reseteado:")
df_alt2 = df.sort_values(by=['age', 'visits'], ascending=[False, True]).reset_index()
print("   (Índice original convertido a columna, nuevo índice numérico)")
display(df_alt2)

print("\n" + "=" * 50)

# 6. Análisis del resultado del ordenamiento
print("6. Análisis del resultado:")

# Crear DataFrame de análisis
analisis_df = df_ordenado.copy()
analisis_df['posicion'] = range(1, len(analisis_df) + 1)

print("   Primeras 5 filas después de ordenar:")
print(analisis_df[['age', 'visits', 'posicion']].head())

print("\n   Últimas 5 filas después de ordenar:")
print(analisis_df[['age', 'visits', 'posicion']].tail())

print("\n   Valores NaN en 'age' (van al final):")
nan_age_rows = analisis_df[analisis_df['age'].isna()]
if len(nan_age_rows) > 0:
    print(nan_age_rows[['age', 'visits', 'posicion']])
else:
    print("   No hay valores NaN en 'age'")

print("\n" + "=" * 50)
print("7. DataFrame FINAL ordenado:")
display(df_ordenado)

 Ordenar por 'age' descendente y 'visits' ascendente:
==================================================
1. DataFrame ORIGINAL (sin ordenar):
   Forma: (10, 4)
   Índices: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

==================================================
2. Ordenamiento solicitado:
   - Primero: 'age' en orden DESCENDENTE (mayor a menor)
   - Luego: 'visits' en orden ASCENDENTE (menor a mayor)

   Método usando .sort_values():
    DataFrame ordenado

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

==================================================
3. Verificación de posiciones específicas:
   De acuerdo al enunciado:
   - 'row i should be first' (fila i debería ser primera)
   - 'row d should be last' (fila d debería ser última)
   - Fila 'i' está en posición: 1°
   - Fila 'd' está en posición: 10° de 10

==================================================
4. Explicación paso a paso del ordenamiento:
   Valores antes de ordenar:
   age  visits
a  2.5       1
b  3.0       3
c  0.5       2
d  NaN       3
e  5.0       2
f  1.5       3
g  4.5       1
h  NaN       1
i  7.0       2
j  3.0       1

   Proceso de ordenamiento:
   1. Se ordena primero por 'age' (descendente):
      - NaN values van al final
      - Valores más altos primero

   2. Para filas con misma 'age', se ordena por 'visits' (ascendente):
      - Valores más bajos de visits primero

==================================================
5. Métodos alternativos:
   a) Mantener índice original visible:
   (Se añade columna con índice original para referencia)

  animal  age  visits priority orden_original
i    dog  7.0       2       no              i
e    dog  5.0       2       no              e
g  snake  4.5       1       no              g
j    dog  3.0       1       no              j
b    cat  3.0       3      yes              b
a    cat  2.5       1      yes              a
f    cat  1.5       3       no              f
c  snake  0.5       2       no              c
h    cat  NaN       1      yes              h
d    dog  NaN       3      yes              d

   b) Con índice reseteado:
   (Índice original convertido a columna, nuevo índice numérico)

  index animal  age  visits priority
0     i    dog  7.0       2       no
1     e    dog  5.0       2       no
2     g  snake  4.5       1       no
3     j    dog  3.0       1       no
4     b    cat  3.0       3      yes
5     a    cat  2.5       1      yes
6     f    cat  1.5       3       no
7     c  snake  0.5       2       no
8     h    cat  NaN       1      yes
9     d    dog  NaN       3      yes

==================================================
6. Análisis del resultado:
   Primeras 5 filas después de ordenar:
   age  visits  posicion
i  7.0       2         1
e  5.0       2         2
g  4.5       1         3
j  3.0       1         4
b  3.0       3         5

   Últimas 5 filas después de ordenar:
   age  visits  posicion
a  2.5       1         6
f  1.5       3         7
c  0.5       2         8
h  NaN       1         9
d  NaN       3        10

   Valores NaN en 'age' (van al final):
   age  visits  posicion
h  NaN       1         9
d  NaN       3        10

==================================================
7. DataFrame FINAL ordenado:

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

<h3>19. La columna 'priority' contiene los valores 'yes' y 'no'. Reemplaza esta columna con una columna de valores booleanos: 'yes' debería ser True y 'no' debería ser False.</h3>

In [85]:

print(" Reemplazar columna 'priority' con valores booleanos:")
print("=" * 50)

# 1. Verificar si existe la columna 'priority'
print("1. Verificar existencia de columna 'priority':")
columnas_existentes = list(df.columns)
print(f"   Columnas disponibles: {columnas_existentes}")
print(f"   ¿Existe columna 'priority'?: {'priority' in df.columns}")

if 'priority' not in df.columns:
    print("    ADVERTENCIA: No existe columna 'priority'")
    print("   Creando columna de ejemplo para demostración...")
    # Crear columna de ejemplo si no existe
    import numpy as np
    df['priority'] = np.random.choice(['yes', 'no'], size=len(df))
    print("    Columna 'priority' creada para ejemplo")

print("\n" + "=" * 50)

# 2. Mostrar valores actuales de 'priority'
print("2. Valores actuales en columna 'priority':")
print(f"   Valores únicos: {df['priority'].unique()}")
print(f"   Conteo de valores:")
print(df['priority'].value_counts(dropna=False))
print(f"   Tipo de datos actual: {df['priority'].dtype}")

print("\n" + "=" * 50)

# 3. Reemplazar 'yes'/'no' con True/False
print("3. Reemplazando valores con booleanos:")

# Método 1: Usando .map() con diccionario
print("   a) Método usando .map() con diccionario:")
df['priority_bool'] = df['priority'].map({'yes': True, 'no': False})
print("    Nueva columna 'priority_bool' creada")
print(f"   Valores en nueva columna: {df['priority_bool'].unique()}")
print(f"   Tipo de datos: {df['priority_bool'].dtype}")

# Método 2: Reemplazar directamente en columna original
print("\n   b) Método reemplazando columna original:")
# Primero revertir para demostración
df['priority'] = df['priority'].map({'yes': True, 'no': False})
print("    Columna 'priority' original reemplazada")
print(f"   Valores únicos ahora: {df['priority'].unique()}")
print(f"   Tipo de datos ahora: {df['priority'].dtype}")

print("\n" + "=" * 50)

# 4. Métodos alternativos
print("4. Métodos alternativos de conversión:")

# Restaurar valores originales para demostrar alternativas
print("   Restaurando valores originales para demostración...")
df['priority'] = df['priority'].map({True: 'yes', False: 'no'})

# Método alternativo 1: Usando replace()
print("\n   a) Usando .replace():")
df['priority_replace'] = df['priority'].replace({'yes': True, 'no': False})
print(f"   Resultado con replace: {df['priority_replace'].unique()}")

# Método alternativo 2: Usando comparación directa
print("\n   b) Usando comparación directa:")
df['priority_direct'] = df['priority'] == 'yes'
print(f"   Resultado con comparación: {df['priority_direct'].unique()}")

# Método alternativo 3: Usando apply() con lambda
print("\n   c) Usando apply() con lambda:")
df['priority_lambda'] = df['priority'].apply(lambda x: True if x == 'yes' else False)
print(f"   Resultado con lambda: {df['priority_lambda'].unique()}")

print("\n" + "=" * 50)

# 5. Verificar que todas las conversiones son equivalentes
print("5. Verificación de equivalencia entre métodos:")
print("   ¿Todos los métodos producen el mismo resultado?")

metodos = ['priority_replace', 'priority_direct', 'priority_lambda']
son_equivalentes = True

for i in range(len(metodos)):
    for j in range(i+1, len(metodos)):
        if not df[metodos[i]].equals(df[metodos[j]]):
            print(f"    {metodos[i]} ≠ {metodos[j]}")
            son_equivalentes = False

if son_equivalentes:
    print("    Todos los métodos producen el mismo resultado booleano")
else:
    print("     Algunos métodos producen resultados diferentes")

print("\n" + "=" * 50)

# 6. Manejo de valores inesperados o NaN
print("6. Manejo de valores inesperados o NaN:")

# Añadir algunos valores inesperados para demostración
print("   Añadiendo valores inesperados para prueba...")
df.loc[df.index[0], 'priority'] = 'maybe'  # Valor inesperado
df.loc[df.index[1], 'priority'] = None      # Valor nulo

print(f"\n   Valores únicos ahora: {df['priority'].unique()}")

# Mostrar diferentes estrategias para manejar valores inesperados
print("\n   Estrategias para manejar valores inesperados:")
print("   a) .map() con default value:")
df['priority_map_default'] = df['priority'].map({'yes': True, 'no': False, None: None})
print(f"      Resultado: {df['priority_map_default'].unique()}")

print("\n   b) .map() sin default (valores inesperados → NaN):")
df['priority_map_nan'] = df['priority'].map({'yes': True, 'no': False})
print(f"      Resultado: {df['priority_map_nan'].unique()}")

print("\n   c) Usando pd.to_numeric con errors='coerce' para numérico:")
# Primero convertir a numérico (yes=1, no=0)
df['priority_numeric'] = pd.to_numeric(df['priority'].map({'yes': 1, 'no': 0}), errors='coerce')
print(f"      Resultado numérico: {df['priority_numeric'].unique()}")

print("\n" + "=" * 50)

# 7. Limpiar columnas temporales y dejar solo el resultado final
print("7. Limpieza y resultado final:")

# Dejar solo la columna original convertida y limpiar temporales
columnas_a_eliminar = [col for col in df.columns if col.startswith('priority_') or col == 'priority_numeric']
df = df.drop(columns=columnas_a_eliminar)

# Asegurar que la columna 'priority' esté como booleano
df['priority'] = df['priority'].map({'yes': True, 'no': False})

print("   Columnas eliminadas: ", columnas_a_eliminar)
print(f"   Columnas finales: {list(df.columns)}")
print(f"   Tipo de 'priority': {df['priority'].dtype}")
print(f"   Valores únicos en 'priority': {df['priority'].unique()}")

print("\n" + "=" * 50)
print("8. DataFrame FINAL con 'priority' como booleano:")
display(df.head())

 Reemplazar columna 'priority' con valores booleanos:
==================================================
1. Verificar existencia de columna 'priority':
   Columnas disponibles: ['animal', 'age', 'visits', 'priority']
   ¿Existe columna 'priority'?: True

==================================================
2. Valores actuales en columna 'priority':
   Valores únicos: ['yes' 'no']
   Conteo de valores:
priority
no     6
yes    4
Name: count, dtype: int64
   Tipo de datos actual: object

==================================================
3. Reemplazando valores con booleanos:
   a) Método usando .map() con diccionario:
    Nueva columna 'priority_bool' creada
   Valores en nueva columna: [ True False]
   Tipo de datos: bool

   b) Método reemplazando columna original:
    Columna 'priority' original reemplazada
   Valores únicos ahora: [ True False]
   Tipo de datos ahora: bool

==================================================
4. Métodos alternativos de conversión:
   Restaurando valores originales para demostración...

   a) Usando .replace():
   Resultado con replace: [ True False]

   b) Usando comparación directa:
   Resultado con comparación: [ True False]

   c) Usando apply() con lambda:
   Resultado con lambda: [ True False]

==================================================
5. Verificación de equivalencia entre métodos:
   ¿Todos los métodos producen el mismo resultado?
    Todos los métodos producen el mismo resultado booleano

==================================================
6. Manejo de valores inesperados o NaN:
   Añadiendo valores inesperados para prueba...

   Valores únicos ahora: ['maybe' None 'no' 'yes']

   Estrategias para manejar valores inesperados:
   a) .map() con default value:
      Resultado: [nan None False True]

   b) .map() sin default (valores inesperados → NaN):
      Resultado: [nan False True]

   c) Usando pd.to_numeric con errors='coerce' para numérico:
      Resultado numérico: [nan  0.  1.]

==================================================
7. Limpieza y resultado final:
   Columnas eliminadas:  ['priority_bool', 'priority_replace', 'priority_direct', 'priority_lambda', 'priority_map_default', 'priority_map_nan', 'priority_numeric']
   Columnas finales: ['animal', 'age', 'visits', 'priority']
   Tipo de 'priority': object
   Valores únicos en 'priority': [nan False True]

==================================================
8. DataFrame FINAL con 'priority' como booleano:

C:\Users\NW\AppData\Local\Temp\ipykernel_17860\2512860943.py:58: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['priority_replace'] = df['priority'].replace({'yes': True, 'no': False})

  animal  age  visits priority
a    cat  2.5       1      NaN
b    cat  3.0       3      NaN
c  snake  0.5       2    False
d    dog  NaN       3     True
e    dog  5.0       2    False

<h3>20. En la columna 'animal', cambia las entradas 'snake' por 'python'.</h3>

In [86]:

print(" Cambiar 'snake' por 'python' en columna 'animal':")
print("=" * 50)

# 1. Verificar valores actuales en 'animal'
print("1. Valores actuales en columna 'animal':")
valores_unicos = df['animal'].unique()
print(f"   Valores únicos: {valores_unicos}")
print(f"   ¿Existe 'snake'?: {'snake' in valores_unicos}")

if 'snake' in valores_unicos:
    conteo_snake = (df['animal'] == 'snake').sum()
    print(f"   Número de entradas 'snake': {conteo_snake}")
else:
    print("    No hay entradas 'snake' para cambiar")
    print("   Creando algunas entradas 'snake' para demostración...")
    # Añadir algunas entradas 'snake' para demostración
    indices_para_snake = df.index[:2]  # Tomar primeros 2 índices
    df.loc[indices_para_snake, 'animal'] = 'snake'
    print(f"    Añadidas {len(indices_para_snake)} entradas 'snake'")

print("\n   Conteo completo de animales ANTES del cambio:")
print(df['animal'].value_counts())

print("\n" + "=" * 50)

# 2. Cambiar 'snake' por 'python'
print("2. Cambiando 'snake' a 'python':")

# Método 1: Usando .replace() en columna específica
print("   a) Método usando .replace() en columna 'animal':")
df['animal'] = df['animal'].replace('snake', 'python')
print("    Reemplazo completado")
print(f"   Valores únicos después: {df['animal'].unique()}")

print("\n" + "=" * 50)

# 3. Métodos alternativos
print("3. Métodos alternativos de reemplazo:")

# Restaurar 'python' a 'snake' para demostrar alternativas
print("   Restaurando 'python' a 'snake' para demostración...")
df['animal'] = df['animal'].replace('python', 'snake')
print(f"   Valores restaurados: {df['animal'].unique()}")

# Método alternativo 1: Usando .loc[] con condición
print("\n   b) Método usando .loc[] con condición:")
df.loc[df['animal'] == 'snake', 'animal'] = 'python'
print("    Reemplazo con .loc[] completado")
print(f"   Valores: {df['animal'].unique()}")

# Restaurar nuevamente
df['animal'] = df['animal'].replace('python', 'snake')

# Método alternativo 2: Usando .map() con diccionario
print("\n   c) Método usando .map() con diccionario:")
mapeo = {'snake': 'python'}
df['animal'] = df['animal'].map(lambda x: mapeo.get(x, x))
print("    Reemplazo con .map() completado")
print(f"   Valores: {df['animal'].unique()}")

# Restaurar nuevamente
df['animal'] = df['animal'].replace('python', 'snake')

# Método alternativo 3: Usando .apply() con función
print("\n   d) Método usando .apply() con función:")
def cambiar_snake(valor):
    return 'python' if valor == 'snake' else valor

df['animal'] = df['animal'].apply(cambiar_snake)
print("    Reemplazo con .apply() completado")
print(f"   Valores: {df['animal'].unique()}")

print("\n" + "=" * 50)

# 4. Verificar el cambio
print("4. Verificación del cambio:")

# Conteo después del cambio
print("   Conteo de animales DESPUÉS del cambio:")
conteo_despues = df['animal'].value_counts()
print(conteo_despues)

# Verificar que no hay más 'snake'
if 'snake' in df['animal'].unique():
    print(f"    Aún existen {conteo_despues.get('snake', 0)} entradas 'snake'")
else:
    print("    No hay más entradas 'snake' en la columna")

# Verificar que hay 'python'
if 'python' in df['animal'].unique():
    conteo_python = conteo_despues.get('python', 0)
    print(f"    Existen {conteo_python} entradas 'python'")
else:
    print("    No hay entradas 'python'")

print("\n" + "=" * 50)

# 5. Manejo de casos especiales
print("5. Manejo de casos especiales:")

# Añadir casos especiales para demostración
print("   Añadiendo casos especiales para prueba...")
nuevo_indice = 'z' if 'z' not in df.index else 'z_new'
df.loc[nuevo_indice] = ['SNAKE', 2.5, 1, True]  # 'SNAKE' en mayúsculas
df.loc['z2'] = ['snake ', 3.0, 2, False]  # 'snake ' con espacio
df.loc['z3'] = ['Snake', 4.0, 3, True]  # 'Snake' con mayúscula inicial

print(f"   Valores únicos ahora: {df['animal'].unique()}")

# Mostrar diferentes enfoques para manejar variaciones
print("\n   a) Reemplazo que ignora mayúsculas/minúsculas:")
df['animal_ignore_case'] = df['animal'].str.lower().replace('snake', 'python')
print(f"      Resultado: {df['animal_ignore_case'].unique()}")

print("\n   b) Reemplazo que elimina espacios:")
df['animal_no_spaces'] = df['animal'].str.strip().str.lower().replace('snake', 'python')
print(f"      Resultado: {df['animal_no_spaces'].unique()}")

print("\n   c) Reemplazo usando expresión regular:")
import re
df['animal_regex'] = df['animal'].apply(lambda x: re.sub(r'^snake\s*$', 'python', str(x), flags=re.IGNORECASE))
print(f"      Resultado: {df['animal_regex'].unique()}")

print("\n" + "=" * 50)

# 6. Limpieza y resultado final
print("6. Limpieza y resultado final:")

# Restaurar al método simple para el ejercicio
df['animal'] = df['animal'].replace('snake', 'python')

# Eliminar filas y columnas de demostración
filas_demo = ['z', 'z2', 'z3', 'z_new'] if 'z_new' in df.index else ['z', 'z2', 'z3']
filas_existentes = [f for f in filas_demo if f in df.index]
if filas_existentes:
    df = df.drop(index=filas_existentes)

# Eliminar columnas temporales
columnas_temporales = ['animal_ignore_case', 'animal_no_spaces', 'animal_regex']
columnas_a_eliminar = [col for col in columnas_temporales if col in df.columns]
if columnas_a_eliminar:
    df = df.drop(columns=columnas_a_eliminar)

print(f"   Filas de demostración eliminadas: {filas_existentes}")
print(f"   Columnas temporales eliminadas: {columnas_a_eliminar}")
print(f"   Valores finales únicos en 'animal': {df['animal'].unique()}")

print("\n" + "=" * 50)

# 7. Resumen del cambio
print("7. Resumen del cambio realizado:")

# Mostrar filas que fueron afectadas (ahora contienen 'python')
print("   Filas que ahora contienen 'python':")
filas_python = df[df['animal'] == 'python']
if len(filas_python) > 0:
    display(filas_python)
    print(f"   Total: {len(filas_python)} fila(s)")
else:
    print("   No hay filas con 'python'")

print("\n" + "=" * 50)
print("8. DataFrame FINAL (con 'snake' cambiado a 'python'):")
display(df)

 Cambiar 'snake' por 'python' en columna 'animal':
==================================================
1. Valores actuales en columna 'animal':
   Valores únicos: ['cat' 'snake' 'dog']
   ¿Existe 'snake'?: True
   Número de entradas 'snake': 2

   Conteo completo de animales ANTES del cambio:
animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

==================================================
2. Cambiando 'snake' a 'python':
   a) Método usando .replace() en columna 'animal':
    Reemplazo completado
   Valores únicos después: ['cat' 'python' 'dog']

==================================================
3. Métodos alternativos de reemplazo:
   Restaurando 'python' a 'snake' para demostración...
   Valores restaurados: ['cat' 'snake' 'dog']

   b) Método usando .loc[] con condición:
    Reemplazo con .loc[] completado
   Valores: ['cat' 'python' 'dog']

   c) Método usando .map() con diccionario:
    Reemplazo con .map() completado
   Valores: ['cat' 'python' 'dog']

   d) Método usando .apply() con función:
    Reemplazo con .apply() completado
   Valores: ['cat' 'python' 'dog']

==================================================
4. Verificación del cambio:
   Conteo de animales DESPUÉS del cambio:
animal
cat       4
dog       4
python    2
Name: count, dtype: int64
    No hay más entradas 'snake' en la columna
    Existen 2 entradas 'python'

==================================================
5. Manejo de casos especiales:
   Añadiendo casos especiales para prueba...
   Valores únicos ahora: ['cat' 'python' 'dog' 'SNAKE' 'snake ' 'Snake']

   a) Reemplazo que ignora mayúsculas/minúsculas:
      Resultado: ['cat' 'python' 'dog' 'snake ']

   b) Reemplazo que elimina espacios:
      Resultado: ['cat' 'python' 'dog']

   c) Reemplazo usando expresión regular:
      Resultado: ['cat' 'python' 'dog']

==================================================
6. Limpieza y resultado final:
   Filas de demostración eliminadas: ['z', 'z2', 'z3']
   Columnas temporales eliminadas: ['animal_ignore_case', 'animal_no_spaces', 'animal_regex']
   Valores finales únicos en 'animal': ['cat' 'python' 'dog']

==================================================
7. Resumen del cambio realizado:
   Filas que ahora contienen 'python':

   animal  age  visits priority
c  python  0.5       2    False
g  python  4.5       1    False

   Total: 2 fila(s)

==================================================
8. DataFrame FINAL (con 'snake' cambiado a 'python'):

   animal  age  visits priority
a     cat  2.5       1      NaN
b     cat  3.0       3      NaN
c  python  0.5       2    False
d     dog  NaN       3     True
e     dog  5.0       2    False
f     cat  1.5       3    False
g  python  4.5       1    False
h     cat  NaN       1     True
i     dog  7.0       2    False
j     dog  3.0       1    False

<h1>GITHUB</h1>